@font-face {
    font-family: 'aux-font';
    font-weight: normal;
    font-style: normal;
    src: url('../fonts/svgfont/aux-font.eot');
    src: url('../fonts/svgfont/aux-font.woff2') format('woff2'),
         url('../fonts/svgfont/aux-font.woff') format('woff'),
         url('../fonts/svgfont/aux-font.ttf') format('truetype'),
         url('../fonts/svgfont/aux-font.eot?#iefix') format('embedded-opentype'),
         url('../fonts/svgfont/aux-font.svg#aux-font') format('svg');

}

.icon[class^="icon-"],
.icon[class*=" icon-"] {
    display: inline-block;
    font-family: 'aux-font';
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1;
    text-transform: none;
}

$icons: (
    ico-collaborateur: '\EA01',
    ico-consulter: '\EA02',
    ico-crayon: '\EA03',
    ico-cridonline-logo: '\EA04',
    ico-cridonline: '\EA05',
    ico-dashboard: '\EA06',
    ico-facturation: '\EA07',
    ico-questions: '\EA08',
    ico-sep: '\EA09',
    ico-support-avion: '\EA0A',
    ico-support-fusee: '\EA0B',
    ico-support-voiture: '\EA0C',
    icon-angle-bottom: '\EA0D',
    icon-angle-left: '\EA0E',
    icon-angle-right: '\EA0F',
    icon-angle-top: '\EA10',
    icon-appli: '\EA11',
    icon-cahier: '\EA12',
    icon-catalogue: '\EA13',
    icon-clock: '\EA14',
    icon-close-layer-question: '\EA15',
    icon-compte: '\EA16',
    icon-consulter: '\EA17',
    icon-flech-arrow: '\EA18',
    icon-mail: '\EA19',
    icon-menu-compte: '\EA1A',
    icon-menu-hover: '\EA1B',
    icon-menu-mobile: '\EA1C',
    icon-nl: '\EA1D',
    icon-pdf: '\EA1E',
    icon-profil: '\EA1F',
    icon-rechercher: '\EA20',
    icon-servicesplus: '\EA21',
    icon-status-repondu: '\EA22',
    icon-tel: '\EA23',
    icon-veille-juridique: '\EA24',
    icon-veille: '\EA25',
    icon-vieducridon: '\EA26'
);

@each $name, $icon in $icons {
    .icon-#{$name}:before {
        font-family: 'aux-font';
        content: $icon;
    }
    .icon-#{$name}-after:after {
        font-family: 'aux-font';
        content: $icon;
    }
}