/*   

                   _     _             _ _     _                              
    / \   _ __ ___| |__ (_)_   _____  | (_)___| |_ ___ 
   / _ \ | '__/ __| '_ \| \ \ / / _ \ | | / __| __/ _ \
  / ___ \| | | (__| | | | |\ V /  __/ | | \__ \ ||  __/
 /_/   \_\_|  \___|_| |_|_| \_/ \___| |_|_|___/\__\___| 
                                                                                   

*/ 

#content.archive{
	padding-top: 180px;

	.breadcrumbs{
		

	}

	#main{
		
		//padding-top: 50px;

		&:before{

			/*@include sprite ($before-bg-bandeau);
			content: '';
			position: absolute;
			top: 0;
			left: 50%;
			margin-left: -43px;*/ 

		}

		#inner-content{


			h1{	
				margin: 0 0 70px 0; 
			}

			#filtres_veilles{

				
				border-bottom: none;
				height: 220px;				

				#tri_matiere{					

					display: none;

					>label{}

					span.open{}
					span.close{}

					span{}

				}

				.panel{

					display: block;

					form{
						float: right;
						width: 970px;
					}

					>a {
						float: left;
					}

					ul{						
						width: 970px;
						float: right;
						margin: 0;

						>li{
							
							>label{	

								>input{
									margin-right: 10px;
								} 
								
							}
						}
					}
					#bt_valider{						
						margin-bottom: 0;
						margin-top: 20px;
    					margin-left: 0;

					}


				}

				

				#bt_valider{
					margin:0 0 20px 10px;
				}

			}

			#filtres_formations{

				>a{
					line-height: 70px;
					font-size: 30px;					

					span{}

					&:hover{

						span{
						}
					}

				}

				>a.open{

					span{}
				}


			}

			.listing{
				margin-top: 60px;

				article{

					margin-bottom: 70px;

					.date{

						&:before{
							display: none;
						}

						&:after{
						}

						.sep{
							top: -37px;
							width: 1200px;

							&:before{								
								//top: -1px;
								
							}
						}


						
					}

					.details{
						float: right;
						width: 770px; 
						margin-right: 220px;

						.block_left{
							width: 100px;
							min-height: 100px;
							margin-right: 10px;	

							.img-cat{

								width: 100px;	
								height: 100px;
										
								img{
									width: 100px;
									height: 100px;
								}
							}

						}

						// NIVEAU DES VEILLES
						&.niveau1{
							.img-cat{								
								&:after{
									content:url(../images/reference-desktop.svg);
									width: 100px;
									height: 100px;									
									top: 120px;
								}
							}
						}
						&.niveau2{
							.img-cat{
								&:after{
									content:url(../images/premium-desktop.svg);
									width: 100px;
									height: 100px;									
									top: 120px;
								}
							}
						}
						&.niveau3{
							.img-cat{
								&:after{
									content:url(../images/excellence-desktop.svg);
									width: 100px;
									height: 100px;									
									top: 120px;
								}
							}
						}

						.block_right{
							float: left;
							width: 610px;
							position: relative;

							.matiere{
								font-size: 15px;
								margin-bottom: 5px;
								top: 0; 
								
							} 

							h2{
								
								font-size: 30px;
								line-height: 30px;

							}

							.chapeau{
								font-size: 20px;
								line-height: 24px;
								margin-bottom: 20px;

							}

							.extrait{
								font-size: 15px;
								 
								
							}

							.adresse{
								
								
							}

							.mots_cles{

								margin:20px 0 0 0; 
								padding: 0;
								height: 18px;

								>li{		
								font-size: 13px;						
									

									&:before{
										

									}

									&:last-child{
										&:before{ }
									}
								}
							}

							> a{
								position: absolute;
								right: -57px;
								bottom: 0;
								line-height: 14px;
								
							}

						}
					}

					
				}

			} 

		}

	}

	
}

#content.archive-cahier{

	 #main #inner-content .listing article{

		.details{
			/*width: 100%;*/
			width: 1000px;
			margin-right: 0;

			.block_right{
				width: 1000px;

				>a{
					float: none;
					clear: both;
					position: static;
					font-size: 22px;
					line-height: 28px;
					margin-top: 5px;
					margin-left: 20px;
					width: auto;
				}

				>h2{ 
					margin-bottom: 0px;
					padding-left: 20px;
				}

				

				> ul{					
					padding: 0 0 0 20px;	

					>li{

						min-height: 90px;
						margin-bottom: 10px;

						div.img-cat{
							width: 90px;
							height: 90px;
							float: left; 

							img{
								width: 90px;
								height: 90px; 
							}
						}

						> h3{
							font-size: 16px;
							line-height: 20px;
							display: block;
						}

						> a{
						 	width: 24px;
						 	height: 24px;
						 	margin-top: 10px;
						 	margin-left: 0;

						 	&:before{
						 		@include svgicon('icon-pdf', 24px, 24px, $rouge);
						 		top: 0px; 
						 	}

						 	&:hover{
						 		&:before{
							 		@include svgicon('icon-pdf', 24px, 24px, $rouge);
							 	}
						 	}
						 }
					}				
				}
			}
		}

	}  
}

#content.archive-formations{
	#main #inner-content .listing{
		margin-top: 40px;

	}

}

