/*.sublime-project
/*.sublime-workspace
readme.txt
*.map
*.doc
*.docx
*.bak
*.log
*.old
*.launch
/.externalToolsBuilders
/.externalToolsBuilders/*
/.settings
.buildpath
.idea

/.externalToolBuilders/

/test/node_modules/

############
## Gulp
############
node_modules