/*.sublime-project
/*.sublime-workspace
readme.txt
*.map
*.doc
*.docx
*.bak
*.log
*.old
*.md
*.launch
/.externalToolsBuilders
/.externalToolsBuilders/*
/.settings
.buildpath

/.externalToolBuilders/

############
## Grunt
############
server/grunt/.sass-cache/
server/grunt/node_modules/