/******************************************************************
Site Name:
Author:

Stylesheet: Tablet & Small Desktop Stylesheet

Here's where you can start getting into the good stuff.
This size will work on iPads, other tablets, and desktops.
So you can start working with more styles, background images,
and other resources. You'll also notice the grid starts to
come into play. Have fun!

******************************************************************/


/*********************
GENERAL STYLES
*********************/

@import "partials/normalize";

// Sass variables
@import "partials/variables";

// typography
@import "partials/typography";

// Sass functions
@import "partials/functions";

// import mixins
@import "partials/mixins";

@import "modules/spritesheet.scss";


body {}

/*********************
LAYOUT & GRID STYLES
*********************/

.wrap {
	width: 1200px; 
	margin: 0 auto;
	
}

/*********************
HEADER STYLES
*********************/

.header {
	height:180px;  

	.header-sup{

		
		height: 60px;
		/*background: $vj_01; 
		display: block;*/
		

		

		/* .logo-partenaires{
			display: block; // Masquer les logos des éditeurs pour le lot 1
			width: 259px;
			height: 28px;
			position: absolute;
			left: 0;
			top: 15px;
		
			//@include sprite($partenaire-header);
		
			a{
				display: inline-block;
				@include transition(all 0.3s);
		
				&:hover{
					opacity: 0.8;
				}
			}
		
			
		
		} */

		a.contacter{display: none;}

		.rechercher{
			width: 393px;
			height: 40px;
			

			&:before{
				@include svgicon('icon-rechercher', 26px, 26px, #FFFFFF);
				top:7px;
				left: 10px;
			}

		}

		ul#rechercher{
			width: 393px;
			height: 40px;
			left: 365px; 


			>li{ 
				height: 50px;

				>a{
					@extend .do-sm;
					line-height: 40px;
					left: 365px;
					font-size: 16px;
					padding-left: 50px;


					&:before{
						@include svgicon('icon-rechercher', 26px, 26px, #FFFFFF);
						top:7px;
						left: 10px;
					}
					&:hover {
					}
				}

				&:hover{

					a.acceder-compte{
						background: #fff;
						&, &:before {
							color: $vert;
						}
					}
				}

				>ul{	
					top: 50px;		


    				&:before{
					}

					&:after{
						width: 393px;
    					height: 150px;
					}


    				&.visible{
    				}

    				> li{
    					height: 50px;
    					line-height: 50px;


    					


    					&:before{
    						content: none;
    					}


    					> a{
    						
    						height: 50px;
	    					line-height: 50px;
	    					font-size: 16px;

    						&:hover{ 
    						}

    						span{
    						}

    						

    					}

    					&:last-child{

    						> a{

    							&:hover{
    							}
    						}
    					}
    				}

				}

			}

			

			

		}

		.poser-question{
			width: 200px;
			height: 40px;
			line-height: 40px;
			left: 768px;
			font-size: 16px;
			padding-left: 50px;

			&:before{
				@include svgicon('icon-consulter', 26px, 26px, #FFFFFF);
				top:7px;
				left: 10px;
				
			}

			
		}

		#acceder-compte{
			width: 222px;
			height: 40px;
			line-height: 40px;
			right: 0;
			left:  inherit;			
			padding-left: 50px;	


			margin: 0;
			padding: 0;
			top: 10px;



			> li{

				a.acceder-compte{
					width: 222px;
					height: 40px;
					font-size: 16px;
					line-height: 40px;

					&:before{				
						@include svgicon('icon-compte', 26px, 26px, $vert);	
						top:7px;
						//left: 10px;				
					}
				}
			

				> ul.logout-2{
					bottom: -50px;
					height: 50px;

					&:after{
						width: 222px;
    					height: 50px;
					}

					> li{
						height: 50px;
						
						> a{ 							
							height: 50px;
							line-height: 50px;
							font-size: 16px;
							padding-right: 0px;
							
						}
					}
				}

			}

		}
	}

	.header-bottom{

		height: 120px;

		#inner-header{
			position: relative;

			h1, .h1 {	
				margin-left: 10px;
		
				width: 510px;
				float: left;
				height: 120px;
				background-size: 310px 85px;	
				background-position: left center;			
			}

			#bt-nav-mobile{
				display: none;
			   

			}

		}
	}
	
}


/****

  _        _ __   _______ ____    ____   ___  ____  _____ _____  _   _ _   _ _____    ___  _   _ _____ ____ _____ ___ ___  _   _ 
 | |      / \\ \ / / ____|  _ \  |  _ \ / _ \/ ___|| ____|__  / | | | | \ | | ____|  / _ \| | | | ____/ ___|_   _|_ _/ _ \| \ | |
 | |     / _ \\ V /|  _| | |_) | | |_) | | | \___ \|  _|   / /  | | | |  \| |  _|   | | | | | | |  _| \___ \ | |  | | | | |  \| |
 | |___ / ___ \| | | |___|  _ <  |  __/| |_| |___) | |___ / /_  | |_| | |\  | |___  | |_| | |_| | |___ ___) || |  | | |_| | |\  |
 |_____/_/   \_\_| |_____|_| \_\ |_|    \___/|____/|_____/____|  \___/|_| \_|_____|  \__\_\\___/|_____|____/ |_| |___\___/|_| \_|
                                                                                                                                 

*/













/*

  ____                       _                       _ _ 
 |  _ \ __ _  __ _  ___     / \   ___ ___ _   _  ___(_) |
 | |_) / _` |/ _` |/ _ \   / _ \ / __/ __| | | |/ _ \ | |
 |  __/ (_| | (_| |  __/  / ___ \ (_| (__| |_| |  __/ | |
 |_|   \__,_|\__, |\___| /_/   \_\___\___|\__,_|\___|_|_|
             |___/                                       


*/



body.page-template-front-page{

	#content {
		
		padding:180px 0 0 0;

		.row_01{

			.falsh-info{
			height: 70px; 
			padding-top: 25px;
			transition: height $duration ease, padding $duration ease;	

				.titre{
					
					
					float: left;
					width: 140px;

					.close {
						top: -15px;
						right: -1040px; 
					}

					.open{
						right: -1038px;
					}

				}

				.content{ 
					float: left;
					width: 1040px;
					

					.texte{ 
						width: 860px;
						height: 30px;
						overflow: hidden;
						padding-right: 20px;
						line-height: 30px;
						font-size: 17px;	
						float: left;		
					}

					a{
						
						height: 14px;
						line-height: 14px;
						width: 37px;
						font-size: 10px;
						top: 0;
						//right: 200px;
						//margin-top: 8px;

						&:after{border-width: 7px 0 7px 9px;}

					}
				}

				&.closed{
					padding-top: 5px;
					height: 40px; 
					.close{visibility: hidden;}

					.open{visibility: visible;}

					.titre{margin-bottom: 0;}
				}

			}

			.block_03{

				margin-top: 60px;
				//float: left;
				height: 380px;
				margin-bottom: 50px;
				padding: 0;
				width: 100%;

				.block {

					width: 380px;
					height: 380px;
					margin-right: 30px; 

					&:nth-child(3){ //margin-right: 0;
					}
					

					.content{
						height: 190px;
						

						&:before, &:after{
							height: 190px; 

						}

						&:before{							
							@include border-radius(0 22px 0 0);
						} 

						&:after{ 
							@include border-radius(22px 0 0 0);	
						}
						
						h2{ 
							font-size: 50px; 
							line-height: 40px;
							margin: 80px 0 0 0;

							span{
								font-size: 28px;
								line-height: 40px;
							}
						}

						> a{
							font-size: 48px;
							line-height: 10px;							
						}
					}

					&:hover {
						.content {
							&, &:before, &:after {
								height: 270px;
								background-position: 0 100%;
							}

							> a{ font-weight: 700;} 
						}

						
					}
				}

				.consulter{
					

					h2:before{
						display:block;
						@include svgicon('icon-consulter', 40px, 40px, #FFFFFF);		 			
						position:absolute;
						top:-55px;
						left:calc( 50% - 22px ); 
					}
					
				}

				.rechercher{

					h2:before{
						display:block;
						@include svgicon('icon-rechercher', 40px, 40px, #FFFFFF);					
						position:absolute;
						top:-55px;
						left:calc( 50% - 22px ); 
					}
					

				}

				.acceder{				

					h2:before{
						display:block;
						@include svgicon('icon-veille-juridique', 30px, 30px, #FFFFFF);					
						position:absolute;
						top:-50px;
						left:calc( 50% - 26px ); 
					}
					
				}
			}

			.partenaires{
				margin-bottom: 30px;
				clear: both;

				> div{
					font-size: 22px;

					span{
					}
				}

				ul{
					width: 305px;

					li{

						&:first-child{
						}

						img{
							height: 40px;
						}
					}
				}
			}

		}


		.row_02{
			padding-top: 25px;

			&:before{
			}

			#onglets{
				/*margin-bottom: 40px;	*/	
				

				h3{
					font-size: 30px;
					line-height: 70px;
					
				}	
			}

			.details{				

				.accordion{
					

					.panel{

						.date{
							
							width: 180px;		

							span.jour{

								&:before{
									left: 170px;
								}
							}					
						}


						
						.content{							

							width: 640px; 	
							max-width: 640px; 	
							padding: 0 30px 0 30px;						

							> ul{
								

								> li{									
									float: none;
									clear: both;
									height: 80px;									

									&:first-child{padding-bottom:0;}
									&:nth-child(2){padding:0;}
									&:last-child{padding-top: 0; height: 59px;}

									>img{
										
										/*margin:0 0 43px 0;
										float: left;
										margin-right: 10px;*/
									}

									h4{
										font-size: 30px;
										line-height: 23px;										
									}

									.chapeau-categorie{		 

										font-size: 15px;
										line-height: 18px;
										width: 450px;
									}

									.adresse{
										font-size: 12px;
										line-height: 14px;
									}

									> a {		

									position: absolute;
									right: 0;
									top: 45px;

									}
								}
							}
						}

					}

					.blockEnd{						
						
					}
					
					> a{/*Lien toutes la veille juridique*/						
						margin: 40px 0 50px 0;
						
					}
				}

				#accordion-formations{ /* specifique accordion formations*/
					.panel .content > ul > li{

						h4{
							line-height: 30px;
						}

						.chapeau-categorie{
							max-height: 56px;
							height: auto;
						}

						

					} 
				}

			}
		}

		
		.row_03{


			padding-top:0px;
			height: 657px; 

			h2{}

			a{
				&:after{}

				span{}
			}

			.cridonline{
				width: 600px;
				height: 585px;
				padding: 115px 115px 80px 115px;
				margin-left: 20px;
				margin-bottom: 0; 
				position: absolute;
				right: 0;
				top: 35px;

				&:before{					
					@include svgicon('icon-angle-bottom', 20px, 19px, $bg-top-footer); 
				}

				&:after{					
					top: 115px;
					@include svgiconafter('ico-cridonline-logo', 112px, 112px, #FFF);
					margin-left: -135px; 
				}

				ul{					
					margin-top: 160px;
					height: 130px;

					li{						
						padding-left: 18px;	
						&:before{}
					}
				}

				>a{
					font-size: 20px;

					&:after{
						top: 30px;
					}

					&.link1{
						margin-right: 30px;
					}
				}
			}

			.veille-juridique{
				width: 585px;
				height: 232px;
				
				position: absolute;
				padding: 105px 0 0 0;
				left: 0;
				top: 35px;
				margin-right: 0px;

				cursor: pointer;

				&:before{
					display:block;
					@include svgicon('icon-veille', 49px, 49px, #FFF);	
					top: 38px;
					left: 50%;
					margin-left: -25px;				
					


				}

				&:after{
					//display:block;
					@include svgiconafter('icon-angle-top', 20px, 19px, $bg-top-footer);
					position: absolute;
					top: 0px;
					/*left: 50%;
					margin-left: -32px; 
					transition: color $duration ease;*/
				}

				.content{

					h2{
						
						margin: 0 ;					
					} 

					> a{					
						margin: 5px 0 0 0; 
					} 
				}
			}

			.info-flash-exclu, .cridon-app{
				width: 282px;
				height: 332px;
				position: absolute;
				padding-top: 97px;

				cursor: pointer;


				&:before{
					display:block;
								
					position:absolute;
					top: 32px;
					left: 50%;
					margin-left: -26px;

				}

				&:after{
					//content:'';
					display:block;
					position: absolute;
					top: 0px;
					left: 50%;
					margin-left: -32px;


				}
 

			}

			.cridon-app{				
				margin-right: 30px; 				
				top: 288px;
				left: 303px;

				h2{
					width: 90%;
				}

				a{
					margin-top: 10px;
				}

				&:before{					
					@include svgicon('icon-appli', 51px, 51px, #FFF);
					margin-left: -14px;
				}

				&:after{					
					//@include sprite ($angle-before-veille-juri);					
					@include svgiconafter('icon-angle-top', 20px, 20px, $bg-top-footer);
				}


				.img-main{						
					background: url(../images/origin/img-main-appli-desktop.png);
					background-size: 100%;
					width: 131px;
					height: 116px;  
					position: absolute;
					left: 0px;
					bottom: 0px; 



				}

				.img-appli{	
					

					background: url(../images/origin/ico-appli-tablette.png);
					background-size: 100%;
					position: absolute;
					right: 23px;
					bottom: 9px; 

					width: 66px;
					height: 109px;
					display: block;
					
				}

			}

			.info-flash-exclu{

				left: 0; 
				top: 288px;
				&:before{					
					@include svgicon('icon-nl', 51px, 51px, #FFF);
				}

				&:after{					
					//@include sprite ($angle-before-info-flash);					
					@include svgiconafter('icon-angle-top', 20px, 20px, $bg-top-footer); 
				}

			}
			
		}

		.row_04{
			.actualite{				

				.img{
					height: 225px;
					width: 480px;
					float: left;
					margin-bottom: 0px;
					margin-right: 30px;
					
				}

				

				.content{
					width: 510px;					
					padding: 0 0 0 40px;					

					> h3{}

					.chapeau{
						text-align: left;
						font-size: 20px;
						margin-top: 10px;						

					} 

					.description{
						width: 470px;
					}

					> a{						
						margin: 15px 0 0 0;
						/*position: absolute;
						bottom: 0px;*/
					}

				}

			}

			a.LienVieCridon{/*Lien toutes la veille juridique*/	
				
			}

		}

	}
}


#regles-facturation{
	h2{
		font-size: 20px !important;
	}
}




/* CONTENT */

#content.page,
#content.archive,
#content.single,
body.page #content,
body.single #content
{
	padding-top: 180px; 

	.breadcrumbs{

	}

	#main{	

	padding-top: 50px;	


		.h1{
			
			margin: 0 0 50px 0; 
			font-size: 50px;
			line-height: 40px;
		}

		article{

			section{

				font-size: 15px;
				line-height: 18px;

				

			    h2, h3{		    	
			    	font-size: 20px;
			    	line-height: 24px;
			    	
			    }

			    h4{font-size: 18px;}
				
				p{
			    font-size: 15px;
			    line-height: 18px;
			    margin: 10px 0;}
		    }

		}
		
	}

}

#content.page{

	.gform_wrapper{

		.top_label select.large{
			max-width: 100%; 
			width: 100%; 
			margin-right: 0;
		}

		textarea.large{
			max-width: 100%; 
			width: 100%;
		}
		

		.gform_body{

			.gfield { /*li*/
				

				.gfield_label{
					font-size: 18px;
					margin: 5px 0;
					
				}

				.ginput_container{
					

					input{
						
					}
				}

				.gfield_captcha_input_container {
					input{
						max-width: 100%;
						width: 100%;
					}

					
				}

				&.obligatoire {
					max-width: 100%;
					width: 100%;

					

					span{
						
					}
				}
			}

		}

		.gform_footer {

			.gform_button {
				display: inline-block;
			    padding: 5px 10px;
			    background: #009999;
			    color: #FFF;
			    text-transform: uppercase;
			    font-size: 14px;
			    position: relative;
			    text-decoration: none;
			    transition: all 0.3s;
			    border: none;

			}

		}
	}
}






/*

  ____                                                                      _       
 |  _ \ __ _  __ _  ___   _ __ ___   ___  _ __     ___ ___  _ __ ___  _ __ | |_ ___ 
 | |_) / _` |/ _` |/ _ \ | '_ ` _ \ / _ \| '_ \   / __/ _ \| '_ ` _ \| '_ \| __/ _ \
 |  __/ (_| | (_| |  __/ | | | | | | (_) | | | | | (_| (_) | | | | | | |_) | ||  __/
 |_|   \__,_|\__, |\___| |_| |_| |_|\___/|_| |_|  \___\___/|_| |_| |_| .__/ \__\___|
             |___/                                                   |_|            

*/



/* #content.page-mon-compte{

	#main{

        #inner-content{
            overflow: hidden;

			h1{ float: left;}

			a.logout{
				font-size: 22px;
			    line-height: 28px;
			    margin-top: 5px;
			    margin-left: 20px;
			}



			> ul{
				clear: both;
				

				>li{
					
					width: 25%;
					float: left;
					margin-right: 0px;

					padding-right: 30px;

					&:last-child{
						margin-right: 0;
						padding-right: 0;
					}

					.bt{

						height: 50px;
						font-size: 24px;
						padding: 0;  
						line-height: 20px; 
						width: 300px;


						

						&:before{}

					}

					div.pannel{
						display: none;
						padding: 90px 0 30px 0;

						h2{
							font-size: 30px;
							line-height: 20px;	
							margin-bottom: 35px;
							
						}
					}					

					
					&.active{

						
						div.pannel{
								width: 1200px !important;
								
							}

						div#mon-profil.pannel{							
							left: -600px; 
							
						}

						div#tableau-de-bord.pannel{							
							left:0px;
							
						}

						div#mes-questions.pannel{
							left:-300px;
						}

						div#regles-facturation.pannel{
							left: -900px;
						}

					}

				}

			}

		}	
	}
	


} */

/*

  ____                                    _             _   
 |  _ \ __ _  __ _  ___    ___ ___  _ __ | |_ __ _  ___| |_ 
 | |_) / _` |/ _` |/ _ \  / __/ _ \| '_ \| __/ _` |/ __| __|
 |  __/ (_| | (_| |  __/ | (_| (_) | | | | || (_| | (__| |_ 
 |_|   \__,_|\__, |\___|  \___\___/|_| |_|\__\__,_|\___|\__|
             |___/                                          

*/

#content.page-contact{

	#inner-content{

		#main{

			article{

				header{
					height: 50px;
				}

				.entry-content{

					> p{					
					    font-size: 30px;
					    line-height: 30px;
					    width: 660px;
					    margin-top: 50px;
					    margin-bottom: 50px;
					}

					> img{
						width: 980px;
						margin: 0 auto;
						display: block;
					}
				}

				footer{

					> div{
						width: 50%;

						> h2{
						    font-size: 30px;
						    line-height: 35px;
						}
					}

					.form{
						padding-right: 100px;
					}

					.coordonnees{

						padding-left: 100px;

						table{
							

							tr{


								td{
									
									font-size: 18px;
									line-height: 20px;

									span{ 
										font-size:15px;
									}

									a{
										font-size: 15px;

										&:hover{
										}
									}
								}

								>td:first-child{
									width: 340px;
								}

								>td:last-child{
									text-align: right;
									padding-right: 20px;
								}

								&:nth-child(4){
									> td{
										border-top:solid 3px #e6e6e6;
										border-bottom:solid 3px #e6e6e6;
									}
								}
							}
						}

						.mapp-layout{
							border:0px !important;
						}
					}
				}
			}
		}
	}

	footer.article-footer{
		padding: 100px 0 0 0;
	}

}

















/*********************
NAVIGATION STYLES
*********************/

#menu{display: block; visibility: visible;}
#menu_mobile{display: none;}

.nav {

	border: 0;

	ul {

		margin-top:0;

	}

	li {
		float: left;
		position: relative;

		a {
			
			border-bottom: 0; 

			/*
			you can use hover styles here even though this size
			has the possibility of being a mobile device.
			*/
			&:hover, &:focus {

				color:$rouge;
				
				text-decoration: none;
			}
		}

		&:first-child {}
		&:last-child {}

		/*
		plan your menus and drop-downs wisely.
		*/
		ul.sub-menu,
		ul.children {
		
			margin-top: 0;
			//border: 1px solid #ccc;
			border-top: 0;
			position: absolute;
			//visibility: hidden; /* sous menu*/
			z-index: 8999;

			li {

				a {
					padding-left: 0;
					border-right: 0;
					display: block;
					//width: 180px;
					//border-bottom: 1px solid #ccc;

					&:hover,
					&:focus {}

					&:link {}
				}

				&:first-child {}

				&:last-child {

					a {
						border-bottom: 0;
					}
				}

				/*
				if you need to go deeper, go nuts
				just remember deeper menus suck
				for usability. k, bai.
				*/
				ul {
					top:0;
					left:100%;
				}
			}

			/* highlight sub-menu current page */
			li.current-menu-item,
			li.current_page_item,
			li.current_page_ancestor {
				a {}
			}
		}

		/* showing sub-menus */
		&:hover > ul {
			top: auto;
			visibility:visible;

			> li > ul{
				top: auto;
				visibility:visible;

			}
		}

		

	} /* end .menu ul li */

	/* highlight current page */
	li.current-menu-item,
	li.current_page_item,
	li.current_page_ancestor {
		a {}
	}  /* end current highlighters */

} /* end .nav */

/*********************
SIDEBARS & ASIDES
*********************/

.sidebar {
	margin-top: 2.2em;
}


/*********************
FOOTER STYLES
*********************/

.footer {	

	.block-links {
		
		padding: 60px 0; 

		ul {
			height: 90px;

			li {
				width: 380px;
				height: 90px;
				font-size: 20px;
				padding: 0px 15px;		

				span{
					margin-top: 25px;
				}					

				a {
					font-size: 20px;
					bottom: 16px;
					padding-right: 23px;
					right: 15px;
					

					&:after{
						font-size: 40px;
						top: 1px;
					}
				}

				&:after {					 
					//@include sprite($angle-before-links-footer-tablette);
					@include svgiconafter('icon-angle-bottom', 15px, 15px, $bg-top-footer);
					left: 90px;
				}

				&:before {
					left: 25px;
					margin-top: -36px;
				}



				&.formations {
					margin-right: 30px;					

					&:before {
						@include svgicon('icon-catalogue', 73px, 73px,$white);				

					}
				}

				&.cahier {
					margin-right: 30px;					

					&:before {
					@include svgicon('icon-cahier', 73px, 73px,$white);			

					}
				}

				&.services {					
					&:before {
						@include svgicon('icon-servicesplus', 73px, 73px,$white);		

					}
				}
			}
		}
	}

	.footer-cridon {
		padding: 45px 0 60px 0;
		min-height: default;

		.block-left {
			width: 650px;
			margin-right: 170px;

			&:before {}

			&:after{ display: none;}

			.chapeau {} 
			.descriptif {
				display: block;
				font-size: 15px; 
				line-height: 18px;
				font-family: $helvetica;
				color:rgba(255, 255, 255, 0.6);
				
			}
			.partenaires{
				margin-top: 75px;

				> div{
					
					

					span{}
				}

				ul{
					width: auto;

					li{
						
						&:first-child{}

						img{ height: 30px;}
					}
				}
				
				
			}

		}
		&:after {
		}

	}
	.block-right {

		width: 380px;	

		ul{
			li{
				padding-left: 62px;

				&:before{					
					left: 3px;
				}
				
				h4{
					font-size: 20px; 
				}
			}
		}
		
	}
	.footer-bottom {
		height: inherit;
		padding: 0;
		margin: 0;

		//line-height: 50px;

		#inner-footer{
			padding: 0;
			

			> p{
				display: inline-block;
				float: left;
				width: 380px;
				text-align:left;
				font-size: 14px;
				line-height: 50px;
			}

			nav {
				width: 440px;
				float: left;
				height: 50px;
				line-height: 50px;
				margin: 0;
				padding: 0;

				font-size: 14px;

				ul{
					display: inline-block;
				}

				
			}
			.logoJP {
				float: right;
				
				margin-top: 0px;

				height: 50px;
    			line-height: 50px;
				&:before{top:13px;}

			}

		}

		
	}

}

