/******************************************************************
Site Name:
Author:

Stylesheet: Tablet & Small Desktop Stylesheet

Here's where you can start getting into the good stuff.
This size will work on iPads, other tablets, and desktops.
So you can start working with more styles, background images,
and other resources. You'll also notice the grid starts to
come into play. Have fun!

******************************************************************/


/*********************
GENERAL STYLES
*********************/

@import "partials/normalize";

// Sass variables
@import "partials/variables";

// typography
@import "partials/typography";

// Sass functions
@import "partials/functions";

// import mixins
@import "partials/mixins";

@import "modules/spritesheet.scss";


body {}

/*********************
LAYOUT & GRID STYLES
*********************/

.wrap {
	width: 1200px; 
	margin: 0 auto;
	
}

/*********************
HEADER STYLES
*********************/

.header {
	height:180px; 

	.header-sup{

		
		height: 60px;
		/*background: $vj_01; 
		display: block;*/
		

		

		.logo-partenaires{
			display: none; // Masquer les logos des éditeurs pour le lot 1
			width: 366px;
			height: 40px;
			position: absolute;
			left: 0;
			top: 15px;

			@include sprite($partenaire-header);

		}

		a.contacter{display: none;}

		.rechercher{
			width: 393px;
			height: 40px;
			line-height: 40px;
			left: 365px;
			font-size: 16px;
			padding-left: 50px;

			&:before{
				@include svgicon('icon-rechercher', 26px, 26px, #FFFFFF);
				top:7px;
				left: 10px;
			}

		}

		.poser-question{
			width: 200px;
			height: 40px;
			line-height: 40px;
			left: 768px;
			font-size: 16px;
			padding-left: 50px;

			&:before{
				@include svgicon('icon-consulter', 26px, 26px, #FFFFFF);
				top:7px;
				left: 10px;
				
			}

			
		}

		.acceder-compte{
			width: 222px;
			height: 40px;
			line-height: 40px;
			right: 0;
			left:  inherit;
			font-size: 16px;
			padding-left: 50px;			

			&:before{
				
				@include svgicon('icon-compte', 26px, 26px, $vert);	
				top:7px;
				left: 10px;				
			}

		}
	}

	.header-bottom{

		height: 120px;

		#inner-header{
			position: relative;

			h1, .h1 {	
				margin-left: 10px;
		
				width: 510px;
				float: left;
				height: 120px;
				background-size: 310px 85px;	
				background-position: left center;			
			}

			#bt-nav-mobile{
				display: none;
			   

			}

		}
	}
	
}


/****

  _        _ __   _______ ____    ____   ___  ____  _____ _____  _   _ _   _ _____    ___  _   _ _____ ____ _____ ___ ___  _   _ 
 | |      / \\ \ / / ____|  _ \  |  _ \ / _ \/ ___|| ____|__  / | | | | \ | | ____|  / _ \| | | | ____/ ___|_   _|_ _/ _ \| \ | |
 | |     / _ \\ V /|  _| | |_) | | |_) | | | \___ \|  _|   / /  | | | |  \| |  _|   | | | | | | |  _| \___ \ | |  | | | | |  \| |
 | |___ / ___ \| | | |___|  _ <  |  __/| |_| |___) | |___ / /_  | |_| | |\  | |___  | |_| | |_| | |___ ___) || |  | | |_| | |\  |
 |_____/_/   \_\_| |_____|_| \_\ |_|    \___/|____/|_____/____|  \___/|_| \_|_____|  \__\_\\___/|_____|____/ |_| |___\___/|_| \_|
                                                                                                                                 

*/


#layer-posez-question{
	
	width: 1200px;
	max-width: 1200px;
	margin:0 auto;
	padding: 0;

	.block_top{
		padding: 20px 20px 0 20px;
		background: #FFF;
		//height: 623px;

		> .titre{

			height: 80px;
			line-height: 80px;


			.close_layer{				
				right: 30px;
				cursor: pointer;

				&:before{
					@include svgicon('icon-close-layer-question', 36px, 36px, #FFF);					
					top: 3px;
					left: 3px;
				}

				&:hover{
					&:before{
						@include svgicon('icon-close-layer-question', 36px, 36px, $bleu);
						font-weight: 700;
					}
				}

				

			}

			.texte{	
				height: 80px;
				line-height: 80px;		
				font-size: 50px;	
				padding-left: 70px;
    			margin-left: 30px;

				&:before{
					@include svgicon('icon-consulter', 45px, 45px, #FFFFFF); 
					margin-top: -23px;
				}

			}
			
		}

		.onglets{
			
			width: 1100px;
			margin-left: 30px;

			.h2{
				//width: 50%;				
				font-size: 30px;
				height: 120px; 
				line-height: 120px;
			}

			
		}

		.details{
			
			width: 1100px;
			padding-bottom: 50px;

			.consultation{				

				#owl-support{

					-webkit-perspective: 1000px;
						-webkit-transform-style: preserve-3d;
						-moz-transform-style: preserve-3d;
						transform-style: preserve-3d;

					
					.owl-item{
						cursor: pointer;
						@include transition(top 0.3s);
						
						-webkit-perspective: 1000px;
						-webkit-transform-style: preserve-3d;
						-moz-transform-style: preserve-3d;
						transform-style: preserve-3d;
						

						.item{
							
							width: 330px;

							&:before{								
								@include transition(all 0.5s);
							}

							&:last-child{
								margin-right: 0; 
							}

						}

						a{
							
							font-size: 20px;
							@include transition(all 0.3s);

							&:before{
								@include svgicon('icon-angle-bottom', 15px, 15px, $vj_03);
								position: absolute;
								left: 50%;
								margin-left: -24px;
								bottom:-15px;

								@include transition(all 0.3s);
							}

						}

						.description{							
							text-align: justify;
						}

						&:nth-child(2){

							.item{
								margin:190px auto 0 auto;
							}
						}

						&:nth-child(3){
							.item{
								float: right;
							}							
						}

					}

				}				

			}

			.question{
				padding-top: 60px;
				width: 100%;

				.block_gauche{
					display: block;
					width: 350px;
					float: left;
					margin-right: 40px;
					padding-bottom: 20px;

					.img{

						background: url(../images/img-layer-posez-question.jpg) center center no-repeat;
						background-size: cover;
						width: 350px;
						height: 204px; 
					}

					.titre{
						font-size: 30px;
						line-height: 30px;
						color:$vj_02;
						text-transform: uppercase;
						@extend .do-me;
						margin: 30px 0;
						display: inline-block;

					}

					>p{
						font-family: $garamond;
						font-size: 20px; 
						color:$rouge;
						line-height: 24px;
						margin: 0;
					}
					
				}

				.block_droit{
					width: 710px;
					clear: inherit;
					float: left;



					/*clear: both;
					border:solid 1px transparent;*/

					.form{
						/*width: 100%;
						padding-bottom: 20px;*/
						margin-top: 0px;
						//margin-bottom: 40px;

						input[type="text"], textarea{							
							margin-bottom: 15px;


						}

						select{							
							margin-bottom: 15px;
						}

						input[type="submit"]{

							margin-bottom: 0;
							@include transition(all 0.3s);

							&:hover{

								color:$vert;
								background: transparent;

							}
						}

						input[type="file"]{
							
						}

						.fileUpload {
						 

						}
						.fileUpload input.upload {						  
						}

						.sep{							

						}




						.fileUpload {
						    

                            .btn-reset {
                                
							    float: right;
							    font-size: 50px;
							    height: 35px;
							    line-height: 18px;
							    position: relative;
							    top: -8px;
							    width: 35px;
							    z-index: 102;

                            }
                            span {
                                display: inline-block;
                                float: left;
                                padding: 0 10px;
                                height: 100%;
                                background: #ffffff;
                                color: #000000;
                            }
                            span.fileName {
                                max-width: 400px;

                            }
                            span.fileButtonFront {
                                float: none;
							    position: absolute;
							    right: 33px;

                            }
						}

						.fileUpload input.upload {
						    width: 185px; 
						    right: 33px;
						    z-index: 100;
						}

						.sep{
							



						}

						
					}
				}

			}		
			
			
		}

		

	}

	.block_bottom{
		padding: 60px 50px 20px 50px;
		height: 450px;	


		.block_03{

			width: 100%;
			padding-top: 0;
			margin-top: 0;


			.block {
				width: 330px;
				height: 340px;
				margin-right: 50px;

				&:nth-child(3){ margin-right: 0;} 


				&:hover {
					.content {
						&, &:before, &:after {
							height: 270px;
							background-position: 0 100%;
						}
					}
				}


				.content{
					height: 150px;

					&:before, &:after{
						content: '';
						width: calc(100% / 2);
						position: absolute;
						top: 0;
						display: block;
						height: 150px;
						transition: height $duration ease, background $duration ease;
						border:none;
						box-sizing: border-box;

						background: $vert;
						@include gradient-opacity(transparentize($vert, 0.4),opacify($vert, 1));
						background-size: 100% 200%;

					}

					&:before{
						
						@include border-radius(0 20px 0 0);
						left: 0;
					}

					&:after{

						@include border-radius(20px 0 0 0);
						right: 0;


					}

										
					.h2{ 
						font-size: 50px;
						line-height: 45px;
						margin-top: 30px;

						span{
							font-size: 28px;
							line-height: 30px;

						}

						&:before{
						}
					}

					> a{
					}
				}

				
			}

			
			
		}

		

	}

	
}










/*

  ____                       _                       _ _ 
 |  _ \ __ _  __ _  ___     / \   ___ ___ _   _  ___(_) |
 | |_) / _` |/ _` |/ _ \   / _ \ / __/ __| | | |/ _ \ | |
 |  __/ (_| | (_| |  __/  / ___ \ (_| (__| |_| |  __/ | |
 |_|   \__,_|\__, |\___| /_/   \_\___\___|\__,_|\___|_|_|
             |___/                                       


*/



body.page-template-front-page{

	#content {
		
		padding:180px 0 0 0;

		.row_01{

			.falsh-info{
			height: 70px; 
			padding-top: 25px;
			transition: height $duration ease, padding $duration ease;	

				.titre{
					
					
					float: left;
					width: 140px;

					.close {
						top: -15px;
						right: -1040px; 
					}

					.open{
						right: -1038px;
					}

				}

				.content{ 
					float: left;
					width: 1040px;
					

					.texte{ 
						width: 860px;
						height: 30px;
						overflow: hidden;
						padding-right: 20px;
						line-height: 30px;
						font-size: 17px;	
						float: left;		
					}

					a{
						
						height: 14px;
						line-height: 14px;
						width: 37px;
						font-size: 10px;
						top: 0;
						//right: 200px;
						//margin-top: 8px;

						&:after{border-width: 7px 0 7px 9px;}

					}
				}

				&.closed{
					padding-top: 5px;
					height: 40px; 
					.close{visibility: hidden;}

					.open{visibility: visible;}

					.titre{margin-bottom: 0;}
				}

			}

			.block_03{

				margin-top: 60px;
				//float: left;
				height: 380px;
				margin-bottom: 60px;
				padding: 0;
				width: 100%;

				.block {

					width: 380px;
					height: 380px;
					margin-right: 30px; 

					&:nth-child(3){ //margin-right: 0;
					}
					

					.content{
						height: 190px;
						

						&:before, &:after{
							height: 190px; 

						}

						&:before{							
							@include border-radius(0 22px 0 0);
						} 

						&:after{ 
							@include border-radius(22px 0 0 0);	
						}
						
						h2{ 
							font-size: 50px; 
							line-height: 40px;
							margin: 80px 0 0 0;

							span{
								font-size: 28px;
								line-height: 40px;
							}
						}

						> a{
							font-size: 48px;
							line-height: 10px;							
						}
					}

					&:hover {
						.content {
							&, &:before, &:after {
								height: 270px;
								background-position: 0 100%;
							}

							> a{ font-weight: 700;} 
						}

						
					}
				}

				.consulter{
					

					h2:before{
						display:block;
						@include svgicon('icon-consulter', 40px, 40px, #FFFFFF);		 			
						position:absolute;
						top:-55px;
						left:calc( 50% - 22px ); 
					}
					
				}

				.rechercher{

					h2:before{
						display:block;
						@include svgicon('icon-rechercher', 40px, 40px, #FFFFFF);					
						position:absolute;
						top:-55px;
						left:calc( 50% - 22px ); 
					}
					

				}

				.acceder{				

					h2:before{
						display:block;
						@include svgicon('icon-veille-juridique', 30px, 30px, #FFFFFF);					
						position:absolute;
						top:-50px;
						left:calc( 50% - 26px ); 
					}
					
				}
			}

		}


		.row_02{
			padding-top: 25px;

			&:before{
			}

			#onglets{
				/*margin-bottom: 40px;	*/	
				

				h3{
					font-size: 30px;
					line-height: 70px;
					
				}	
			}

			.details{				

				.accordion{
					

					.panel{

						.date{
							
							width: 180px;		

							span.jour{

								&:before{
									left: 170px;
								}
							}					
						}


						
						.content{							

							width: 640px; 	
							max-width: 640px; 	
							padding: 0 30px 0 30px;						

							> ul{
								

								> li{									
									float: none;
									clear: both;
									height: 80px;									

									&:first-child{padding-bottom:0;}
									&:nth-child(2){padding:0;}
									&:last-child{padding-top: 0; height: 59px;}

									>img{
										
										/*margin:0 0 43px 0;
										float: left;
										margin-right: 10px;*/
									}

									h4{
										font-size: 30px;
										line-height: 23px;										
									}

									.chapeau-categorie{		 

										font-size: 15px;
										line-height: 18px;
										width: 450px;
									}

									.adresse{
										font-size: 12px;
										line-height: 14px;
									}

									> a {		

									position: absolute;
									right: 0;
									top: 45px;

									}
								}
							}
						}

					}

					.blockEnd{						
						
					}
					
					> a{/*Lien toutes la veille juridique*/						
						margin: 40px 0 50px 0;
						
					}
				}

				#accordion-formations{ /* specifique accordion formations*/
					.panel .content > ul > li{

						h4{
							line-height: 30px;
						}

						.chapeau-categorie{
							max-height: 56px;
							height: auto;
						}

						

					} 
				}

			}
		}

		
		.row_03{padding-top:120px; 

			h2{
				/*font-size: 30px;
				line-height: 35px;*/

					
			}

			a{
				/*font-size: 20px;
				line-height: 20px;*/

				&:after{
				}

				span{
				}
			}

			> div{ cursor: pointer;}

			.cridon-app{
				width: 580px;
				height: 175px;
				padding: 35px 0 0 240px;
				position: relative;
				float: left;
				margin-right: 30px;
				/*padding:35px 0;
				margin-bottom: 20px;*/

				&:before{
					display:block;
					@include svgicon('icon-appli', 40px, 40px, $gris-appli);					
					position:absolute;
					top:-80px;
					left: 50%;
					margin-left: -10px;
					;


				}

				&:after{
					//content:'';
					//@include sprite ($angle-before-cridon-poche);
					display:block;
					@include svgiconafter('icon-angle-top', 20px, 20px, $gris-appli);
					position: absolute;
					top: -19px;
					left: 50%;
					margin-left: -32px; 
					transition: color $duration ease;
				}

				.content{

					.img-main{						
						background: url(../images/origin/img-main-appli-desktop.png);
						width: 237px;
						height: 210px;
						left: -25px;					

					}

					.img-appli{	
						right: 10px;
						bottom: 18px; 
						
					}

					h2{
						
						margin: 0 ;					
					} 

					> a{					
						margin: 5px 0 0 0; 
					} 
				}
			}

			.info-flash-exclu, .veille-juridique{
				width: 280px;
				float: left;		

				&:before{
					display:block;
								
					position:absolute;
					top:-80px;
					left: 50%;
					margin-left: -20px;

				}

				&:after{
					//content:'';
					display:block;
					position: absolute;
					top: -19px;
					left: 50%;
					margin-left: -32px; 
				}
 

			}

			.veille-juridique{				
				margin-right: 30px; 

				&:before{					
					@include svgicon('icon-veille', 40px, 40px, $jaune-accueil);
				}

				&:after{					
					//@include sprite ($angle-before-veille-juri);					
					@include svgiconafter('icon-angle-top', 20px, 20px, $jaune-accueil);
				}

			}

			.info-flash-exclu{
				&:before{					
					@include svgicon('icon-nl', 40px, 40px, $bleu);
				}

				&:after{					
					//@include sprite ($angle-before-info-flash);					
					@include svgiconafter('icon-angle-top', 20px, 20px, $bleu);
				}

			}
			
		}

		.row_04{
			.actualite{				

				.img{
					height: 225px;
					width: 480px;
					float: left;
					margin-bottom: 0px;
					margin-right: 30px;
					
				}

				

				.content{
					width: 510px;					
					padding: 0 0 0 40px;					

					> h3{}

					.chapeau{
						text-align: left;
						font-size: 20px;
						margin-top: 10px;						

					} 

					.description{
						width: 470px;
					}

					> a{						
						margin: 15px 0 0 0;
						/*position: absolute;
						bottom: 0px;*/
					}

				}

			}

			a.LienVieCridon{/*Lien toutes la veille juridique*/	
				
			}

		}

	}
}




/*

  ____                    _     _     _                   _ _ _           
 |  _ \ __ _  __ _  ___  | |   (_)___| |_ ___  __   _____(_) | | ___  ___ 
 | |_) / _` |/ _` |/ _ \ | |   | / __| __/ _ \ \ \ / / _ \ | | |/ _ \/ __|
 |  __/ (_| | (_| |  __/ | |___| \__ \ ||  __/  \ V /  __/ | | |  __/\__ \
 |_|   \__,_|\__, |\___| |_____|_|___/\__\___|   \_/ \___|_|_|_|\___||___/
             |___/                                                        


*/   

#content.archive{
	padding-top: 180px;

	.breadcrumbs{
		

	}

	#main{
		
		//padding-top: 50px;

		&:before{

			/*@include sprite ($before-bg-bandeau);
			content: '';
			position: absolute;
			top: 0;
			left: 50%;
			margin-left: -43px;*/ 

		}

		#inner-content{


			h1{	
				margin: 0 0 70px 0; 
			}

			#filtres_veilles{

				
				border-bottom: none;
				height: 220px;				

				#tri_matiere{					

					display: none;

					>label{}

					span.open{}
					span.close{}

					span{}

				}

				.panel{

					display: block;

					form{
						float: right;
						width: 970px;
					}

					>a {
						float: left;
					}

					ul{						
						width: 970px;
						float: right;
						margin: 0;

						>li{
							
							>label{	

								>input{
									margin-right: 10px;
								} 
								
							}
						}
					}
					#bt_valider{						
						margin-bottom: 0;
						margin-top: 20px;
    					margin-left: 0;

					}


				}

				

				#bt_valider{
					margin:0 0 20px 10px;
				}

			}

			#filtres_formations{

				>div{
					line-height: 70px;
					font-size: 30px;					

					span{}

					&:hover{

						span{
						}
					}

				}

				>div.open{

					span{}
				}


			}

			.listing{
				margin-top: 60px;

				article{

					margin-bottom: 70px;

					.date{

						&:before{
							display: none;
						}

						&:after{
						}

						.sep{
							top: -37px;
							width: 1200px;

							&:before{								
								//top: -1px;
								
							}
						}


						
					}

					.details{
						float: right;
						width: 770px; 
						margin-right: 220px;

						.block_left{
							width: 100px;
							min-height: 100px;
							margin-right: 10px;	

							.img-cat{

								width: 100px;	
								height: 100px;
										
								img{
									width: 100px;
									height: 100px;
								}
							}

						}

						.block_right{
							float: left;
							width: 610px;
							position: relative;

							.matiere{
								font-size: 15px;
								margin-bottom: 5px;
								top: 0; 
								
							} 

							h2{
								
								font-size: 30px;
								line-height: 30px;

							}

							.chapeau{
								font-size: 20px;
								line-height: 24px;
								margin-bottom: 20px;

							}

							.extrait{
								font-size: 15px;
								 
								
							}

							.adresse{
								
								
							}

							.mots_cles{

								margin:20px 0 0 0; 
								padding: 0;
								height: 18px;

								>li{		
								font-size: 13px;						
									

									&:before{
										

									}

									&:last-child{
										&:before{ }
									}
								}
							}

							> a{
								position: absolute;
								right: -57px;
								bottom: 0;
								line-height: 14px;
								
							}

						}
					}

					
				}

			} 

		}

	}

	
}

#content.archive-cahier{

	 #main #inner-content .listing article{

		.details{
			/*width: 100%;*/
			width: 1000px;
			margin-right: 0;

			.block_right{
				width: 1000px;

				>a{
					float: none;
					clear: both;
					position: static;
					font-size: 22px;
					line-height: 28px;
					margin-top: 5px;
					margin-left: 20px;
					width: auto;
				}

				>h2{ 
					margin-bottom: 0px;
					padding-left: 20px;
				}

				

				> ul{					
					padding: 0 0 0 20px;	

					>li{

						min-height: 90px;
						margin-bottom: 10px;

						div.img-cat{
							width: 90px;
							height: 90px;
							float: left; 

							img{
								width: 90px;
								height: 90px; 
							}
						}

						> h3{
							font-size: 16px;
							line-height: 20px;
							display: block;
						}

						> a{
						 	width: 24px;
						 	height: 24px;
						 	margin-top: 10px;
						 	margin-left: 0;

						 	&:before{
						 		@include svgicon('icon-pdf', 24px, 24px, $rouge);
						 		top: 0px; 
						 	}

						 	&:hover{
						 		&:before{
							 		@include svgicon('icon-pdf', 24px, 24px, $rouge);
							 	}
						 	}
						 }
					}				
				}
			}
		}

	}  
}

#content.archive-formations{
	#main #inner-content .listing{
		margin-top: 40px;

	}

}

/***

  ____ ___ _   _  ____ _     _____  __     _______ ___ _     _     _____ ____  
 / ___|_ _| \ | |/ ___| |   | ____| \ \   / / ____|_ _| |   | |   | ____/ ___| 
 \___ \| ||  \| | |  _| |   |  _|    \ \ / /|  _|  | || |   | |   |  _| \___ \ 
  ___) | || |\  | |_| | |___| |___    \ V / | |___ | || |___| |___| |___ ___) |
 |____/___|_| \_|\____|_____|_____|    \_/  |_____|___|_____|_____|_____|____/ 
                                                                               


***/


#content.single{


	#inner-content{

		.titre {
			height: auto;
			
			span{
				margin-top: 34px;
			}
		}

		.sep{
			margin-top: 38px;
		}


		article{

			padding-top: 20px;
			padding-bottom: 30px;
			

			.date{

				height: 220px;
				width: 180px;
				float: left;
				margin-right: 60px;
				padding: 50px 0;
				margin-bottom: 0;

				

				&:before{
					display: none;

				}

				&:after{
					@include svgiconafter('icon-angle-right', 45px, 45px, $vert);					
					position:absolute;
					bottom: 50%;
					margin-bottom: -23px;
					left: inherit;
					right: -13px;
					margin-left: 0px;
					display: block;

				}

				span{
					display: block;

				}

				span.jour{
					font-size: 72px;
					line-height: 60px;
					@extend .do-el;
				}
				.mois{
					font-size: 30px;
					line-height: 40px;

				}
				.annee{
					font-size: 18px;
					line-height: 15px;
				}
			}


			.details{


				float: right;
				width: 730px; 
				margin-right: 220px;

				.block_left{
					width: 90px;
					min-height: 90px;
					margin-right: 10px;	

					.img-cat{

						width: 90px;	
						height: 90px;
								
						img{
							width: 90px;
							height: 90px;
						}
					}

				}


				.block_right{
					float: left;
					width: 610px;
					position: relative;

					.matiere{
						font-size: 15px;
						margin-bottom: 5px;
						top: -2px;
						
					} 

					h1{ 
						
						font-size: 30px;
						line-height: 30px;

					}

					.chapeau{
						font-size: 20px;
						line-height: 24px;
						margin-bottom: 20px;

					}

					.extrait{
						font-size: 15px;
						
					}	
					

				}

				.block_full{
					clear: none;
					float: right;
					width: 630px;
					

					.content{
						font-size: 15px;
						line-height: 18px;

					    h2, h3{
					    	font-size: 20px !important;
					    	line-height: 25px;	}
					    
				    	h3{margin-left: 40px;}					    

					    h3 + p { margin-left: 40px;}

					    
					}
					
					.mots_cles{

						margin:20px 0 0 0; 
						padding: 0;
						height: 18px;

						>li{		
						font-size: 12px;
							
						}
					}
				}
			}

		}
		
	}

}

#content.single-vie-cridon{

	
	#inner-content article .details .block_right, #inner-content article .details .block_full {width: 730px;}
	
}

#regles-facturation{
	h2{
		font-size: 20px !important;
	}
}






#content.page,
#content.archive,
#content.single,
body.page #content,
body.single #content
{
	padding-top: 180px;

	.breadcrumbs{

	}

	#main{	

	padding-top: 50px;	


		.h1{
			
			margin: 0 0 50px 0; 
			font-size: 50px;
			line-height: 40px;
		}

		article{

			section{

				font-size: 15px;
				line-height: 18px;

				

			    h2, h3{		    	
			    	font-size: 20px;
			    	line-height: 24px;
			    	
			    }

			    h4{font-size: 18px;}
				
				p{
			    font-size: 15px;
			    line-height: 18px;
			    margin: 10px 0;}
		    }

		}
		
	}

}

#content.page{

	.gform_wrapper{

		.top_label select.large{
			max-width: 100%; 
			width: 100%; 
			margin-right: 0;
		}

		textarea.large{
			max-width: 100%; 
			width: 100%;
		}
		

		.gform_body{

			.gfield { /*li*/
				

				.gfield_label{
					font-size: 18px;
					margin: 5px 0;
					
				}

				.ginput_container{
					

					input{
						
					}
				}

				.gfield_captcha_input_container {
					input{
						max-width: 100%;
						width: 100%;
					}

					
				}

				&.obligatoire {
					max-width: 100%;
					width: 100%;

					

					span{
						
					}
				}
			}

		}

		.gform_footer {

			.gform_button {
				display: inline-block;
			    padding: 5px 10px;
			    background: #009999;
			    color: #FFF;
			    text-transform: uppercase;
			    font-size: 14px;
			    position: relative;
			    text-decoration: none;
			    transition: all 0.3s;
			    border: none;

			}

		}
	}
}






/*

  ____                                                                      _       
 |  _ \ __ _  __ _  ___   _ __ ___   ___  _ __     ___ ___  _ __ ___  _ __ | |_ ___ 
 | |_) / _` |/ _` |/ _ \ | '_ ` _ \ / _ \| '_ \   / __/ _ \| '_ ` _ \| '_ \| __/ _ \
 |  __/ (_| | (_| |  __/ | | | | | | (_) | | | | | (_| (_) | | | | | | |_) | ||  __/
 |_|   \__,_|\__, |\___| |_| |_| |_|\___/|_| |_|  \___\___/|_| |_| |_| .__/ \__\___|
             |___/                                                   |_|            

*/



#content.page-mon-compte{

	#main{

        #inner-content{
            overflow: hidden;

			h1{}



			> ul{
				

				>li{
					
					width: 25%;
					float: left;
					margin-right: 0px;

					padding-right: 30px;

					&:last-child{
						margin-right: 0;
						padding-right: 0;
					}

					.bt{

						height: 50px;
						font-size: 24px;
						padding: 0;  
						line-height: 20px; 
						width: 300px;


						

						&:before{}

					}

					div.pannel{
						display: none;
						padding: 90px 0 30px 0;

						h2{
							font-size: 30px;
							line-height: 20px;	
							margin-bottom: 35px;
							
						}
					}					

					div#tableau-de-bord{


						.mon-solde{

							width: 330px;
							margin-right: 80px;
							/*float: left;*/

							.solde-pts{
								height: 330px;
								svg{
									@include scale(1);
									width: 330px;
									height: 330px;
								}
								

								.point{
									width: 130px;
									height: 130px;
									margin-left: -65px;
									margin-top: -65px;

									.pts{
										font-size: 95px;
										

										> span{
											font-size: 30px;
											right: -45px

										}
									}

									> span{
										
									}
								}
							}

						}

						
						.mes-questions{

							width: 790px;
							float: left;

							> ul{
								/*padding: 0;
								margin: 0;*/
								
								float: left;
								width: 100%;


								li{

									p{ 
										font-size: 18px;
										line-height: 20px;
										height: 40px;
									}

									span{ font-size: 18px;}

									> a{
										text-decoration: none;
									}

									.date{
										position: relative;
										left: 0;
										font-size: 18px;
										font-weight: 400;

										font-family: $helvetica !important;
										margin-bottom: 5px; 
										display: block;

									}

									.reponse{
										font-size: 18px;
										font-weight: 400;

										font-family: $helvetica !important;
										margin-bottom: 10px; 

										left: 585px;
									}

									.matiere{
									 font-size: 15px;
									 line-height: 17px;
									 padding: 0 5px;
									}

									.repondu{
										padding-left: 35px;	
										margin-bottom: 20px; 
										
										&:before{
											@include svgicon('icon-status-repondu', 24px, 24px, $vert);
											margin-top: -12px;
										}
									}

									.en-cours{	
										
										padding-left: 35px;			

										&:before{
											@include svgicon('icon-clock', 24px, 24px, $bleu);
											margin-top: -12px;
										}
									}

									
								}

								> li{

									float: left;
									width: 100%;

									> ul{
										/*margin: 0;
										padding: 0;*/

										float: left;
										width: 100%;

										> li{

										}

										> li:first-child{
										}

										> li:nth-child(2){

											padding-top: 0;
											margin-bottom: 10px;
											margin-left: 0;
											float: left;
											width: 555px;
											padding-right: 20px;
											height: 65px;
											overflow: hidden;
										}

										> li:nth-child(3){
											margin-left: 0;
											padding-top: 23px; 
											text-align: right;
											float: left;
											width: 175px;
										}
									}
								}

								
							}

							> a{
								font-size: 20px !important;

								&:after{
									font-size: 48px !important;  
								}
							}
						}

						

					}


					/**********************
					     QUESTIONS
					*/
					div#mes-questions{

						ul{
							

							li{
								

								p{ 
									font-size: 18px;
									line-height: 20px;
									height: 40px;
								}

								span{ font-size: 18px;}

								.date{
									position: relative;
									left: 0;
									font-size: 18px;
									font-weight: 400;

									font-family: $helvetica !important;
									margin-bottom: 10px; 
									display: block;
								}

								.reponse{
									font-size: 18px;
									font-weight: 400;

									font-family: $helvetica !important;
									margin-bottom: 10px; 

									left: 585px;
								}

								.matiere{
								 font-size: 15px;
								 line-height: 17px;
								 padding: 0 5px;
								}

								.id-question{

									text-transform: uppercase;
								}

								.answer{
									padding-left: 35px;	
									margin-bottom: 20px;
									
									&:before{
										@include svgicon('icon-status-repondu', 24px, 24px, $vert);
										margin-top: -12px;
									}
								}

								.status{	
									
									padding-left: 35px;			

									&:before{
										@include svgicon('icon-clock', 24px, 24px, $bleu);
										margin-top: -12px;
									}
								}

								.person{ font-size: 18px; padding-left: 35px;}

								li.pdf{
								 
									 height: 25px;
									 float: left;

									 > a{
									 	
									 	width: 24px;
									 	height: 24px;
									 	display: inline-block;
									 	top:-4px;
									 	

									 	&:before{
									 		@include svgicon('icon-pdf', 24px, 24px, $rouge);
									 		
									 	}
									 }
								}

								li.plusdedetails{
									/*margin-bottom: 0;*/

									width: 1200px;
									padding-right: 0;
									
									> span{
										
										
										padding-bottom: 24px;

										font-size: 16px;
										margin-top: 30px;
										
									}

									.details{
									
										padding: 0 20px 0 40px;
										float: left;

										> ul{

											
											float: left;

											>li{
											
												&:first-child{

													width: 550px; 
													float: left;

													span{
														font-size: 16px;

											
													}

													> ul{

											
														> li {
															float: left;
															margin-right: 20px;
															

															a{font-size: 16px;
																position: relative;

																&:after{
																	content:'';
																	height: 18px;
																	width: 1px;
																	background: $bleu;
																	position: absolute;
																	right: -10px;
																	top: 5px;
																}

																&:hover{
																	text-decoration: underline;
																}
															}
														}
													}

												}

												&:last-child{
													
													width: 590px;
													float: left;
													font-size: 14px;

													>span{

													}
												}
											}


											
										}
									}

								}

								

							}

						}

						#questions-attentes, #historique-questions{	
							font-size: 16px;



							>ul{
								

								> li{

									padding-bottom: 20px;
									border-bottom:solid 4px #e6e6e6;
									margin-bottom: 30px;

									&:last-child{
										margin-bottom: 30px;
									}

									>ul{										

										> li{
											
											float: left;
											display: table-cell;
											padding-right: 20px;

										}

										>li:first-child{
											width: 30px;
											float: left;
											margin-right: 10px;
											padding-right: 0;

											>img{ width: 30px; height: 30px;}
										}

										> li:nth-child(2), > li:nth-child(3), > li:nth-child(6){
											float: left;
											width:inherit;
										}

										

										> li:nth-child(4), > li:nth-child(5){
											float: left;
											
											margin-left: 0;
											text-align: left; 

											span{ display: inline-block; width: 100%;}
										}

										> li:nth-child(2){
											padding-top: 0px;
											width: 510px; 
											margin-bottom: 0;
										}

										> li:nth-child(3){
											width: 260px;

											span{
												display:block; 
											}
										}

										> li:nth-child(4){
											width: 120px; 
										}

										> li:nth-child(5){
											width: 90px;
										}

										> li:nth-child(6){
											width: 130px;
											padding-right: 0;
											
										}

										> li:nth-child(7){
										width: 50px;
										padding-right: 0;
											
										}

										> li:nth-child(8){
											padding-right: 0;
											
										}
									}

								}
							}
						}

						#questions-attentes{
							margin-bottom: 40px; 
							float: left;

							>ul{
								

								> li{
									padding-bottom: 0;
								}
							}
						}


						#historique-questions{

							.filtres{


								&:before{}

								> ul{
									

									li{ 


										font-size: 16px;
										margin-bottom: 0px;

										.titre{
											font-size: 20px;
											margin-right: 20px;

										}

										> a{
											font-size: 20px;
										}

										input{
											margin: 0 10px 0 5px;
											width: 165px;
											line-height: 25px;
											padding: 0 0 0 6px;
										}

										select{
											width: 360px;
										}


									}

									> li:first-child{
										width: 225px;
									}

									>li:nth-child(2){
										width: 510px;
										
										.titre{
											margin-right: 20px;
										}

										#dateto{}
									}
									>li:last-child{
										width: 465px;
										text-align: right;
										.titre{
											margin-right: 25px;
											margin-left: 0;
										}
									}
								}
							}

							> ul{

								> li{

									

									&.pdf{
										width: 31px;
									}

									> ul{

										li:nth-child(6){
											width: 130px;
											
											margin-left: 0;
										}

										li.pdf{
											
										}

									}

									> ul.suite-complement{
										
										

										> li{ 
											/*width: 100%; 
											text-align: right;
											padding: 0;
											margin-bottom: 10px;
											padding-right: 30px; */

											width: 100%;
											padding-right: 60px;
											margin-bottom: 20px;

											>a{
												font-size: 16px;

												&:before{
											 		@include svgicon('icon-pdf', 24px, 24px, $rouge);
											 		top:-4px;
											 		right: -60px;
											 		
											 	}
											}

											
										}

									}
								}
							}
						}

						
					}
					





					div#mon-profil{

						position: relative;
					
						.mes-informations{
							
							height: 320px;

							h2{}
							


							.coordonnees{
								padding-left: 30px;
								width: 790px;
								font-size: 18px;

								

								.notaire, .etude{
									width: 260px;
								}
								

								.nom{
									width: 100%;
    								margin-bottom: 25px;
									line-height: 20px; 

									span{}
								}

								.adresse, .contact{
									width: 260px;
    								float: left;
									line-height: 20px;  
								}

								> a{
									    float: right;
    									margin-top: 7px;
    									font-weight: normal;
    									width: 180px;
    									text-align: center;


								}

							}
						}

						

						.mes-centres-dinterets, .newsletter{



							h2{ }

							.description{
								width: 100%;
								font-size: 20px;
								line-height: 24px;

							}

                            .form-newsletter {
                                width: 490px;
                                margin-right: 0px;

                                input[type="submit"] {
                                    margin-left: 0;
                                }
                            }

							form {
								width: 630px;	 							
								margin-right: 30px;

								> ul{
									clear: both;

									li{
										width: 50%;
										float: left;
										;

										&:nth-child(even){
											padding-right: 10px;
										}

										&:nth-child(even){
											padding-left: 10px;
										}

										&:before{ content:none;}

										label{
											font-size: 20px;
											line-height: 20px;

											&:before{
												
												top:-1px; 

											}
											
											input{



											}

										}
									}
								}

								input[type="submit"]{ 

									margin-left: 0px;
									margin-top: 40px;
									width: 110px;
									font-weight: normal;

								}
							}

							
						}

						.mes-centres-dinterets{
							width: 630px;

							.description{
								margin-bottom: 60px;

							}
						}

						.newsletter{
							width: 490px;
							position: absolute;
							right: 0;
							top: 440px;

							.description{
								margin-bottom: 20px;

							}

							> a{
								margin-left: 0px;
								margin-top: 0;
								width: 110px;
								text-align: center;
								font-weight: normal;
							}
						}
					
					}


					&.active{

						
						div.pannel{
								width: 1200px !important;
								
							}

						div#mon-profil.pannel{							
							left: -600px; 
							
						}

						div#tableau-de-bord.pannel{							
							left:0px;
							
						}

						div#mes-questions.pannel{
							left:-300px;
						}

						div#regles-facturation.pannel{
							left: -900px;
						}

					}

				}

			}

		}	
	}
	


}

/*

  ____                                    _             _   
 |  _ \ __ _  __ _  ___    ___ ___  _ __ | |_ __ _  ___| |_ 
 | |_) / _` |/ _` |/ _ \  / __/ _ \| '_ \| __/ _` |/ __| __|
 |  __/ (_| | (_| |  __/ | (_| (_) | | | | || (_| | (__| |_ 
 |_|   \__,_|\__, |\___|  \___\___/|_| |_|\__\__,_|\___|\__|
             |___/                                          

*/

#content.page-contact{

	#inner-content{

		#main{

			article{

				header{
					height: 50px;
				}

				.entry-content{

					> p{					
					    font-size: 30px;
					    line-height: 30px;
					    width: 660px;
					    margin-top: 50px;
					    margin-bottom: 50px;
					}

					> img{
						width: 980px;
						margin: 0 auto;
						display: block;
					}
				}

				footer{

					> div{
						width: 50%;

						> h2{
						    font-size: 30px;
						    line-height: 35px;
						}
					}

					.form{
						padding-right: 100px;
					}

					.coordonnees{

						padding-left: 100px;

						table{
							

							tr{


								td{
									
									font-size: 18px;
									line-height: 20px;

									span{ 
										font-size:15px;
									}

									a{
										font-size: 15px;

										&:hover{
										}
									}
								}

								>td:first-child{
									width: 340px;
								}

								>td:last-child{
									text-align: right;
									padding-right: 20px;
								}

								&:nth-child(4){
									> td{
										border-top:solid 3px #e6e6e6;
										border-bottom:solid 3px #e6e6e6;
									}
								}
							}
						}

						.mapp-layout{
							border:0px !important;
						}
					}
				}
			}
		}
	}

	footer.article-footer{
		padding: 100px 0 0 0;
	}

}

















/*********************
NAVIGATION STYLES
*********************/

#menu{display: block; visibility: visible;}
#menu_mobile{display: none;}

.nav {

	border: 0;

	ul {

		margin-top:0;

	}

	li {
		float: left;
		position: relative;

		a {
			
			border-bottom: 0; 

			/*
			you can use hover styles here even though this size
			has the possibility of being a mobile device.
			*/
			&:hover, &:focus {

				color:$rouge;
				
				text-decoration: none;
			}
		}

		&:first-child {}
		&:last-child {}

		/*
		plan your menus and drop-downs wisely.
		*/
		ul.sub-menu,
		ul.children {
		
			margin-top: 0;
			//border: 1px solid #ccc;
			border-top: 0;
			position: absolute;
			//visibility: hidden; /* sous menu*/
			z-index: 8999;

			li {

				a {
					padding-left: 0;
					border-right: 0;
					display: block;
					//width: 180px;
					//border-bottom: 1px solid #ccc;

					&:hover,
					&:focus {}

					&:link {}
				}

				&:first-child {}

				&:last-child {

					a {
						border-bottom: 0;
					}
				}

				/*
				if you need to go deeper, go nuts
				just remember deeper menus suck
				for usability. k, bai.
				*/
				ul {
					top:0;
					left:100%;
				}
			}

			/* highlight sub-menu current page */
			li.current-menu-item,
			li.current_page_item,
			li.current_page_ancestor {
				a {}
			}
		}

		/* showing sub-menus */
		&:hover > ul {
			top: auto;
			visibility:visible;

			> li > ul{
				top: auto;
				visibility:visible;

			}
		}

		

	} /* end .menu ul li */

	/* highlight current page */
	li.current-menu-item,
	li.current_page_item,
	li.current_page_ancestor {
		a {}
	}  /* end current highlighters */

} /* end .nav */

/*********************
SIDEBARS & ASIDES
*********************/

.sidebar {
	margin-top: 2.2em;
}


/*********************
FOOTER STYLES
*********************/

.footer {	

	.block-links {
		
		padding: 60px 0; 

		ul {
			height: 90px;

			li {
				width: 380px;
				height: 90px;
				font-size: 20px;
				padding: 0px 15px;		

				span{
					margin-top: 25px;
				}					

				a {
					font-size: 20px;
					bottom: 16px;
					padding-right: 23px;
					right: 15px;
					

					&:after{
						font-size: 40px;
						top: 1px;
					}
				}

				&:after {					 
					//@include sprite($angle-before-links-footer-tablette);
					@include svgiconafter('icon-angle-bottom', 15px, 15px, $bg-top-footer);
					left: 90px;
				}

				&:before {
					left: 25px;
					margin-top: -36px;
				}



				&.formations {
					margin-right: 30px;					

					&:before {
						@include svgicon('icon-catalogue', 73px, 73px,$white);				

					}
				}

				&.cahier {
					margin-right: 30px;					

					&:before {
					@include svgicon('icon-cahier', 73px, 73px,$white);			

					}
				}

				&.services {					
					&:before {
						@include svgicon('icon-servicesplus', 73px, 73px,$white);		

					}
				}
			}
		}
	}

	.footer-cridon {
		padding: 45px 0 60px 0;
		min-height: default;

		.block-left {
			width: 650px;
			margin-right: 170px;

			&:before {}

			&:after{ display: none;}

			.chapeau {} 
			.descriptif {
				display: block;
				font-size: 15px; 
				line-height: 18px;
				font-family: $helvetica;
				color:rgba(255, 255, 255, 0.6);
				
			}
		}
		&:after {
		}

	}
	.block-right {

		width: 380px;	

		ul{
			li{
				padding-left: 62px;

				&:before{					
					left: 3px;
				}
				
				h4{
					font-size: 20px; 
				}
			}
		}
		
	}
	.footer-bottom {
		height: inherit;
		padding: 0;
		margin: 0;

		//line-height: 50px;

		#inner-footer{
			padding: 0;
			

			> p{
				display: inline-block;
				float: left;
				width: 380px;
				text-align:left;
				font-size: 14px;
				line-height: 50px;
			}

			nav {
				width: 440px;
				float: left;
				height: 50px;
				line-height: 50px;
				margin: 0;
				padding: 0;

				font-size: 14px;

				ul{
					display: inline-block;
				}

				
			}
			.logoJP {
				float: right;
				
				margin-top: 0px;

				height: 50px;
    			line-height: 50px;
				&:before{top:13px;}

			}

		}

		
	}

}

