/******************************************************************
Site Name:
Author:

Stylesheet: Tablet & Small Desktop Stylesheet

Here's where you can start getting into the good stuff.
This size will work on iPads, other tablets, and desktops.
So you can start working with more styles, background images,
and other resources. You'll also notice the grid starts to
come into play. Have fun!

******************************************************************/



/*********************
GENERAL STYLES
*********************/


@import "partials/normalize";

// Sass variables
@import "partials/variables";

// typography
@import "partials/typography";

// Sass functions
@import "partials/functions";

// import mixins
@import "partials/mixins";

@import "modules/spritesheet.scss";

body {}

/*********************
LAYOUT & GRID STYLES
*********************/

.wrap {
	width: 660px;
	position: relative;
}

/*********************
HEADER STYLES
*********************/

.header {
	height:130px;

	.header-sup{

		display: block;
		height: 50px;
		background: $vj_01; 
		

		

		.logo-partenaires{
			display: none;

		}
		#rechercher,
		.poser-question,
		#acceder-compte {

			&, &:before {
				@include transition(all 0.3s);
			}

		}

		ul#rechercher{
			width: 300px;
			height: 30px;
			background:$vert;
			display: block;
			position: absolute;
			top: 10px;
			left: 0;
			text-decoration: none;
			margin: 0;
			padding: 0;


			>li{ 
				margin: 0;
				padding: 0;
				width: 100%;
				position: relative;
				display: block;
				height: 40px;

				>a{
					@extend .do-sm;
					font-size: 12px;
					color:#FFF;
					text-transform: uppercase;
					line-height: 30px;
					padding-left: 40px;
					text-decoration: none;
					display: block;

					@include transition(all 0.3s ease-in);


					&:before{
						display:block;
						font-weight: normal;
						@include svgicon('icon-rechercher', 20px, 20px, #FFFFFF);					
						position:absolute;
						top:6px;
						left: 8px;

						@include transition(all 0.3s ease-in);
					}
					&:hover {
						background: #fff;
						&, &:before {
							color: $vert;
						}
					}
				}

				&:hover{

					> a{
						background: #fff;
						&, &:before {
							color: $vert;
						}
					}
				}

				>ul{
					visibility: hidden;
    				position: absolute;
    				width: 100%;
    				padding: 22px 0 0 0;
    				margin: 0 0 0 0;
    				top: 40px;
    				left: 0;
    				z-index: 3000;


    				&:after{
    					content:'';

    					width: 300px;
						height: 120px;
						background: #FFF;
						box-shadow: 0px 0px 14px 2px rgba(0, 0, 0, 0.25);
						-moz-box-shadow: 0px 0px 14px 2px rgba(0, 0, 0, 0.25);
						-webkit-box-shadow: 0px 0px 14px 2px rgba(0, 0, 0, 0.25);

						z-index:-10;
						position: absolute;
						top: 22px;
						left: 0; 

						transition:all 0.3s;

    				}


    				&:before{
						@include svgicon('icon-angle-bottom', 18px, 18px, $rouge);
						@include rotate(180);
						position: absolute;
						top: 4px;
						left: 50%;
						margin-left: -29px;
						transition:all 0.3s;
					}


    				&.visible{
    					visibility: visible;
    				}

    				> li{
    					padding: 0;
    					margin: 0;
    					width: 100%;
    					height: 40px;
    					background: #FFF;


    					


    					&:before{
    						content: none;
    					}


    					> a{
    						display: block;
    						height: 40px;
    						line-height: 40px;
    						color:#FFF;
    						text-decoration: none;
    						@extend .do-me;
    						text-transform: uppercase;
    						text-align: center;
    						font-size: 14px;
    						background: $rouge;
    						border-bottom:solid 1px #FFF;

    						@include transition(all 0.3s);
    						

    						&:hover{
    							opacity: 0.9; 
    						}

    						span{
    							font-weight: 400 !important;
    						}

    						

    					}

    					&:last-child{

    						> a{
    							background: #FFF;
    							font-size: 15px;
    							color:$rouge;
    							text-decoration: underline;
    							font-family: $garamond; 
    							text-transform: none;

    							&:hover{
    								text-decoration: none;
    							}
    						}
    					}
    				}

				}

			}

			

			

		}

		.poser-question{
			width: 160px;
			height: 30px;
			position: absolute;
			top: 10px;
			left: 313px;
			background: $vj_03;
			text-decoration: none;

			@extend .do-sm;
			font-size: 12px;
			color:#FFF;
			text-transform: uppercase;
			line-height: 30px;
			padding-left: 40px;

			&:before{
				display:block;
				font-weight: normal;
				@include svgicon('icon-consulter', 20px, 20px, #FFFFFF);					
				position:absolute;
				top:6px;
				left: 8px;
			}
			&:hover {
				background: #fff;
				&, &:before {
					color: $vert;
				}
			}
			
		}

		#acceder-compte{

			margin: 0;
			padding: 0;
			width: 175px;
			height: 30px;
			position: absolute;
			top: 10px;
			left: 485px;



			> li{
				margin: 0;
				padding: 0;
				width: 100%;
				position: relative;

				a.acceder-compte{
					@include transition(all 0.3s ease-in);
					width: 175px;
					height: 30px;					
					background: #FFF;
					text-decoration: none;
					@extend .do-sm;
					font-size: 12px;
					color:$vert !important;
					text-transform: uppercase;
					line-height: 30px;
					padding-left: 40px;
					display: block;

					

					&:before{
						display:block;
						font-weight: normal;
						@include svgicon('icon-compte', 20px, 20px, '');	 				
						position:absolute;
						top:4px;
						left: 8px;

						@include transition(all 0.3s ease-in);
					}

					&:hover {
						background: $vert;
						color:#FFF !important;

						&, &:before {
							color: #fff;
						}
					}
				}

				&:hover{

					a.acceder-compte{
						background: $vert;
						color:#FFF !important;

						&, &:before {
							color: #fff;
						}
					}
				}

				>ul{
					visibility: hidden;
    				position: absolute;
    				width: 100%;
    				padding: 0;
    				margin: 0;
    				bottom: -75px;
    				left: 0;
    				z-index: 3000; 

    				&:before{
						@include svgicon('icon-angle-bottom', 18px, 18px, $vj_02);
						@include rotate(180);

						position: absolute;
						top: 17px;
						left: 50%;
						margin-left: -29px;

						transition:all 0.3s;
					}

					&:after{
    					content:'';

    					width: 175px;
						height: 40px;
						background: #FFF;
						box-shadow: 0px 0px 14px 2px rgba(0, 0, 0, 0.25);
						-moz-box-shadow: 0px 0px 14px 2px rgba(0, 0, 0, 0.25);
						-webkit-box-shadow: 0px 0px 14px 2px rgba(0, 0, 0, 0.25);

						z-index:-10;
						position: absolute;
						top: 35px;
						left: 0; 
						transition:all 0.3s;

    				}


    				&.visible{
    					visibility: visible;
    				}

    				> li{
    					padding: 0;
    					margin: 0;
    					width: 100%;
    					height: 40px;
    					background: #FFF;

    					&:before{
    						content: none;
    					}


    					> a{
    						display: block;
    						height: 40px;
    						line-height: 40px;
    						color:#FFF;
    						text-decoration: none;
    						@extend .do-me;
    						text-transform: uppercase;
    						text-align: center;
    						font-size: 14px;
    						background: $vj_02;
							display: block;
    						margin-top: 35px;
    						@include transition(all 0.3s);
    						

    						&:hover{
    							opacity: 0.9;
    						}

    						

    					}
    				}

				}
			}

		}
		
	}

	.header-bottom{

		height: 80px;

		#inner-header{
			position: relative;

			h1, .h1 {	
		
				width: 225px;
				height: 80px;
				background-size: 225px 60px;				
			}

			#bt-nav-mobile{
				position: absolute;
			    //top: 25px; 
			    left: 10px;
			   

			}

			#bt-account{
				display: none;
			}


		}
	}

	#panel_connexion{

		&.open{
			width: 365px;
			height: 100%;

			.fieldset{ 
				visibility: visible;
			}
		}
	}
	
}


/****

  _        _ __   _______ ____    ____   ___  ____  _____ _____  _   _ _   _ _____    ___  _   _ _____ ____ _____ ___ ___  _   _ 
 | |      / \\ \ / / ____|  _ \  |  _ \ / _ \/ ___|| ____|__  / | | | | \ | | ____|  / _ \| | | | ____/ ___|_   _|_ _/ _ \| \ | |
 | |     / _ \\ V /|  _| | |_) | | |_) | | | \___ \|  _|   / /  | | | |  \| |  _|   | | | | | | |  _| \___ \ | |  | | | | |  \| |
 | |___ / ___ \| | | |___|  _ <  |  __/| |_| |___) | |___ / /_  | |_| | |\  | |___  | |_| | |_| | |___ ___) || |  | | |_| | |\  |
 |_____/_/   \_\_| |_____|_| \_\ |_|    \___/|____/|_____/____|  \___/|_| \_|_____|  \__\_\\___/|_____|____/ |_| |___\___/|_| \_|
                                                                                                                                 

*/

#layer-posez-question{
	
	width: 660px;
	max-width: 660px;
	margin:0 auto;
	padding: 0;
	background: transparent;



	.block_top{
		padding: 10px 10px 0 10px;

		background: #FFF;

		> .titre{

			.close_layer{
				position: absolute;
				right: 10px;
				top: 50%;
				margin-top: -20px;
				display: block;
				width: 40px;
				height: 40px;
				
				&:before{
					@include svgicon('icon-close-layer-question', 20px, 20px, #FFF);
					@include rotate(-45);
					position: absolute;
					top: 11px;
					left: 11px;
				}

				

			}

			.texte{			

			//height: 18px;


				&:before{					
				}

			}
			
		}

		.onglets{

			
			width: 620px;
			margin-left:10px;


			.h2{
				width: 50%;				

				&:hover{
					
				}

			}

			.h2.open{				
				width: 50%;
			}
		}

		.details{
			
			width: 620px;
			margin:0 auto; 
			

			.consultation{
				

				#owl-support{
					

					.owl-item{
						

						.item{
							
							width: 200px;
							margin-right: 10px;

							&:before{								
								
							}

							&:last-child{
								margin-right: 0;
							}

						}

						.label{
							
							font-size: 20px;

							&:before{
								@include svgicon('icon-angle-bottom', 15px, 15px, $vj_03);
								position: absolute;
								left: 50%;
								margin-left: -24px;
								bottom:-14px;
							}

						}

						.description{							
							text-align: center;
						}

					}

				}				

			}

			.question{

				.block_gauche{
					
				}

				.block_droit{
					width: 100%;
					clear: both;
					border:solid 1px transparent;

					.form{
						width: 100%;
						padding-bottom: 20px;
						margin-top: 15px;

						input[type="text"], textarea{							
							margin-bottom: 15px;


						}

						select{							
							margin-bottom: 15px;
						}

						input[type="submit"]{
						}

						input[type="file"]{
							
						}

						.fileUpload {
						 

						}
						.fileUpload input.upload {						  
						}

						.sep{							

						}

						
					}
				}

			}

			
			

			
		}

		

	}

	.block_bottom{
		clear: both;
		float: none;
		height: 260px;
		background: transparent;
		width: 100%;


		.block_03{
			display: block;
			padding: 10px 0 40px 0;
			float: left;
			width: 640px;
			margin-top: 20px;

			margin-left: 10px;

			.block {
				
				margin-bottom: 10px;
				background-color: #FFF;
				position: relative;
				cursor: pointer;

				width: 206px;
				height: 210px;
				float: left;
				margin-right: 10px; 

				

				&:nth-child(3){ margin-right: 0;} 


				.content{
					height: 100px;
					//background-color: $vert;
					position: absolute;
					bottom: 0;
					left: 0;
					overflow: hidden;
					width: 100%;
					transition: height $duration ease;

					&:before, &:after{
						content: '';
						width: calc(100% / 2);
						position: absolute;
						top: 0;
						display: block;
						height: 146px;
						transition: height $duration ease, background $duration ease;
						border:none;
						box-sizing: border-box;

						background: $vert;
						@include gradient-opacity(transparentize($vert, 0.4),opacify($vert, 1));
						background-size: 100% 200%;

					}

					&:before{
						
						@include border-radius(0 20px 0 0);
						left: 0;
					}

					&:after{

						@include border-radius(20px 0 0 0);
						right: 0;


					}

										
					.h2{ 
						position: relative;
						z-index: 2000;
						@extend .do-sm;
						color:#FFF;
						font-size: 30px;
						line-height: 30px;
						text-transform: uppercase;
						text-align: center;
						margin: 20px 0 0 0;
						padding: 0;
						font-weight: normal;

						span{
							display: block;
							font-size: 17px;
							line-height: 18px;
							font-family: 'EB Garamond';
							color:#FFF;
							text-transform: none;
							font-weight: normal;

						}

						&:before{
							/*font-weight:normal;*/
						}
					}

					> a{
						display: block; 
						color:#FFF;
						position: relative;
						z-index: 2000;
						text-decoration: none;
						text-align: center;
						@extend .do-el;
						font-size: 40px;
						line-height: 20px;
						padding: 0;
						margin: 0;
					}

					&:hover{

						> a{
							@extend .do-bo;
						}
					}
				}

				
			}

			.poser{
				background: url(../images/origin/bg-poser-une-question-tel.png);
				background-size: cover;
			}

			.demander{
				background: url(../images/origin/bg-consulter-mobile.png);
				background-size: cover;

			}

			.prendre{
				background: url(../images/origin/bg-prendre-rdv.png);
				background-size: cover;
			}
			
		}

		.block_3_mobile{
			display: none;			
		}

	}

	
}




/*

  ____                       _                       _ _ 
 |  _ \ __ _  __ _  ___     / \   ___ ___ _   _  ___(_) |
 | |_) / _` |/ _` |/ _ \   / _ \ / __/ __| | | |/ _ \ | |
 |  __/ (_| | (_| |  __/  / ___ \ (_| (__| |_| |  __/ | |
 |_|   \__,_|\__, |\___| /_/   \_\___\___|\__,_|\___|_|_|
             |___/                                       


*/



body.page-template-front-page{

	#content {
		//margin-top: 1.5em;
		padding:130px 0 0 0; /* Hauteur du footer */


		.row_01{
			.falsh-info{		

				.titre{
					
					font-size: 20px; 
					margin-bottom: 0;

					.close, .open{ cursor: pointer;}

					.close{
						top: -17px;
						right: -7px;
					}

					.open{
						top: -11px;
						right: -7px;

					}

				}

				.content{ 

					.texte{
						width: 570px;						
					}

					a{
						margin: 0 0 0 15px;
						margin-top: -17px;
						display: inline-block;

						&:after{ right:-9px;}

					}
				}

				&.closed{
					.close{visibility: hidden;}

					.open{visibility: visible;}

					.titre{margin-bottom: 0;}
				}

			}

			.block_03{

				margin-top: 20px;
				float: left;
				height: 210px;
				margin-bottom: 25px;

				.block {

					width: 210px;
					height: 210px;
					float: left;
					margin-right: 15px;

					&:nth-child(3){ margin-right: 0;}
					

					.content{
						height: 105px;
						

						&:before, &:after{
							
							height: 105px;

						}

						&:before{
							
							@include border-radius(0 15px 0 0);
							left: 0;
						}

						&:after{
 
							@include border-radius(15px 0 0 0);
							right: 0;
						}
						

						
						h2{ 
							font-size: 27px; 
							line-height: 28px;
							margin: 35px 0 0 0;

							span{
								font-size: 16px;
							}
						}

						> a{
							font-size: 30px;
							line-height: 10px;						
						}
					}

					&:hover {
							.content {
							&, &:before, &:after {
								height: 150px;
								background-position: 0 100%;
							}

							> a{ font-weight: 700;} 
						}

						
					}
					
					
				}

				.consulter{
					

					h2:before{
						display:block;
						@include svgicon('icon-consulter', 20px, 20px, #FFFFFF);					
						position:absolute;
						top:-20px;
						left:calc( 50% - 10px ); 
					}
					
				}

				.rechercher{

					h2:before{
						display:block;
						@include svgicon('icon-rechercher', 20px, 20px, #FFFFFF);					
						position:absolute;
						top:-20px;
						left:calc( 50% - 10px ); 
					}
					

				}

				.acceder{				

					h2:before{
						display:block;
						@include svgicon('icon-veille-juridique', 18px, 18px, #FFFFFF);					
						position:absolute;
						top:-20px;
						left:calc( 50% - 16px ); 
					}
					
				}
			}


			.partenaires{
				margin-bottom: 15px;
				clear: both;

				> div{
					font-size: 13px;

					span{
					}
				}

				ul{
					width: 185px;

					li{

						&:first-child{
						}

						img{
							height: 23px;
						}
					}
				}
			}



		}

		.row_02{
			padding-top: 20px;

			&:before{
			}

			#onglets{
				margin-bottom: 40px;				
			}

			.details{
				width: 100%;
				clear: both;
				float: none;

				.accordion{

					text-align: center; 

					.panel{

						height: 225px;
						// width: 440px;
						float: left;
						


						.date{
							height: 225px;
							width: 100px;
							float: left;
							padding: 55px 0;
							cursor: pointer; 
							font-weight: normal;
							

							&:before{
								
								
								top: 50%;
								margin-top: -22px; 
								left:23px; 

								
								@include sprite($angle-before-date-accordion-tablette);
								
							}

							&:after{
								
								
								top: 50%; 
								left:inherit;
								right: -15px;
								margin-top: -22px;
							}



							&

							span{
								display: block;

							}

							span.jour{
								font-size: 72px;
								line-height: 60px;
								@extend .do-el;

								&:before{
									bottom: 50%;
									margin-bottom: -8px;
								    left: 90px;
								    margin-left: 0px;

								}

							}
							.mois{
								font-size: 30px;
								line-height: 40px;

							}
							.annee{
								font-size: 18px;
								line-height: 15px;
							}



						}
 
						&:nth-child(1){							
							.date{
								&:after{
									@include sprite($angle-after-date-accordion-mobile_01-tablette);									
								}
							}
						}

						&:nth-child(2){							
							.date{
								&:after{
									@include sprite($angle-after-date-accordion-mobile_02-tablette);									
								}
							}
						}

						&:nth-child(3){							
							.date{
								&:after{
									@include sprite($angle-after-date-accordion-mobile_03-tablette);									
								}
							}
						}


						
						.content{
							
							width: 340px;
							max-width: 340px;
							height: 225px;
							max-height: 225px;
							float: left;
							padding: 0 20px 0 20px;
							overflow: hidden;
							transition: max-width $duration ease, opacity $duration/2 ease, padding $duration ease;

							> ul{
								

								> li{									
									float: none;
									clear: both;									

									&:first-child{padding-bottom: 4px};
									&:nth-child(2){padding:2px 0};
									&:last-child{padding-top: 4px};

									>img{

                                        float: left;
                                        margin: 0 10px 43px 0;
                                    }

									h4{
										
										text-align: left;
										float: left;
										width: calc(100% - 40px);
										//line-height: 24px;
										margin-bottom: 5px;
									}

									.chapeau-categorie{										

										text-align: left; 
										float: left;
										width: calc(100% - 40px);
										height: 36px;
										overflow: hidden;

									}

									.adresse{
										width: calc(100% - 40px);
										text-align:left;
										margin-left: 40px;
										margin-top: 20px;
										float: left;
									}

									> a {									
										
										float: right;
										margin: 0;

										font-size: 10px;
										width: 37px;
										height: 14px;
										line-height: 14px;

										&:after{
											border-width: 7px 0 7px 9px; 

											right:-9px;

										}

									}
								}
							}
						}

					}

					.blockEnd{
						height: 225px;
						width: 20px;
						float: right;
						
					}
					
					> a{/*Lien toutes la veille juridique*/
						
						margin: 40px 0 60px 0;
						width: 100%;

						&:after{}
					}

				}
				
				#accordion-formations{ /* specifique accordion formations*/
					.panel .content > ul > li .chapeau-categorie{
						max-height: 56px;
						height: auto;
					}
				}
				

				div.panel.closed{

					
					/*height: 60px;*/
					max-height: 225px;
					// max-width: 100px;

					.content{
						max-width: 0px;
						padding: 0;
						transition: max-width $duration ease, opacity $duration/2 ease $duration/2, padding $duration ease;

					}

				}
				&.closed {

				}

				
			}

		}

		.row_03{
			padding: 40px 0;

			h2{


				font-size: 30px;
				line-height: 35px;
					
			}

			a{
				font-size: 20px;
				line-height: 20px;

				&:after{
				}

				span{
				}
			}


			.cridonline{
				/*width: 100%;
				background: $rouge;
				height: 145px;
				position: relative;
				padding: 25px 10px 10px 10px;
				margin-bottom: 10px;*/
				height: 350px;
				padding: 50px 150px 20px 150px;
				margin-bottom: 25px;

				&:before{
					/*
					position: absolute;
					left: 50%;
					top: 0px;
					margin-left: -24px;*/
					@include svgicon('icon-angle-bottom', 20px, 19px, $bg-top-footer); 
				}

				&:after{
					/*@include svgiconafter('ico-cridonline-logo', 55px, 55px, #FFF);

					position: absolute;
					left: 50%;
					margin-left: -68px;
					top: 25px;*/
					top: 50px;
					@include svgiconafter('ico-cridonline-logo', 87px, 87px, #FFF);
					margin-left: -106px;

				}

				ul{
					/*margin: 0;
					padding: 0;

					display: none;*/
					display: block; 
					margin-top: 115px;
					height: 80px;
					overflow: hidden;

					li{
						/*margin: 0;
						padding: 0;*/
						font-family: $garamond;
						font-size: 21px;
						line-height: 23px;
						color:#FFF;
						padding-left: 15px;
						display: block;
						position: relative;
						margin-bottom: 3px;

						&:before{
							content:'';
							border:solid 1px #FFF;
							@include border-radius(50%);
							height: 8px;
							width: 8px;
							position: absolute;
							left: 0;
							top: 9px;
						}
					}
				}

				>a{
					/*@include lien-souligne(#FFF);
					text-align: center;
					margin-top: 70px;
					font-size: 15px;*/
					margin-top: 30px;

					&:after{
						/*left: 50%;
						margin-left: -8px;*/
						top: 30px;
					}

					&.link1{
						//margin-right: 20px;
						margin-right: 15px;
					}
				}
			}



			.veille-juridique{
				width: 100%;
				height: 210px;
				padding:35px 0 20px 0;
				margin-bottom: 25px;

				&:before{
					font-size: 46px;
					line-height: 46px;
					/*color:#FFF;
					position: absolute;*/
					top: 35px;
					margin-left: -23px;
					left:50%;

				}

				&:after{
					/*position: absolute;
					top: 0;
					@include rotate(180);
					color:$bg-top-footer;*/
					font-size: 20px;
					line-height: 19px;
					margin-left: -32px;
					left:50%;

				}



				.content{
					text-align: center;

					h2{
						text-align: center;	
						width: 100%;	
						margin-top: 60px;		
					} 

					> a{
						margin-top: 10px;
						text-align: center;

						display: block;

						&:after{							
							top: 25px;
							/*left: 0;*/

						}

					} 
				}
			}

			.info-flash-exclu, .cridon-app{
				width: 320px;
				padding: 35px 0;	

				height: 250px;

				&:before{
					font-size: 50px;
					line-height: 50px;
					top: 32px;
					left:50%;
				}	

				&:after{
					font-size: 20px;
					line-height: 19px;
					margin-left: -32px;
					left:50%;
				}	



				h2{					
					
				}
				a{	
					font-size: 20px;
					margin-top: 10px;
					width: 100%;
					&:after{	

						top: 20px;
					}
				} 
			}

			.cridon-app{

				h2{
					width: 70%;
					margin: 0 auto;
				}
				
				

				a{
					width: 100%;
					margin:10px auto 0 auto;
				}
				
			}

			.info-flash-exclu{

			margin-right: 20px;								

				h2{
					padding: 0; 
					margin: 0;
				}	
			}

			
		}

		.row_04{
			
			padding: 60px 0 20px 0;			

			

			h2{
				
				font-size: 50px;
				line-height: 40px;

				span{					

					font-size: 30px;

				}				

				

			}

			.actualite{
				width: 100%;

				.img{
					height: 310px;
					margin-bottom: 40px;
					
				}

				.date{
					width: 180px;
					height: 225px;
					padding: 55px 0;
					float: left;

					
					&:after{

						@include rotate(-90);
					    bottom: 50%;
					    margin-bottom: -10px;
					    left: inherit;
					    top: inherit;
					    margin-left: 0;
					    right: -30px;
					}

					span{
					
						display: block; 
						line-height: inherit;
						height: auto;
					}


					.jour{
						font-size: 72px;
						line-height: 60px;
					}
					.mois{
						font-size: 30px;
						line-height: 40px;

					}
					.annee{
						font-size: 18px;
						line-height: 15px;
					}
				}

				.content{
					width: 480px;
					float: left;
					padding: 0 20px 0 40px;
					position: relative;
    				height: 225px;
					

					> h3{

						font-size: 30px;
						line-height: 35px;
						text-align: left;
						margin: 0;						

					}

					.chapeau{
						text-align: left;
						font-size: 20px;
						margin-top: 10px;						

					} 

					.description{
						
						text-align: left;
						font-size: 15px;
						/*position: absolute;
						bottom: 40px;*/
						max-height: 72px;
						width: 430px;
						margin-top: 35px;
						

						s{
							

						}


					}

					> a{
						
						margin: 0;
						/*position: absolute;
						bottom: 0px;*/
						margin-top: 10px;

						height: 18px;
					      width: 47px; 
					      font-size: 13px;
					      line-height: 18px;

						&:after{
							border-width: 8px 0 10px 10px;
					        border-color: transparent transparent transparent $rouge;
					        border-style: dotted none dotted solid;
					        position: absolute;
					        top: 0;
					        right: -10px;

						}

					}

				}

			}

			a.LienVieCridon{/*Lien toutes la veille juridique*/

					
				margin: 40px 0 22px 0;
				
			}

		}


	}
}











/*

  ____                    _     _     _                   _ _ _           
 |  _ \ __ _  __ _  ___  | |   (_)___| |_ ___  __   _____(_) | | ___  ___ 
 | |_) / _` |/ _` |/ _ \ | |   | / __| __/ _ \ \ \ / / _ \ | | |/ _ \/ __|
 |  __/ (_| | (_| |  __/ | |___| \__ \ ||  __/  \ V /  __/ | | |  __/\__ \
 |_|   \__,_|\__, |\___| |_____|_|___/\__\___|   \_/ \___|_|_|_|\___||___/
             |___/                                                        


*/   

#content.archive{
	padding-top: 130px;

	.breadcrumbs{
		/*width: 100%;
		background: $bg-top-footer;
		height: 70px; */
		display: block;
		padding-top: 30px;

		a{
			@extend .do-re;
			font-size: 15px;
			color:#818181;
			text-transform: uppercase;
			text-decoration: none;
			line-height: 24px;

		}

		span{
			@extend .do-sm;
			color:$bleu;
			font-size: 15px;
			line-height: 24px;
		}
	

	}

	#main{
		
		padding-top: 60px;

		&:before{}

		#inner-content{


			h1{
				
				font-size: 50px;
				line-height: 40px;
				margin-top: 0;

				&:before{	}


			}

			#filtres_veilles{
				border-bottom: none;
				height: inherit;

				#tri_matiere{

					>label{}

					span.open{}
					span.close{}

					span{}

				}

				.panel{					

					>a {}

					ul{
						width: 100%;
						float: left;

						>li{

							width: 33%;
							float: left;
							margin: 3px 0;

							>label{								

								&:before{}

								>input{}

								&.select{

									&:before{}

								}

								cursor: pointer;

							    &:hover{

							    	&:before{
							    		background: $rouge;
							    	}
							    }
							}
						}
					}
					#bt_valider{
						/*margin:0 0 20px 10px;*/
						margin-bottom: 0;

					}


				}

				

				#bt_valider{
					margin:0 0 20px 10px;
				}

			}

			.listing{

			margin-top: 50px; 

				article{

					margin-bottom: 60px;


					


					.date{
						height: 220px;
						width: 180px;
						float: left;
						margin-right: 20px;
						padding: 50px 0;
						margin-bottom: 0;

						&:before{
							display: none;

						}

						&:after{
							@include svgiconafter('icon-angle-right', 45px, 45px, $vert);					
							position:absolute;
							bottom: 50%;
							margin-bottom: -23px;
							left: inherit;
							right: -13px;
							margin-left: 0px;
							display: block;

						}

						span{
							display: block;

						}

						span.jour{
							font-size: 72px;
							line-height: 60px;
							@extend .do-el;
						}
						.mois{
							font-size: 30px;
							line-height: 40px;

						}
						.annee{
							font-size: 18px;
							line-height: 15px;
						}

						.sep{
							display: block;
							position: absolute;
							width: 660px;
							top: -33px;
							left: 0;
							border-bottom:solid 5px $bg-top-footer;
							height: 0px;
							line-height: 20px;



							&:before{

								@include svgicon('ico-sep', 18px, 18px, #e6e6e6);
								position: absolute;
								top: 0px;
								background: #FFF;
								left: 50%;
								margin-left: -30px;
								border:none;

								 
							}
						}

						
					}


					

					.details{
						float: right;
						width: 460px; 

						.block_left{
							width: 50px;
							margin-right: 0;

							.img-cat{

								height: 50px;	
								width: 50px;			
								margin-right: 10px;
								
								img{
									width: 50px;
									height: 50px;
								}
								
							}

						}

						.block_right{
							float: right;
							width: 400px;
							cursor: pointer;

							.matiere{
								line-height: 20px;
								position: relative;
								top: -3px; 
								padding: 0 5px;
							} 

							h2{

							}

							.chapeau{
								width: 100%;
							}

							.extrait{
								width: 100%;
							}

							.mots_cles{

								
								padding: 0;
								height: 18px;

								>li{								
									

									&:before{
										

									}

									&:last-child{
										&:before{ }
									}
								}
							}

							> a{
								
								margin:10px 0 0 0;
								height: 14px;
							    width: 37px;
							    font-size: 10px;
							    line-height: 14px;
							    clear: both;

							    &:after{
							    	border-width: 7px 0 7px 9px; 
							    }

							}

						}
					}

					
				}

			} 

		}

	}

	
}

#content.archive-cahier{

	 #main #inner-content .listing article{

		.details{
			/*width: 100%;*/

			.block_right{
				width: 460px;
				cursor: inherit;

				>h2{ 
					margin-bottom: 0px;
				}

				> a{					
					font-size: 16px;
					width: auto;
					margin-top: 5px;
					line-height: 20px;
					height: auto;
					@include transition(all 0.3s);

					

				}

				> ul{					
					padding: 0 0 0 20px;	


				}
			}
		}

	}  
}

#content.archive-formations{
	#main #inner-content .listing{
		margin-top: 20px;

	}

}


/*

  ____ ___ _   _  ____ _     _____  __     _______ ___ _     _     _____ ____  
 / ___|_ _| \ | |/ ___| |   | ____| \ \   / / ____|_ _| |   | |   | ____/ ___| 
 \___ \| ||  \| | |  _| |   |  _|    \ \ / /|  _|  | || |   | |   |  _| \___ \ 
  ___) | || |\  | |_| | |___| |___    \ V / | |___ | || |___| |___| |___ ___) |
 |____/___|_| \_|\____|_____|_____|    \_/  |_____|___|_____|_____|_____|____/ 
                                                                               


*/


#content.single{


	#inner-content{
		.titre {
			height: auto;
			
			span{
				/*margin: 20px 0;*/
				margin-top: 34px;
			}
		}

		.sep{
			margin-top: 38px;
		}


		article{

			padding-top: 20px;
			

			.date{

				height: 220px;
				width: 180px;
				float: left;
				margin-right: 20px;
				padding: 50px 0;
				margin-bottom: 0;

				

				&:before{
					display: none;

				}

				&:after{
					@include svgiconafter('icon-angle-right', 45px, 45px, $vert);					
					position:absolute;
					bottom: 50%;
					margin-bottom: -23px;
					left: inherit;
					right: -13px;
					margin-left: 0px;
					display: block;

				}

				span{
					display: block;

				}

				span.jour{
					font-size: 72px;
					line-height: 60px;
					@extend .do-el;
				}
				.mois{
					font-size: 30px;
					line-height: 40px;

				}
				.annee{
					font-size: 18px;
					line-height: 15px;
				}
			}


			.details{

				.block_left{

					width: 50px;

					.img-cat{

						height: 50px;	
						width: 50px;			
						margin-right: 10px;
						
						img{
							width: 50px;
							height: 50px;
						}
						
					}					
					
				}

				
				.block_right{
					
					width: 400px;


					.matiere{					

						line-height: 20px;
						position: relative;
						top: -3px; 
						padding: 0 5px;
					}


					h1{}

					.chapeau{}
				}

				.block_full{

					
					clear: none;
					float: right;
					width: 460px;
					

					.content{
						

					    a{
					    	

					    	&:hover{
					    		
					    	}
					    }

					    s{
							

						}

					    h2, h3{	}

					    h2{					    	
				    	}

				    	h3{}

					    >p{ }

					    h3 + p { }

					    >ul, ol{

					    	

					    	>li{		    		


					    		&:before{
					    			
					    		}

					    	}
					    }
					}

					


					.mots_cles{

						margin:10px 0 0 0;
						padding: 0;
						height: 18px;

						>li{								
							

							&:before{
								

							}

							&:last-child{
								&:before{}
							}
						}
					}

					.documents-liees{						

						float: left;

						>ul{
							width: 100%;
							float: left;

							>li{

								float: left;
								

								> a{
									
									font-size: 16px;
									padding-left: 10px;
									position: relative;	
									margin-right: 10px;								
									

									&:before{
										content:'';
										position: absolute;
										right:-10px;
										//color:$vert;
										width: 1px;
										background: $bleu;
										height: 18px;
										z-index: 200;
										top:2px;
										@include transition(all 0.3s);
										//margin-top: -9px;
									}

									&:hover{ 

										text-decoration: underline;
 
										
									}

								}
							}
						}

					}
 

				}
			}

		}

		> a{}


	}

}

#content.single-vie-cridon{

	
	#inner-content article .details .block_right {width: 460px;}
	
}


#content.page,
#content.archive,
#content.single,
body.page #content,
body.single #content{

	padding-top: 130px;

	.breadcrumbs{		
		display: block;
		padding-top: 30px;

		a{
			@extend .do-re;
			font-size: 15px;
			color:#818181;
			text-transform: uppercase;
			text-decoration: none;
			line-height: 24px;

		}

		span{
			@extend .do-sm;
			color:$bleu;
			font-size: 15px;
			line-height: 24px;
		}
	

	}

	#main{
		
		padding-top: 60px;

		.h1{
			
			font-size: 50px;
			line-height: 55px;
			margin-bottom: 50px;
		}

		article{

			section{			

			    h2, h3{
			    	
			    	font-size: 18px;
			    	line-height: 20px;

			    	
			    }
		    }

		}

		
		
	}

}





/*

  ____                                                                      _       
 |  _ \ __ _  __ _  ___   _ __ ___   ___  _ __     ___ ___  _ __ ___  _ __ | |_ ___ 
 | |_) / _` |/ _` |/ _ \ | '_ ` _ \ / _ \| '_ \   / __/ _ \| '_ ` _ \| '_ \| __/ _ \
 |  __/ (_| | (_| |  __/ | | | | | | (_) | | | | | (_| (_) | | | | | | |_) | ||  __/
 |_|   \__,_|\__, |\___| |_| |_| |_|\___/|_| |_|  \___\___/|_| |_| |_| .__/ \__\___|
             |___/                                                   |_|            

*/



/* #content.page-mon-compte{

	#main{

		#inner-content{

			h1{}

			a.logout{
				font-size: 16px;
			    width: auto;
			}



			> ul{
				

				>li{

					&.active{

						
						div.pannel{
								display: block;
								width: 660px !important;
								top: 0;
								position: relative; 
							}

						div#mon-profil.pannel{							
							left: -334px;
							
						}

						div#tableau-de-bord.pannel{							
							left:0px;
							
						}

						div#mes-questions.pannel{
							left:-168px;
						}

						div#regles-facturation.pannel{
							left: -502px;
						}

					}

				}

			}

		}	
	}
	


} */



/*

  ____                                    _             _   
 |  _ \ __ _  __ _  ___    ___ ___  _ __ | |_ __ _  ___| |_ 
 | |_) / _` |/ _` |/ _ \  / __/ _ \| '_ \| __/ _` |/ __| __|
 |  __/ (_| | (_| |  __/ | (_| (_) | | | | || (_| | (__| |_ 
 |_|   \__,_|\__, |\___|  \___\___/|_| |_|\__\__,_|\___|\__|
             |___/                                          

*/

#content.page-contact{

	#inner-content{

		#main{

			article{


				footer{

					> div{
						width: 50%;

						> h2{}
					}

					.form{
						padding-right: 10px;
					}

					.coordonnees{

						padding-left: 10px;

						
					}
				}
			}
		}
	}

}

 














/*********************
NAVIGATION STYLES
*********************/

.nav {
	border: 0;
	ul {
		margin-top:0;
	}
	li {
		float: left;
		position: relative;

		a {
			border-bottom: 0;

			/*
			you can use hover styles here even though this size
			has the possibility of being a mobile device.
			*/
			&:hover, &:focus {
				color: $white;
				text-decoration: underline;
			}
		}

		&:first-child {}
		&:last-child {}

		/*
		plan your menus and drop-downs wisely.
		*/
		ul.sub-menu,
		ul.children {
			margin-top: 0;
			//border: 1px solid #ccc;
			border-top: 0;
			position: absolute;
			visibility: hidden;
			z-index: 8999;

			li {

				a {
					padding-left: 10px;
					border-right: 0;
					display: block;
					width: 180px;
					//border-bottom: 1px solid #ccc;

					&:hover,
					&:focus {}

					&:link {}
				}

				&:first-child {}

				&:last-child {

					a {
						border-bottom: 0;
					}
				}

				/*
				if you need to go deeper, go nuts
				just remember deeper menus suck
				for usability. k, bai.
				*/
				ul {
					top:0;
					left:100%;
				}
			}

			/* highlight sub-menu current page */
			li.current-menu-item,
			li.current_page_item,
			li.current_page_ancestor {
				a {}
			}
		}

		/* showing sub-menus */
		&:hover > ul {
			top: auto;
			visibility:visible;
		}

	} /* end .menu ul li */

	/* highlight current page */
	li.current-menu-item,
	li.current_page_item,
	li.current_page_ancestor {
		a {}
	}  /* end current highlighters */

} /* end .nav */

/*********************
SIDEBARS & ASIDES
*********************/

.sidebar {
	margin-top: 2.2em;
}


/*********************
FOOTER STYLES
*********************/

.footer {	

	.poser-question{display: none;}

	.block-links {

		
		padding: 40px 0;

		ul {
			height: 65px;

			li {
				width: 210px;
				height: 65px;
				overflow: hidden;
				float: left;
				font-size: 13px;
				line-height: 21px;
				padding: 0px 10px; 	
				margin-bottom: 0;			

				a {
					
					bottom: 10px;
					font-size: 14px;
					padding-right: 15px;

					&:after{
						font-size: 21px;
						top: 4px;
						
					}
				}

				&:after {					
					left: 40px;
					font-size: 10px;
					line-height: 10px;
				}

				&:before {
					//bottom: 7px;
					margin-top: -26px;
				}

				&.formations {
					margin-right: 15px;
					

					&:before {
						@include svgicon('icon-catalogue', 52px, 52px,$white);				

					}
				}

				&.cahier {
					margin-right: 15px;
					

					&:before {
					@include svgicon('icon-cahier', 52px, 52px,$white);			

					}
				}

				&.services {
					
					&:before {
						@include svgicon('icon-servicesplus', 52px, 52px,$white);		

					}
				}
			}
		}
	}

	.footer-cridon {
		padding: 45px 0 60px 0;
		min-height: 410px; 

		.block-left {
			width: 330px;
			float: left;
			text-align: left;
			padding:0 10px 0 54px; 
			position: relative;


			&:before {
				
				@include sprite($logo-cridon-footer-tablette2);
				margin: 0 0 0 -54px; 

			}

			&:after{ /* PARTENAIRES FOOTER*/
				/* content:'';
				@include sprite($partenaire-footer);
				position: absolute;
				bottom: -100px;
				left: 50px; */
			}

			.chapeau {
				text-align: left;
				margin-top: 20px;
				
				span {
					
					font-size: 20px;
					line-height: 20px;
				} 
				p {
					
					font-size: 15px; 
					line-height: 18px;
				}
			} 
			.descriptif {
				
			}

			.partenaires{
				text-align: left;
				margin-top: 60px;

				> div{
					
					text-align: left;
					font-size: 20px;

					span{}
				}

				ul{
					margin-left: 0;

					li{
						
						&:first-child{}

						img{}
					}
				}
				
				
			}

		}
		&:after {
			
		}

	}
	.block-right {
		display: block;
		width: 330px;
		float: left;
		padding-left: 10px;

		ul{
			margin: 0;
			padding: 0;

			li{
				margin: 0 0 40px 0;
				padding: 10px 0 10px 55px;
				height: 70px;
				border-bottom: solid 1px rgba(255, 255, 255, 0.2);
				
				&:before{
					display:block;										
					position:absolute;
					top:10px;
					left: 0px;
				}

				h4{
					color:#FFF;
					@extend .do-bo;
					text-transform: uppercase;
					margin: 0 0 8px 0;
					padding: 0;
					font-size: 18px;
					line-height: 14px;
				}

				a{
					@include lien-souligne(#FFF);
					padding-right: 20px; 
					transition: border-color $duration/2 ease $duration/4;

					&:after{
						right: 0;
						top: -3px;
						font-size: 30px;
					}

					&:hover{
						span{ border-bottom:solid 1px $bg-cridon-footer;}
					}

				}

				&.application{
					&:before{
						@include svgicon('icon-appli', 40px, 40px, #FFFFFF);
					}
				}

				&.veille{
					&:before{
						@include svgicon('icon-veille', 40px, 40px, #FFFFFF);
					}
				}

				&.flash{
					&:before{
						@include svgicon('icon-nl', 40px, 40px, #FFFFFF);
					}
				}

				&:last-child{ margin-bottom: 0;} 
			}
		} 
	}
	.footer-bottom {
		 
		padding: 35px 0;

		nav {

			font-size: 14px;
			margin-top: 5px;

			ul{
				display: inline-block;

				
			}

			
		}
		.logoJP {
			
			margin-top: 10px;

		}
	}

}



