/******************************************************************
Site Name: Maestro
Author: Jetpulp

Stylesheet: Base Mobile Stylesheet

******************************************************************/

/*********************
GENERAL STYLES
*********************/
body {
	font-family: $sans-serif;
	font-size: 100%;
	line-height: 1.5;
	color: $text-color;
  	-webkit-font-smoothing: antialiased;
  	box-sizing: border-box;
}

/*********************
LAYOUT & GRID STYLES
*********************/

#container{
	min-height:100%;
	position:relative;
}
.wrap {
	width: 300px;
	//border:solid 1px green;
	margin: 0 auto;
	
}

/*********************
HEADER STYLES
*********************/

.header {
	background-color: #FFF;
	height:60px;
	position: fixed;
	z-index: 6000;
	width: 100%; 
	@include box-shadow(0px 4px 10px 0px #999999);
	margin: 0;
	padding: 0;

	.header-sup{ display: none;}

	.header-bottom{

		#inner-header{
			position: relative;


			h1 {	
		
				width: 100%;
				height: 60px;
				margin: 0 auto;
				padding: 0;
				
				background: url(../images/logo-cridon.svg);
				background-size: 214px 41px;
				background-repeat: no-repeat;
				background-position: center center;


				&:after{
					content:none;
					//@include sprite($logo-cridon-mobile);			
					position: relative;
					top: 0px;
					left: 0px;
					width: 214px;
					height: 41px;

				} 
			}

			#bt-nav-mobile{
				position: absolute;
			    top: 20px;
			    left: 0;
			    display: block;
			    width: 20px;
			    height: 16px;
			    text-decoration: none;

				&:before{
					display:block;
					@include svgicon('icon-menu-mobile', 15px, 15px,$bleu);					
					position:relative;
					top:0;
					left:0;					
				}

			}

			#bt-account{

				position: absolute;
			    top: 20px;
			    right: 0;
			    display: block;
			    width: 25px;
			    height: 20px;
			    text-decoration: none;

				

				&:before{
					display:block;
					@include svgicon('icon-menu-compte', 18px, 18px,$bleu);					
					position:relative;
					top:0;
					right:0; 
				}
			}


		}
	}
	
}


/*

  ____                       _                       _ _ 
 |  _ \ __ _  __ _  ___     / \   ___ ___ _   _  ___(_) |
 | |_) / _` |/ _` |/ _ \   / _ \ / __/ __| | | |/ _ \ | |
 |  __/ (_| | (_| |  __/  / ___ \ (_| (__| |_| |  __/ | |
 |_|   \__,_|\__, |\___| /_/   \_\___\___|\__,_|\___|_|_|
             |___/                                       


*/



body.page-template-front-page{

	#content {
		//margin-top: 1.5em;
		padding:60px 0 0 0; /* Hauteur du footer */


		.row_01{

			background: #e6e6e6;
			width: 100%;


			.falsh-info{
				width: 100%;
				background: $gris;
				padding: 10px 10px 10px 10px;

				.titre{
					color:$rouge;
					@extend .do-bo;
					font-size: 18px; 
					text-transform: uppercase;
					margin-bottom: 12px;
					position: relative;
					transition: margin $duration ease;

					.close, .open{
						
						line-height: 48px;
						@extend .do-el;
						color:$bleu;
						display: block;
						position: absolute;
						right: -9px; 
						
						//@include tranform (45deg); 
					}

					.close{
						transform: rotate(45deg);
						top: -20px;
						font-size: 48px;
						
					}

					.open{
						transform: rotate(90deg);
						top: -15px;
						visibility: hidden;
						font-size: 40px;
					}

				}

				.content{ 
					max-height: 100px;
					opacity: 1;
					transition: max-height $duration ease 0s, opacity $duration ease 0s;
					.texte{
						color:$bleu;
						font-family: $helvetica;
						font-size: 12px;
						line-height: 18px;
					}

					a{
						@include bt-crayon($rouge, #FFFFFF);

						margin-left: calc(100% - 46px);
						margin-top: 12px;

					}
				}

				&.closed{
					.close{visibility: hidden;}

					.content{ max-height: 0; opacity: 0;}

					.open{visibility: visible;}

					.titre{margin-bottom: 0;}
				}

			}

			.block_03{

				padding: 10px 0 40px 0;

				.block {

					width: 100%;
					height: 266px;
					margin-bottom: 10px;
					background-color: #FFF;
					position: relative;
					cursor: pointer;

					.content{
						height: 146px;
						//background-color: $vert;
						position: absolute;
						bottom: 0;
						left: 0;
						overflow: hidden;
						width: 100%;
						transition: height $duration ease;

						&:before, &:after{
							content: '';
							width: 50%;
							position: absolute;
							top: 0;
							display: block;
							height: 146px;
							transition: height $duration ease, background $duration ease;

						}

						&:before{
							
							@include border-radius(0 20px 0 0);
							left: 0;
						}

						&:after{
 
							@include border-radius(20px 0 0 0);
							right: 0;


						}
						
						h2{ 
							position: relative;
							z-index: 2000;
							@extend .do-sm;
							color:#FFF;
							font-size: 30px;
							line-height: 30px;
							text-transform: uppercase;
							text-align: center;
							margin: 60px 0 0 0;
							padding: 0;
							font-weight: normal;
							transition: margin $duration ease;

							span{
								display: block;
								font-size: 22px;
								line-height: 18px;
								font-family: 'EB Garamond';
								color:#FFF;
								text-transform: none;
								font-weight: normal;

							}

							&:before{
								font-weight:normal;
							}
						}

						> a{
							display: block; 
							color:#FFF;
							position: relative;
							z-index: 2000;
							text-decoration: none;
							text-align: center;
							@extend .do-el;
							font-size: 40px;
							font-weight: normal;
							line-height: 27px;
							padding: 0;
							margin: 0;
							transition: font $duration ease;
						}
					}

					&:hover {
						.content{
							h2 {
								margin: 80px 0 0 0;
							}
							&>a {
								font-weight: bold;
								font-size: 50px;
							}
							&, &:before, &:after {
								height: 200px;
								background-position: 0 100%;
							}
						}
					}
				}

				.consulter{

					background: url(../images/origin/bg-consulter-mobile.png);
					background-size: cover;

					h2:before{
						display:block;
						@include svgicon('icon-consulter', 28px, 28px, #FFFFFF);					
						position:absolute;
						top:-32px;
						left:calc( 50% - 15px ); 
					}

					.content{
						&:before, &:after{
							background: $vert;
							@include gradient-opacity(transparentize($vert, 0.4),opacify($vert, 1));

						}
					}

				}

				.rechercher{

					background: url(../images/origin/bg-rechercher-mobile.png);
					background-size: cover;

					h2:before{
						display:block;
						@include svgicon('icon-rechercher', 28px, 28px, #FFFFFF);					
						position:absolute;
						top:-32px;
						left:calc( 50% - 15px ); 
					}

					.content{

						&:before, &:after{
							background: $bleu;
							@include gradient-opacity(transparentize($bleu, 0.4),opacify($bleu, 1));
							background-size: 100% 200%;

						}
						
					}

				}

				.acceder{

					background: url(../images/origin/bg-acceder-mobile.png);
					background-size: cover;

					h2:before{
						display:block;
						@include svgicon('icon-rechercher', 28px, 28px, #FFFFFF);					
						position:absolute;
						top:-32px;
						left:calc( 50% - 15px ); 
					}

					.content{
						&:before, &:after{
							
							background: $jaune;
							@include gradient-opacity(transparentize($jaune, 0.4), opacify($jaune, 1));
							background-size: 100% 200%;

							
						}
					}

				}
			}

		}


		.row_02{
			padding-top: 44px;
			position: relative;

			&:before{

				@include sprite ($before-bg-bandeau);
				content: '';
				position: absolute;
				top: 0;
				left: 50%;
				margin-left: -43px;

			}

			#onglets{

				width: 100%;
				float: left;
				//padding-bottom: 20px;
				border-bottom:solid 4px $vert;
				margin-bottom: 10px;

				h3{
					@extend .do-sm;
					text-transform: uppercase;
					color:$bleu;
					font-size: 20px;
					line-height: 60px;
					vertical-align: middle;
					text-decoration: underline;

					border-bottom:solid 16px #FFF;

					width: 50%;
					float: left;
					text-align: center;

					margin: 0;
					padding: 0;


				}

				h3.open{
					color:$vert;
					text-decoration: none;
					border-bottom:solid 16px $vert;
				}
			}

			.details{
				width: 100%;
				clear: both;
				float: none;

				.accordion{
					text-align: center;

					.panel{

						//height: 60px;
						//overflow: hidden;

						.date{
							height: 60px;
							font-size: 25px;
							@extend .do-re;
							text-transform: uppercase;
							text-align: center;
							//background: $vert;
							line-height: 60px;
							color:#FFF;
							position: relative;
							display: block;

							&:before{
								content:'';
								@include sprite($angle-before-date-accordion-mobile);
								position: absolute;
								top: 0px; 
								left: 50%;
								margin-left: -23px;


							}

							&:after{
									
								content:'';
								position: absolute;
								bottom: -15px; 
								left: 50%;
								margin-left: -23px;
								z-index: 2000;
							}



						}


						&:nth-child(1){							
							.date{
								background: $vj_01;
								&:before{content:none;}
								&:after{
									@include sprite($angle-after-date-accordion-mobile_01);									
								}
							}
						}

						&:nth-child(2){
							.date{
							background: $vj_02; 
								&:after{
									@include sprite($angle-after-date-accordion-mobile_02);									
								}
							}
						}

						&:nth-child(3){
							.date{
								background: $vj_03; 
								&:after{
									@include sprite($angle-after-date-accordion-mobile_03);									
								}
							}
						}
						.content{
							height: auto;
							padding-top: 40px;

							> ul{
								margin: 0;
								padding: 0;

								> li{

									margin: 0;
									padding: 0;
									list-style-type: none;

									>img{
										height: 30px;
										width: 30px;
										margin:0 auto;
										display: block;
									}

									h4{
										font-size: 20px;
										color:$bleu;
										text-transform: uppercase;
										text-align: center;
										@extend .do-re;
										margin: 0;
										padding: 0;
									}

									.chapeau-categorie{
										font-size: 13px;
										font-family: $helvetica;
										display: block;
										text-align: center;
										line-height: 18px;

									}

									>a {
										@include bt-crayon($vert, #FFFFFF);
										margin:10px auto 30px auto;

									}
								}
							}
						}

					}

					.blockEnd{
						height: 20px;
						width: 100%;
						background: $vj_04;
					}
					
					> a{/*Lien toutes la veille juridique*/
						@include lien-souligne($rouge);
						margin: 30px 0 50px 0;
						&:after{
							top: 20px;
							left: 50%; 
							margin-left: -9px;
						}
					}
				}

				div.closed{

					
					height: 60px;

					.content{display: none;}

				}


				
			}

		}

		.row_03{
			width: 100%;
			background: #e6e6e6;
			padding: 50px 0 40px 0;
			background: #e6e6e6;
			float: none;
			clear: both;

			h2{
				@extend .do-bo; 
				text-transform: uppercase;
				color:#FFF;
				font-size: 18px;
				line-height: 20px;
				margin:0 0 5px 0;
					
			}

			a{
				@include lien-souligne(#FFF);
				position: relative;

				&:after{}
				
			}

			.cridon-app{
				width: 100%;
				height: 145px;
				background: $gris-appli;
				padding: 20px 0 0 50%;
				position: relative;
				margin-bottom: 10px;

				.content{

					.img-main{
						position: absolute;
						left: -10px;
						bottom: 0;
						width: 150px;
						height: 178px;
						background: url(../images/origin/img-main-appli-mobile.png);
						    background-position: top right;
						border:0px;
						text-decoration: none;

					}

					.img-appli{display: none;}

					h2{
						width: 160px;
						margin: 0 0 5px 0;
						padding: 0 11px 0 0;						
					}

					> a{
						
						width: 120px;						
						margin: 0 0 0 0;
						text-align:left;

						&:after{							
							top: 40px;
							left: 0;
						}

					} 
				}
			}

			.info-flash-exclu, .veille-juridique{
				width: 145px;
				float: left;
				position: relative;
				text-align: center;
				height: 176px;
				padding: 25px 10px 25px 10px;

				h2{
					
					padding: 0;
				}
				a{	
					&:after{							
						top: 40px;
						left: 50%;
						margin-left: -9px;
					}
				} 
			}

			.veille-juridique{
				background: $jaune-accueil;
				margin-right: 10px;
				
				display: inline-block;

				a{
					width: 105px;
					margin: 0 auto;
				}
				
			}

			.info-flash-exclu{
				background: $text-color;

				h2{
					padding: 0 10px;
				}	

				a{
					width: 98px;
					margin: 0 auto;
				}
			}

			
		}

		.row_04{

			width: 100%;
			float: none;
			clear: both;
			position: relative;
			padding: 60px 0 40px 0;			

			&:before{

				@include sprite ($before-bg-bandeau);
				content: '';
				position: absolute;
				top: 0;
				left: 50%;
				margin-left: -43px;

			}

			h2{
				@extend .do-sm; 
				font-size: 30px;
				line-height: 24px;
				color:$bleu;
				text-transform: uppercase; 
				margin: 0 0 30px 0;
				padding: 0;
				text-align: center;
				position: relative;

				span{
					display: block;
					text-transform: none;
					font-family: $garamond;
					font-size: 24px;
					line-height: 30px;
					font-weight: normal;

				}				

				&:before{
					display:block;
					@include svgicon('icon-vieducridon', 10px, 10px,$rouge);	 				
					position: absolute;
				    bottom: -19px;
				    left: 50%;
				    margin-left: -27px;				
				}
				

			}

			.actualite{
				width: 100%;

				>img{
					height: 150px;
					width: 100%;
					margin: 0;
					padding: 0;
					display: block;
				}

				.date{
					width: 100%;
					height: 60px;
					background: $text-color;
					margin: 0;
					padding: 0;
					text-align: center;
					position: relative;

					&:after{
						
						content:'';
						@include sprite($after-titre-actu-hp-mobile);
						position: absolute;
					    bottom: -15px;
					    left: 50%;
					    margin-left: -23px;
					}

					span{
						text-transform: uppercase;
						@extend .do-re;
						font-size: 25px;
						color:#FFF;
						height: 60px;
						line-height: 60px;
					}
				}

				.content{
					padding: 30px 0;

					> h3{

						font-size: 20px;
						@extend .do-re;
						line-height: 18px;
						color:$vert;
						text-align: center;
						padding: 0;
						margin: 10px 0;

					}

					.chapeau{
						font-size: 18px;
						color:$rouge;
						font-family: $garamond;
						text-align: center;
						width: 100%;
						line-height: 20px;
						margin-bottom: 10px;

					} 

					.description{
						font-family: $helvetica;
						font-size: 13px;
						width: 100%;
						text-align: center;
						line-height: 18px;
						height: 90px;
						overflow: hidden;

						s{
							background: $jaune;
							text-decoration: none;

						}


					}

					> a{

						@include bt-crayon($rouge, #FFFFFF);
						margin: 10px auto 0 auto;

					}

				}

			}

			a.LienVieCridon{/*Lien toutes la veille juridique*/

				@include lien-souligne($rouge);				
				margin: 0 0 20px 0;
				position: relative;
				width: 100%;




				&:after{				
					top: 20px;
					left: 50%;
					margin-left: -9px;

				}
			}

		}
	}

}




	


/*********************
POSTS & CONTENT STYLES
*********************/

#content {
	//margin-top: 1.5em;
	padding:0 0 104px 0; /* Hauteur du footer */
}

	.hentry {

		header {
			
		}

		footer {
			padding: 1.5em;

			p {
				margin: 0;
			}
		}

	} /* end .hentry */

	.single-title,
	.page-title,
	.entry-title {
		margin: 0;
	}

	.single-title {}

	.page-title {}

	.entry-title {}

	.archive-title {}

	/* want to style individual post classes? Booya! */
	.post-id {}         /* post by id (i.e. post-3) */
	.post {}            /* general post style */
	.page {}            /* general article on a page style */
	.attachment {}      /* general style on an attatchment */
	.sticky {}          /* sticky post style */
	.hentry {}          /* hentry class */
	.category-slug {}   /* style by category (i.e. category-videos) */
	.tag-slug {}        /* style by tag (i.e. tag-news) */

	/* post meta */
	.byline {
		font-style: italic;
		margin: 0;

		time {}
	}

	/* entry content */
	.entry-content {


		p {
			margin: 0 0 1.5em;
		}


		ul, ol, table, dl {}

		ul, ol {

			li {}

		}

		ul {

			li {}

		}

		ol {

			li {}

		}

		blockquote {
			margin: 0 0 1.5em 0.75em;
			padding: 0 0 0 0.75em;
			font-style: italic;

			&:before {}

		}

		dl {}

		dt {}

		dd {
			margin-left: 0;
			font-size: 0.9em;
			color: #787878;
			margin-bottom: 1.5em;
		}

		img {
			margin: 0 0 1.5em 0;
			max-width: 100%;
			height: auto;
		}

		/*
		image alignment on a screen this size may be
		a bit difficult. It's set to start aligning
		and floating images at the next breakpoint,
		but it's up to you. Feel free to change it up.
		*/
		.alignleft, img.alignleft {}
		.alignright, img.alignright {}
		.aligncenter, img.aligncenter {}

		.size-auto,
		.size-full,
		.size-large,
		.size-medium,
		.size-thumbnail {
			max-width: 100%;
			height: auto;
		}

		pre {
			background: $black;
			font-size: 0.9em;
			padding: 1.5em;
			margin: 0 0 1.5em;
			border-radius: 3px;
		}

	} /* end .entry-content */

	.wp-caption {
		max-width: 100%;
		background: #eee;
		padding: 5px;

		/* images inside wp-caption */
		img {
			max-width: 100%;
			margin-bottom: 0;
			width: 100%;
		}

		p.wp-caption-text {
			font-size: 0.85em;
			margin: 4px 0 7px;
			text-align: center;
		}

	} /* end .wp-caption */

	/* image gallery styles */
	.gallery {

		dl {

			a {}

			img {}

		}

		dt {}

		dd {}

	} /* end .gallery */

	/* gallery caption styles */
	.gallery-caption {}

	.size-full {}
	.size-large {}
	.size-medium {}
	.size-thumbnail {}

// the tag output
.tags {
	margin: 0;
}

/*********************
SIDEBARS & ASIDES
*********************/

.sidebar {}


/*********************
FOOTER STYLES
*********************/

.logoJP {
	&, &:visited{
		color:white;

	}
	margin-top: 30px;
	position:relative;
	padding:0 0 0 18px;
	font-size:11px;
	text-decoration:underline;
	-webkit-transition:opacity .2s;
	transition:opacity .2s;
	opacity:.6;
	font-family:Arial;

	&::before{
		content:'';
		display:block;
		width:17px;
		height:19px;
		position:absolute;
		top:-5px;
		left:0;
		background-repeat:no-repeat;
		background-position:0 -19px;
		opacity:.8;transition:opacity .2s;
		-webkit-transition:opacity .2s;
		background-image:url(../images/signature_footer.png);
	}

}

	

a.logoJP:hover{opacity: 1;
	color:white;

	&:before{opacity: 1;}
}

.footer {
	clear: both;
	width:100%;
	background-color: $black;
	bottom:0;
	left:0;



	.block-links {

		background: $bg-top-footer;
		padding: 40px 0;

		ul {
			margin: 0;

			li {
				width: 100%;
				display: block;
				height: 90px;
				margin-bottom: 10px;
				text-align: right;
				padding: 25px 10px 10px;
				color: $white;
				@extend .do-bo;
				font-size: 18px;
				text-transform: uppercase;
				position: relative;

				a {
					@include lien-souligne(#FFF);
					
					text-transform: none;
					font-weight: normal;
					padding-right: 25px;
					position: absolute;
					bottom: 15px;
					right: 10px;

					&:after{
						
						line-height: 10px;
						right: 0;
						top: 0;
					}
				}

				&:after {
					content: "";
					position: absolute;
					top: 0;
					left: 50px;
					display: block;
					@include sprite($angle-before-links-footer-mobile);
				}

				&:before {
					content: "";
					position: absolute;
					display: block;
					bottom: 10px;
					font-weight: normal;
				}

				&.formations {
					background: $bleu;

					&:before {
						@include svgicon('icon-catalogue', 60px, 60px,$white);					

					}
				}

				&.cahier {
					background: $vert;

					&:before {
						@include svgicon('icon-cahier', 60px, 60px,$white);					

					}
				}

				&.services {
					background: $jaune-accueil;

					&:before {
						@include svgicon('icon-servicesplus', 60px, 60px,$white);					

					}
				}
			}
		}
	}

	.footer-cridon {
		background: $bg-cridon-footer;
		padding: 40px 0;
		color: $white;
		position: relative;
		.block-left {
			&:before {
				content: "";
				position: relative;
				display: block;
				@include sprite($logo-cridon-footer-mobile);
				margin: 0 auto 15px;
			}
			.chapeau {
				text-align: center;
				span {
					font-size: 16px;
					font-family: $garamond;
				}
				p {
					font-size: 13px;
					font-family: $helvetica;
				}
			} 
			.descriptif {
				display: none;
			}
		}
		&:after {
			content: "";
			position: absolute;
			bottom: 0;
			left: calc(50% - #{$angle-after-cridon-footer-mobile-width /2} );
			@include sprite($angle-after-cridon-footer-mobile);
		}

	}
	.block-right {
		display: none;
	}
	.footer-bottom {
		background: $bg-bottom-footer;
		padding: 30px 0 10px;
		text-align: center;
		nav {
			font-size: 13px;
			@extend .do-re;
			li {
				// float: left;
				display: inline-block;

				a{
					padding: 0 7px;
					&:after {
						content: "|";
						display: inline-block;
						position: relative;
						left: 7px;
					}
				}
				&:last-child a:after {content:none;}
			}
		}
		.logoJP {
			display: inline-block;

		}
	}

}

	/*
	if you checked out the link above:
	http://www.alistapart.com/articles/organizing-mobile/
	you'll want to style the footer nav
	a bit more in-depth. Remember to keep
	it simple because you'll have to
	override these styles for the desktop
	view.
	*/
	.footer-links {

		ul {

			li {}

		}

	} /* end .footer-links */


	.copyright {
		color: $white;
		margin: 0;
		@extend .do-re;
		b {
			@extend .do-bo;
		}
		b, span {
			text-transform: uppercase;
		}
		a:hover{

			

		}

	}

	

	


/*************************************************************************************************************
WORDPRESS BODY CLASSES
style a page via class
*************************************************************************************************************/

.rtl {}                           /* for sites that are read right to left (i.e. hebrew) */
.home {}                          /* home page */
.blog {}                          /* blog template page */
.archive {}                       /* archive page */
.date {}                          /* date archive page */
	.date-paged-1 {}                /* replace the number to the corresponding page number */
.search {}                        /* search page */
	.search-results {}              /* search result page */
	.search-no-results {}           /* no results search page */
	.search-paged-1 {}              /* individual paged search (i.e. body.search-paged-3) */
.error404 {}                      /* 404 page */
.single {}                        /* single post page */
	.postid-1 {}                    /* individual post page by id (i.e. body.postid-73) */
	.single-paged-1 {}              /* individual paged single (i.e. body.single-paged-3) */
.attachment {}                    /* attatchment page */
	.attachmentid-1 {}              /* individual attatchment page (i.e. body.attachmentid-763) */
	.attachment-mime-type {}        /* style mime type pages */
.author {}                        /* author page */
	.author-nicename {}             /* user nicename (i.e. body.author-samueladams) */
	.author-paged-1 {}              /* paged author archives (i.e. body.author-paged-4) for page 4 */
.category {}                      /* category page */
	.category-1 {}                  /* individual category page (i.e. body.category-6) */
	.category-paged-1 {}            /* replace the number to the corresponding page number */
.tag {}                           /* tag page */
	.tag-slug {}                    /* individual tag page (i.e. body.tag-news) */
	.tag-paged-1 {}                 /* replace the number to the corresponding page number */
.page-template {}                 /* custom page template page */
	.page-template-page-php {}      /* individual page template (i.e. body.page-template-contact-php */
	.page-paged-1 {}                /* replace the number to the corresponding page number */
	.page-parent {}                 /* parent page template */
	.page-child {}                  /* child page template */
	.parent-pageid-1 {}             /* replace the number to the corresponding page number */
.logged-in {}                     /* if user is logged in */
.paged {}                         /* paged items like search results or archives */
	.paged-1 {}                     /* individual paged (i.e. body.paged-3) */
