/******************************************************************
Site Name: Maestro
Author: Jetpulp

Stylesheet: Base Mobile Stylesheet

******************************************************************/

/*********************
GENERAL STYLES
*********************/
body {
	font-family: $sans-serif;
	font-size: 100%;
	line-height: 1.5;
	color: $text-color;
  	-webkit-font-smoothing: antialiased;
  	box-sizing: border-box;
}

/*********************
LAYOUT & GRID STYLES
*********************/

#container{
	min-height:100%;
	position:relative;
}
.wrap {
	width: 300px;
	border:solid 1px green;
	margin: 0 auto;
	
}

/*********************
HEADER STYLES
*********************/

.header {
	background-color: #FFF;
	height:60px;
	position: fixed;
	width: 100%; 
	@include box-shadow(0px 4px 10px 0px #999999);
	margin: 0;
	padding: 0;

	.header-sup{ display: none;}

	.header-bottom{

		#inner-header{
			position: relative;


			h1 {	
		
				width: 100%;
				height: 60px;
				margin: 0 auto;
				padding: 0;
				
				background: url(../images/logo-cridon.svg);
				background-size: 214px 41px;
				background-repeat: no-repeat;
				background-position: center center;


				&:after{
					content:none;
					//@include sprite($logo-cridon-mobile);			
					position: relative;
					top: 0px;
					left: 0px;
					width: 214px;
					height: 41px;

				} 
			}

			#bt-nav-mobile{
				position: absolute;
			    top: 20px;
			    left: 0;
			    display: block;
			    width: 20px;
			    height: 16px;
			    text-decoration: none;

				&:before{
					display:block;
					@include svgicon('icon-menu-mobile', 15px, 15px,$bleu);					
					position:relative;
					top:0;
					left:0;					
				}

			}

			#bt-account{

				position: absolute;
			    top: 20px;
			    right: 0;
			    display: block;
			    width: 25px;
			    height: 20px;
			    text-decoration: none;

				

				&:before{
					display:block;
					@include svgicon('icon-menu-compte', 18px, 18px,$bleu);					
					position:relative;
					top:0;
					right:0; 
				}
			}


		}
	}
	
}


/*

  ____                       _                       _ _ 
 |  _ \ __ _  __ _  ___     / \   ___ ___ _   _  ___(_) |
 | |_) / _` |/ _` |/ _ \   / _ \ / __/ __| | | |/ _ \ | |
 |  __/ (_| | (_| |  __/  / ___ \ (_| (__| |_| |  __/ | |
 |_|   \__,_|\__, |\___| /_/   \_\___\___|\__,_|\___|_|_|
             |___/                                       


*/



body.page-template-front-page{

	#content {
		//margin-top: 1.5em;
		padding:60px 0 0 0; /* Hauteur du footer */


		.row_01{

			background: #e6e6e6;
			width: 100%;


			.falsh-info{
				width: 100%;
				background: $gris;
				padding: 20px 10px 10px 10px;

				.titre{
					color:$rouge;
					@extend .do-bo;
					font-size: 18px; 
					text-transform: uppercase;
					margin-bottom: 12px;
					position: relative;

					.close, .open{
						font-size: 48px;
						line-height: 48px;
						@extend .do-el;
						color:$bleu;
						display: block;
						position: absolute;
						right: -9px; 
						
						//@include tranform (45deg); 
					}

					.close{
						transform: rotate(45deg);
						top: -20px;
						
					}

					.open{
						transform: rotate(90deg);
						top: -14px;
					}

				}

				.content{ 

					.texte{
						color:$bleu;
						font-family: $helvetica;
						font-size: 12px;
						line-height: 18px;
					}

					a{
						@include bt-crayon($rouge, #FFFFFF);

						margin-left: calc(100% - 46px);
						margin-top: 12px;

					}
				}

			}

			.block_03{

				margin-top: 10px;

				.block {

					width: 100%;
					height: 266px;
					margin-bottom: 10px;
					background-color: #FFF;
					position: relative;

					.content{
						height: 146px;
						//background-color: $vert;
						position: absolute;
						bottom: 0;
						left: 0;
						overflow: hidden;
						width: 100%;

						&:before, &:after{
							content: '';
							width: 50%;
							position: absolute;
							top: 0;
							background: $vert;
							display: block;
							height: 146px;
						}

						&:before{
							
							@include border-radius(0 20px 0 0);
							left: 0;
						}

						&:after{
 
							@include border-radius(20px 0 0 0);
							right: 0;


						}
						
						h2{ 
							position: relative;
							z-index: 2000;
							@extend .do-sm;
							color:#FFF;
							font-size: 30px;
							line-height: 30px;
							text-transform: uppercase;
							text-align: center;
							margin: 60px 0 0 0;
							padding: 0;
							font-weight: normal;

							span{
								display: block;
								font-size: 24px;
								line-height: 24px;
								font-family: 'EB Garamond';
								color:#FFF;
								text-transform: none;

							}
						}

						> a{
							display: block; 
							color:#FFF;
							position: relative;
							z-index: 2000;
							text-decoration: none;
							text-align: center;
							@extend .do-el;
							font-size: 40px;
							line-height: 27px;
							padding: 0;
							margin: 0;
						}
					}
				}

				.consulter{

					h2:before{
						display:block;
						@include svgicon('icon-consulter', 28px, 28px, #FFFFFF);					
						position:absolute;
						top:-32px;
						left:calc( 50% - 15px ); 
					}
				}
			}

		}
	}

}




	


/*********************
POSTS & CONTENT STYLES
*********************/

#content {
	//margin-top: 1.5em;
	padding:0 0 104px 0; /* Hauteur du footer */
}

	.hentry {

		header {
			
		}

		footer {
			padding: 1.5em;

			p {
				margin: 0;
			}
		}

	} /* end .hentry */

	.single-title,
	.page-title,
	.entry-title {
		margin: 0;
	}

	.single-title {}

	.page-title {}

	.entry-title {}

	.archive-title {}

	/* want to style individual post classes? Booya! */
	.post-id {}         /* post by id (i.e. post-3) */
	.post {}            /* general post style */
	.page {}            /* general article on a page style */
	.attachment {}      /* general style on an attatchment */
	.sticky {}          /* sticky post style */
	.hentry {}          /* hentry class */
	.category-slug {}   /* style by category (i.e. category-videos) */
	.tag-slug {}        /* style by tag (i.e. tag-news) */

	/* post meta */
	.byline {
		font-style: italic;
		margin: 0;

		time {}
	}

	/* entry content */
	.entry-content {


		p {
			margin: 0 0 1.5em;
		}


		ul, ol, table, dl {}

		ul, ol {

			li {}

		}

		ul {

			li {}

		}

		ol {

			li {}

		}

		blockquote {
			margin: 0 0 1.5em 0.75em;
			padding: 0 0 0 0.75em;
			font-style: italic;

			&:before {}

		}

		dl {}

		dt {}

		dd {
			margin-left: 0;
			font-size: 0.9em;
			color: #787878;
			margin-bottom: 1.5em;
		}

		img {
			margin: 0 0 1.5em 0;
			max-width: 100%;
			height: auto;
		}

		/*
		image alignment on a screen this size may be
		a bit difficult. It's set to start aligning
		and floating images at the next breakpoint,
		but it's up to you. Feel free to change it up.
		*/
		.alignleft, img.alignleft {}
		.alignright, img.alignright {}
		.aligncenter, img.aligncenter {}

		.size-auto,
		.size-full,
		.size-large,
		.size-medium,
		.size-thumbnail {
			max-width: 100%;
			height: auto;
		}

		pre {
			background: $black;
			font-size: 0.9em;
			padding: 1.5em;
			margin: 0 0 1.5em;
			border-radius: 3px;
		}

	} /* end .entry-content */

	.wp-caption {
		max-width: 100%;
		background: #eee;
		padding: 5px;

		/* images inside wp-caption */
		img {
			max-width: 100%;
			margin-bottom: 0;
			width: 100%;
		}

		p.wp-caption-text {
			font-size: 0.85em;
			margin: 4px 0 7px;
			text-align: center;
		}

	} /* end .wp-caption */

	/* image gallery styles */
	.gallery {

		dl {

			a {}

			img {}

		}

		dt {}

		dd {}

	} /* end .gallery */

	/* gallery caption styles */
	.gallery-caption {}

	.size-full {}
	.size-large {}
	.size-medium {}
	.size-thumbnail {}

// the tag output
.tags {
	margin: 0;
}

/*********************
SIDEBARS & ASIDES
*********************/

.sidebar {}


/*********************
FOOTER STYLES
*********************/

.logoJP {
		position:relative;
		color:white;
		padding:0 0 0 18px;
		font-size:11px;
		text-decoration:underline;
		-webkit-transition:opacity .2s;
		transition:opacity .2s;
		opacity:.6;
		font-family:Arial;

		&::before{
			content:'';
			display:block;
			width:17px;
			height:19px;
			position:absolute;
			top:-5px;
			left:0;
			background-repeat:no-repeat;
			background-position:0 -19px;
			opacity:.8;transition:opacity .2s;
			-webkit-transition:opacity .2s;
			background-image:url(../images/signature_footer.png);
		}

	}

	

	a.logoJP:hover{opacity: 1;

		&:before{opacity: 1;}
	}

.footer {
	clear: both;
	width:100%;
	background-color: $black;
	height:104px;
	position:absolute;
	bottom:0;
	left:0;
}

	/*
	if you checked out the link above:
	http://www.alistapart.com/articles/organizing-mobile/
	you'll want to style the footer nav
	a bit more in-depth. Remember to keep
	it simple because you'll have to
	override these styles for the desktop
	view.
	*/
	.footer-links {

		ul {

			li {}

		}

	} /* end .footer-links */


	.copyright {

		a,
		span{

			position:relative;
			padding:0 30px 0 0;
			cursor:pointer;

			&:after{

				content: "";
				display: block;
                //@include sprite($jetpulp);
				position: absolute;
				top: 3px;
				right: 0;

			}


		}

		a:hover{

			

		}

	}

	

	


/*************************************************************************************************************
WORDPRESS BODY CLASSES
style a page via class
*************************************************************************************************************/

.rtl {}                           /* for sites that are read right to left (i.e. hebrew) */
.home {}                          /* home page */
.blog {}                          /* blog template page */
.archive {}                       /* archive page */
.date {}                          /* date archive page */
	.date-paged-1 {}                /* replace the number to the corresponding page number */
.search {}                        /* search page */
	.search-results {}              /* search result page */
	.search-no-results {}           /* no results search page */
	.search-paged-1 {}              /* individual paged search (i.e. body.search-paged-3) */
.error404 {}                      /* 404 page */
.single {}                        /* single post page */
	.postid-1 {}                    /* individual post page by id (i.e. body.postid-73) */
	.single-paged-1 {}              /* individual paged single (i.e. body.single-paged-3) */
.attachment {}                    /* attatchment page */
	.attachmentid-1 {}              /* individual attatchment page (i.e. body.attachmentid-763) */
	.attachment-mime-type {}        /* style mime type pages */
.author {}                        /* author page */
	.author-nicename {}             /* user nicename (i.e. body.author-samueladams) */
	.author-paged-1 {}              /* paged author archives (i.e. body.author-paged-4) for page 4 */
.category {}                      /* category page */
	.category-1 {}                  /* individual category page (i.e. body.category-6) */
	.category-paged-1 {}            /* replace the number to the corresponding page number */
.tag {}                           /* tag page */
	.tag-slug {}                    /* individual tag page (i.e. body.tag-news) */
	.tag-paged-1 {}                 /* replace the number to the corresponding page number */
.page-template {}                 /* custom page template page */
	.page-template-page-php {}      /* individual page template (i.e. body.page-template-contact-php */
	.page-paged-1 {}                /* replace the number to the corresponding page number */
	.page-parent {}                 /* parent page template */
	.page-child {}                  /* child page template */
	.parent-pageid-1 {}             /* replace the number to the corresponding page number */
.logged-in {}                     /* if user is logged in */
.paged {}                         /* paged items like search results or archives */
	.paged-1 {}                     /* individual paged (i.e. body.paged-3) */
