
/*********************
CALENDAR STYLES
*********************/

#calendar {
    $calendar-line-height: 36px;
    $calendar-sidebar-width: 81px;
    $calendar-margin: 3px;

    width: 100%;
    @include do-sm;
    font-size: 16px;

    margin-bottom: 30px;

    /*********************
    CALENDAR HEADER
    *********************/
    .calendar__wrapper--header {
        background: #eee;
        border-color: #bcbcbc;
        border-width: 1px 0;
        border-style: solid;
        height: 73px;
    }
    .calendar__header--navigation {
        width: 100%;
        height: 100%;
        position: relative;
        font-size: 20px;
        text-transform: uppercase;

        & > * {
            display: block;
            text-align: center;
            line-height: 71px;
        }
    }

    .calendar__button {
        position: absolute;
        top: 0;
        bottom: 0;
        width: 49px;
        text-decoration: none;
        -webkit-perspective: 500px;
        text-align: center;
        z-index: 10;

        &:before {
            vertical-align: middle;
            @include svgicon('icon-flech-arrow',18px, 18px, $bleu);
            position: relative;
            left: 3px;
        }

        &:hover:before {
            opacity: .7;
        }

        &--next {
            left: 147px;
        }

        &--previous {
            left: 0;
            &:before {
                transform: rotateY(180deg);
            }
        }
    }

    .calendar__button--today {
        position: absolute;
        top: 29px;
        left: 49px;
        text-decoration: none;
        height: 18px;
        line-height: 18px;
        border:solid 1px $bleu;
        font-size: 14px;
        background: $bleu;
        color: #FFF;
        padding: 0 10px;
        z-index: 10;
    }

    .is-month {

        .calendar__button--today {
            display: none;
        }

        .calendar__button--next {
            left: 37px;
        }

    } 

    .calendar__block--currentmonth {
        margin: 0 auto;
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        text-align: center;
        width: 53%;
    }

    .calendar__header--weekdays {
        display: none;
    }

    /*********************
    CALENDAR BODY
    *********************/
    .calendar__body {
        margin: 0;
    }

    /*********************
    CALENDAR DAYS
    *********************/
    .calendar__day {
        min-height: $calendar-line-height;
        border-bottom: 1px solid #bcbcbc;
        padding: 0 4px;
        line-height: 0;
        position: relative;
    }

    .calendar__day-side {
        height: $calendar-line-height;
        line-height: $calendar-line-height;
        display: inline-block;
        vertical-align: top;
        width: $calendar-sidebar-width;

        & > * {
            height: 100%;
            vertical-align: top;
        }
    }

    .calendar__day-number {
        width: $calendar-line-height;
        position: relative;
        display: inline-block;
        text-align: center;
        background-color: transparent;
        z-index: 0;

        &:before {
            content: '';
            display: block;
            position: absolute;
            border-radius: 50%;
            margin: 5px;
            top: 0;
            bottom: 0;
            right: 0;
            left: 0;
            z-index: -1;
        }
    }

    .calendar__day--today .calendar__day-number {
        color: #fff;
        &:before {
            background-color: $bleu;
        }
    }

    .calendar__day--greyed {
        .calendar__day-number ,
        .calendar__day-content {
            opacity: .5;
        }
    }
    .calendar__day-name {
        display: inline-block;
        opacity: .6;
        width: 41px;
        text-transform: capitalize;
    }



    /*********************
    CALENDAR DAYS CONTENT
    *********************/
    .calendar__day-content {
        display: inline-block;
        width: calc(100% - #{$calendar-sidebar-width + $calendar-margin + 2});
    }

    .calendar__day-event {
        @include do-re;
        @include ellipsis;
        height: $calendar-line-height;
        font-size: 15px;
        line-height: 36px;

        &--tablet {
            display: none;
        }
    }

    .calendar__day-sessions {
        display: block;
        position: relative;
        margin: 0;
        z-index: 0;
        padding-top: $calendar-margin;

        .calendar__session-content {
            display: none;
        }
    }

    .calendar__session {
        margin: 0 0 $calendar-margin;
        padding: 0;
        z-index: 0;
        min-height: 30px;
        width: 100%;
        line-height: 30px;
        box-shadow: 0 0 0 0 $calendar-color-hover;
        transition: box-shadow $duration, width $duration;
        cursor: pointer;

        &:before {
            content: none;
        }

        &.calendar__session--open,
        &.calendar__session--open:hover {
            z-index: 1;
            box-shadow: inset 0 0 2px 2px $calendar-color-hover;
        }
        &:hover {
            z-index: 2;
            box-shadow: inset 0 0 2px 2px $calendar-color-hover;
        }
    }

    .calendar__session-name {
        color: #FFF;
        font-size: 14px;
        line-height: 18px;
        padding: 5px 0;
        margin: 0 6px;
        width: calc(100% - 12px);

        &--name {
            vertical-align: top;
            font-weight: 700;
        }
        &--organisme {
            vertical-align: bottom;
            display: inline-block;
            word-break: normal;
            padding-top: 4px;
            margin-top: 5px;
            border-top: 1px solid rgba(255,255,255,.4);
            font-weight: 400;
            padding-right: 1px;
        }
    }

    .calendar__session-block {
        position: absolute;
        right: 50px;
        top: #{18px + 30px};
        width: 220px;
        min-height: 100px;
        padding: 3px;
        display: block;

        filter: drop-shadow(0 0 5px rgba(0,0,0,.4));
        opacity: 0;
        background: #eee;
        z-index: -1;
        transform: scale(.8);

        transition: top $duration, right $duration, z-index $duration, height $duration, opacity $duration, transform $duration;

        &:before {
            content: '';
            position: absolute;
            top: -15px;
            right: calc(50% + 7px);
            width: 15px;
            @include svgicon('icon-angle-top', 15px, 15px, #eee);
            transform: rotateZ(.1deg); // Fix for Firefox dropshadow having wrong colors
        }

        &.calendar__session-block--open {
            z-index: 100;
            opacity: 1;
            transform: scale(1);
        }
    }

    .calendar__day-sessions-scrollbar {
        display: none;
        z-index: 1;
    }

    .calendar__session-block-button--close {
        position: absolute;
        top: -9px;
        right: -9px;
        width: 26px;
        height: 26px;
        background: #324968;
        border-radius: 50%;
        line-height: 26px;
        color: transparent;
        cursor: pointer;

        &:before {
            @include svgicon('icon-croix', 13px, 13px, #fff);
            display: block;
            height: 27px;
            width: 26px;
            text-align: center;
            line-height: 26px;
            vertical-align: middle;
            position: relative;
            top: 0px;
            right: 0px;
        }

        &:hover {
            opacity: .9;
        }
    }

    .calendar__session-content--header {
        background: #fff;
        width: 100%;
        padding: 7px 8px;

        .calendar__session-matiere--icon {
            display: inline-block;
            vertical-align: top;
        }

        .calendar__session-content--name {
            width: calc(100% - 35px);
            display: inline-block;
            line-height: 1.12;
            text-transform: uppercase;
        }
    }

    .calendar__session-content--body {
        padding: 0 7px 8px;
        font-size: 15px;
        line-height: 1.12;

        hr {
            display: block;
            margin: 10px 0;
            padding: 0 1px;
            background: #bcbcbc;
            height: 4px;
            width: 100%;
            border: none;
        }
    }

    .calendar__session-content--time,
    .calendar__session-content--place {
        line-height: 1;
        padding: 10px 0;
        @include do-re;

        p {
            margin: 0;

            &.price {
                color: $rouge;
                margin-top: 3px;
            }
        }
    }

    .calendar__session-content--place {
        @include do-me;
    }

    .calendar__session-content--time--full {
        color: $rouge;
        text-transform: uppercase;
    }

    .calendar__session-content--place {
        position: relative;

        &:after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            width: 20%;
            height: 1px;
            background: $text-color;
        }
    }

    .calendar__session-content--more {
        font-family: $garamond;
        color: $rouge;
        display: block;
        font-weight: normal;
        margin-bottom: 10px;

        &:after {
            content: '+';
            display: inline-block;
            @include do-el;
            font-size: 25px;
            line-height: 15px;
            position: relative;
            top: 2px;
        }

        &:hover:after {
            font-weight: normal;

        }
    }

    .calendar__session-content-button {
        @include bt-rectangle($vert, #FFF);
        margin-top: 9px;

        &--disabled,
        &--disabled:hover {
            background: #ccc;
            opacity: .8;
            cursor: default;

            &:before {
                color: #ccc;
            }
        }
    }

    .calendar__session-content-chambre {
        line-height: 1.2;

        &--name {
            text-transform: uppercase;
            margin-bottom: 15px;
        }
        &--telephone,
        &--email {
            font-weight: normal;
            padding-bottom: 1px;

            a {
                color: $bleu;
            }
        }
    }

    

}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    #calendar .calendar__session-block {
        //equivalent au filter dropshadow pour IE...
        //box-shadow: 0 0 10px rgba(0,0,0,.4);
        box-shadow: 0 0 10px rgba(0,0,0,.4);
    }
}


//
// LEGENDE CALENDRIER
//

.page-calendar {
    .legende {
        padding: 0 20px;
        margin-bottom: 50px;
        ul {
            margin: 0;
            padding: 0;
            overflow: hidden;

            li {
                vertical-align: middle;
                position: relative;
                margin: 0 10px 10px 30px;
                padding: 0;
                min-height: 22px;
                display: inline-block;
                width: 90%;
                float: left;

                span {
                    @include do-re;
                    position: relative;
                    line-height: 22px;
                    font-size: 12px;
                    text-transform: uppercase;
                    color: #818181;
                    display: block;
                    background-color: #FFF;
                }

                &::before {
                    @include svgicon('icon-angle-right', 18px, 18px, inherit);
                    position: absolute;
                    left: -8px;
                    top: 10px;
                    margin-top: -9px;
                    display: block;
                    //fix rendering pb on FF
                    //transform: rotateZ(-2deg);
                }

                &::after {
                    content: '';
                    width: 22px;
                    height: 22px;
                    background-color: inherit;
                    position: absolute;
                    left: -30px;
                    top: 0;
                    //fix rendering pb on FF
                    //transform: rotateZ(-2deg);
                }
            }
        }
    }
}

