//
//   __                            _   _                               _             _
//  / _| ___  _ __ _ __ ___   __ _| |_(_) ___  _ __     ___ ___  _ __ | |_ __ _  ___| |_
// | |_ / _ \| '__| '_ ` _ \ / _` | __| |/ _ \| '_ \   / __/ _ \| '_ \| __/ _` |/ __| __|
// |  _| (_) | |  | | | | | | (_| | |_| | (_) | | | | | (_| (_) | | | | || (_| | (__| |_
// |_|  \___/|_|  |_| |_| |_|\__,_|\__|_|\___/|_| |_|  \___\___/|_| |_|\__\__,_|\___|\__|
//
//

#content.page-formation-form {

    #main::before {
        //display: none;
    }

    .col2 {
        margin-bottom: 40px;
    }

    .h3{
        @include do-me;
        font-size: 20px;
        line-height: 20px;
        color: $vert;
        text-transform: uppercase;
        margin-bottom: 20px;
    }

    p{
        font-family: $helvetica;
        font-size: 13px;
        color: $bleu;
        line-height: 18px;
    }

    div.important {
        margin: 20px 0;
        background: $gris;
        padding: 20px;
        font-size: 13px;
        color: $bleu;
        line-height: 18px;

        .titre {
            @include do-bo;
            color: $rouge;
            text-transform: uppercase;
            margin-bottom: 10px;
            font-size: 20px;
        }
    }

    a.bt-plus {
        font-size: 13px;
    }

    .session {
        border-left:solid 1px $bg-top-footer;
        padding-left: 20px;
        margin-top: 30px;

        .date {
            font-size: 15px;
            text-transform: uppercase;
            color: $bleu;
            @include do-re;
            margin:0;
            line-height: 15px;
        }

        .organisme {
            @include do-re;
            font-size: 13px;
            line-height: 15px;
            margin-bottom: 10px;
            line-height: 18px;
        }

        .horaire {
            @include do-re;
            font-size: 13px;
            margin-top: 15px;
            position: relative;

            &::before {
                content: '';
                width: 40px;
                height: 1px;
                background: $bleu;
                position: absolute;
                top: -7px;
                left: 0;
            }
        }

        .place,
        .duree,
        .price {
            @include do-re;
            line-height: 18px;
            font-size: 15px;
        }

        .price {
            color: $rouge;
        }
    }

    .required {
        color: $rouge;
    }

    .required-info {
        border-bottom: solid 4px #e6e6e6;
        height: 30px;
        font-family: arial;
        font-size: 10px;
        color: #170910;
        text-align: right;
        margin-bottom: 20px;
    }

    select{
        line-height: 40px;
        font-size: 14px;
    }

    label {
        font-size: 14px;
    }

    p.label {
        @include do-el;
        margin-bottom: 2px;
        font-size: 14px;
    }

    .message {
        font-size: 14px;
        padding: 10px 0 10px 15px;
        margin-top: 20px;

        display: none;

        &.valide {
            border-left: solid 5px $vert;
            color: $vert;
        }

        &.error {
            border-left: solid 5px $rouge;
            color: $rouge;
        }

        &.show {
            display: block;
        }
    }
}
