/*

  ____ ___ _   _  ____ _     _____
 / ___|_ _| \ | |/ ___| |   | ____|
 \___ \| ||  \| | |  _| |   |  _|
  ___) | || |\  | |_| | |___| |___
 |____/___|_| \_|\____|_____|_____|



*/


body.single,
#content.single {


	#inner-content{

		.titre {
			height: 43px;

			span{
				margin: 20px 0;
			}
		}

		.sep{
			height: 4px;
			background: #e6e6e6;
			margin: 20px 0;
			width: 100%;
			clear: both;
			position: relative;

			&:before{

				@include svgicon('ico-sep', 17px, 17px, #e6e6e6);
				position: absolute;
				top: 0;
				background: #FFF;
				left: 50%;
				margin-left: -30px;



			}


		}


		article{

			padding-top: 10px;
			padding-bottom: 20px;

			border-bottom:solid 4px #e6e6e6;

			.date{
				height: 60px;
				font-size: 25px;
				@include do-re;
				text-transform: uppercase;
				text-align: center;
				background: $vert;
				line-height: 60px;
				color:#FFF;
				position: relative;
				display: block;
				margin-bottom: 20px;

				&:before{
					@include svgicon('icon-angle-bottom', 15px, 15px, $vert);
					position:absolute;
					bottom: -15px;
					left: 50%;
					margin-left: -24px;
					display: block;

				}

				&:after{
					display: none;
				}
			}


			.details{

				.block_left{
					width: 30px;
					height: 30px;
					float: left;

					.img-cat{
						width: 30px;
						height: 30px;
						margin-right: 20px;

						img{
							width: 30px;
							height: 30px;
						}

					}
				}

				// NIVEAU DES VEILLES
				&.niveau1{
					.img-cat{
						position: relative;
						&:after{
							position: absolute;
							content:url(../images/reference.svg);
							top: 60px;
							left: -9px;
							height: 12px;
							width: 50px;
						    display: block;
						    line-height: 12px;
							/*background-image: url(../images/icon-cridonline-reference.png);
							background-size: 30px 30px;
							top: 35px;
							left: 0;*/
							@include rotate(-90);
						}
					}
				}
				&.niveau2{
					.img-cat{
						position: relative;
						&:after{
							position: absolute;
							content:url(../images/premium.svg);
							/*width: 30px;
							height: 30px;
							background-image: url(../images/icon-cridonline-premium.png);
							background-size: 30px 30px;*/
							top: 60px;
							left: -9px;
							@include rotate(-90);
						}
					}
				}
				&.niveau3{
					.img-cat{
						position: relative;
						&:after{
							position: absolute;
							content:url(../images/excellence.svg);
							@include rotate(-90);
							height: 10px;
							width: 60px;
						    display: block;
						    line-height: 12px;
						    top: 76px;
							left: -17px;
						}
					}
				}


				.block_right{
					float: right;
					width: calc(100% - 50px);
					min-height: 70px;

					.matiere{
						@include do-bo;
						color:#FFF;
						text-transform: uppercase;
						font-size: 12px;
						background: $vert;
						display: inline-block;
						padding: 0 2px;
						top: -3px;
						position: relative;
						//margin-bottom: 5px;
					}

					h1{
						@include do-me;
						font-size: 20px;
						line-height: 20px;
						text-transform: uppercase;
						color:$vert;
						display: block;
						margin: 0;
						padding: 0;
						text-align:left;

						&:before{
							display: none;
						}

					}

					.chapeau{
					    font-size: 15px;
					    color: $rouge;
					    font-family: $garamond;
					    width: 100%;
					    line-height: 18px;
					    margin-bottom: 10px;
					}
				}

				.block_full{

					clear: both;
					width: 100%;
					padding-left: 50px;

					.content{
						font-family: $helvetica;
					    font-size: 13px;
					    line-height: 18px;
					    color:$bleu;
					}

					.adresse{
						font-family: $helvetica-bold;
						font-size: 12px;
						color:$bleu;
						margin: 10px 0 10px 0;
						line-height: 14px;
					}

					.mots_cles{

						margin:20px 0 10px 0;
						padding: 0;
						height: 18px;

						>li{
							float: left;
							padding: 0;
							margin: 0 20px 0 0;
							font-family: $helvetica-bold;
							color:$bleu;
							font-size: 10px;
							position: relative;
							height: 18px;
							line-height: 18px;

							&:before{
								content:'';
								position: absolute;
								top: 0;
								right: -10px;
								width: 1px;
								height: 18px;
								background: $bleu;

							}

							&:last-child{
								&:before{ display: none;}
							}
						}
					}

					.documents-liees{
						width: 100%;
						margin-top: 20px;
						background: #e6e6e6;

						> ul {
							margin: 0;
							padding: 20px 0;

							> li {
								margin: 0;
								padding: 0;
								position: relative;
								padding-left: 60px;
								padding-right: 20px;

								&:before {
									@include svgicon('icon-pdf', 25px, 25px, $rouge);
									position: absolute;
									left: 20px;
									top: 50%;
									margin-top: -13px;
								}

								> a {
									@include do-re;
									font-size: 16px;
									color: $bleu;
									text-decoration: none;
									text-decoration: underline;
									display: block;
									line-height: 18px;
								}
							}
						}

					}

				}


			}

		}

		> a{

			@include bt-rectangle($vert, #FFF);
			width: 70px;
			height: 30px;
			line-height: 30px;
			text-align: center;
			padding: 0;
            margin: 20px auto 40px calc(50% - 35px);

            &:before{
    			@include svgicon('icon-angle-right', 15px, 15px, $vert);
    			right: inherit;
    			left: -5px;
    			@include rotate(180);
    		}
		}


	}

	&.single-formations {

		article {
			padding-bottom: 0 !important;
			margin-bottom: 36px;
		}
		
		#inner-content article .date {
			margin-bottom: 3px;

			&::before {
				display: none;
			}
		}

		#inner-content > a{
			width: auto;
			margin: auto;
			display: inline-block;
			margin-bottom: 10px;
			display: block;

			&.liste {
				width: 230px;
			}

			&.agenda {
				width: 250px;
				margin-bottom: 50px;

				&:before{
					display: none;
				}
			}

		}

		.session {
			height: 90px;
			background: $bleu;
			@include do-re;
			font-size: 15px;
			color: $white;
			text-align: center;
			padding: 10px 0;

			p{
				margin: 0;
				padding: 0;
				line-height: 18px;

				&.lieu {
					padding: 0 80px;
					margin-bottom: 11px;
				}

				&.horaire {
					position: relative;
					margin-top: 16px;

					&::after {
						content:'';
						width: 40px;
						height: 1px;
						background: $white;
						position: absolute;
						top: -8px;
						left: 50%;
						margin-left: -20px;
					}
				}
			}


		}

		a.bt {
			height: 30px;
			background: $vert;
			color: $white;
			text-transform: uppercase;
			@include do-re;
			font-size: 15px;
			text-align: center;
			display: block;
			text-decoration: none;
			line-height: 30px;
			margin-top: 10px;
			position: relative;
			margin-right: 5px;
			margin-bottom: 20px;

			&::before {
				@include svgicon('icon-angle-bottom', 5px, 5px, $vert);
				position: absolute;
				right: -10px;
				top: 50%;
				margin-top: -3px;
				@include rotate(-90);
			}
		}

		.liste-sessions {
			border-top: solid 4px $bg-top-footer;
			margin-top: 35px;
			padding-top: 30px;
			overflow: hidden;

			p.titre {
				font-family: $garamond;
				font-size: 20px;
				line-height: 24px;
				color: $rouge;
				display: inline-block;
				height: auto !important;
				margin: 0;

				&::after {
					content:'';
					width: 100%;
					position: relative;
					height: 1px;
					background: $rouge;
					display: block;

				}
			}

			ul {
				margin: 30px 0 0 0;
				padding: 0;

				li{
					margin: 0 0 10px 0;
					padding: 0 0 10px 0;
					border-bottom: solid 1px $bg-top-footer;
					float: left;
					width: 100%;

					&:last-child {
						border-bottom: none;
					}

					.session-item {
						width: 170px;
						float: left;
						overflow: hidden;

						p{
							margin: 0;
							line-height: 18px;
							@include do-re;
							padding-right: 50px;

							&.session {

								&-date {
									font-size: 18px;
									text-transform: uppercase;
									color: $bleu;
								}

								&-lieu {
									@include do-re;
									font-size: 15px;
									margin-bottom: 10px;
									font-size: 15px;
									line-height: 18px;
								}

								&-horaire {
									position: relative;
									margin-top: 18px;

									&::before {
										content:'';
										width: 40px;
										height: 1px;
										background: $bleu;
										top: -7px;
										left: 0;
										position: absolute;
									}
								}
							}
						}

					}

					a.preinscrire {
						float: right;
						width: 110px;
						background: $bg-top-footer;
						color: #818181;

						&::before {
							color: $bg-top-footer;
						}
					}

				}
			}
		}
	}

	

}



#content.single-vie-cridon{

	#inner-content article .details .block_full,
	#inner-content article .details .block_right {
		width: 100%;
	}

}