#mes-collaborateurs {

    ul.list-collab {
        width: 790px;

        li {
            height: 80px;
            padding: 15px 0;

            .trash {
                &::before {
                    top: 50%;
                    margin-top: -4px;
                }
            }

            .block_01,
            .block_02,
            .block_03 {
                float: left;
                width: 33.33%;
                margin: 0;
                line-height: 22px;

                .nom {
                    line-height: 22px;
                }

                .fonction {
                    line-height: 22px;
                }
            }

            .block_03 {
                padding-left: 50px;
            }
        }
    }
}
