.cridonline-offres{

	h2{
		margin-bottom: 5px;
	}

	.description{
		font-family: $garamond;
		font-size: 15px;
		line-height: 18px;
		color:$rouge;
		margin: 0 0 20px 0;
		padding: 0;
	}

	.bloc-cridonline{
		width: 217px;
		height: 443px;
		border:solid 6px $jaune;
		margin-bottom: 15px;
		overflow: hidden;
		
		position: relative;

		&.large {
			height: 493px;
			.content {
				height: 344px;
			}
		}

		> .en-tete{
			height: 127px;
			background: $bg-top-footer;


			@include transition(all 0.3s);
		}

		.content{
			padding:0px 10px 15px 10px;
			text-align: center;
			height: 234px;

			.titre{
				font-size: 17px;
				color:$bleu;
				@extend .do-bo;
				text-align: center;
				line-height: 20px;
				margin: 15px 0;
			}

			.prix{
				@extend .do-bo;
				font-size: 53px;
				position: relative;
				text-align: center;
				line-height: 70px;
				display: inline-block;
				overflow: hidden;
				height: 70px;

				span{
					position: relative;
					font-size: 18px;
					top: -25px;
					
					line-height: 20px;

				}

				&:after{
					content:'/an';
					position: absolute;
					top: 36px;
					right: 7px;
					font-size: 16px;
					line-height: 20px;

				}
			}

			ul{
				margin: 0 0 5px 0;
				padding: 0 15px;

				@include transition(all 0.3s);

				li{
					margin: 0;
					padding: 0;

					font-size: 13px;
					line-height: 18px;
					font-family: $garamond;
					color:$bleu;
					text-align: left;


				}
			}

			>a {
				@include lien-souligne($vert);
				font-size: 14px;
				border-bottom:solid 1px $vert;
				line-height: 19px;
				margin-bottom: 25px;

				@include transition(all 0.3s);

				&:after{
					font-size: 20px;
					left: 50%;
					margin-left: -4px;
					top: 15px;
					text-decoration: none;
				}

				&:hover{
					border-bottom: solid 1px #FFF;
				}
			}

			input[type="submit"]{
				position: absolute;
			    left: 50%;
			    margin-left: -95px;
			    bottom: 15px;
			    width: 190px;
			    font-size: 12px;
			}

			
		}

		

		&.niveau-1{
			border:solid 6px $bleu-cri;

			.en-tete{
				background: url("../images/logo-cridonline-reference.png") no-repeat center center $bg-top-footer;
				background-size: auto 79px;
			}

			.prix{
				color:$bleu-cri;
			}

			input[type="submit"]{
				background-color: $bleu-cri;
			}
		}

		&.niveau-2{			
			border:solid 6px $vert-cri;

			.en-tete{
				background: url("../images/logo-cridonline-premium.png") no-repeat center center $bg-top-footer;
				background-size: auto 79px;
			}
			.prix{
				color:$vert-cri;
			}
			input[type="submit"]{
				background-color: $vert-cri;
			}
		}
		&.niveau-3{
			border:solid 6px $jaune-cri; 

			.en-tete{
				background: url("../images/logo-cridonline-excellence.png") no-repeat center center $bg-top-footer;
				background-size: auto 79px;
			}
			.prix{
				color:$jaune-cri;
			}
			input[type="submit"]{
				background-color: $jaune-cri;

				&.bt2{
					bottom: 45px;
					height: 25px;
					background: #ffcc00;
				}
			}

			.en-tete{
				height: 120px;
			}

			ul{
				padding: 0 13px;
			}

			.bt1{}
			.bt2{
			}
		}

			

		&.non-actif{

				border-color:rgba(102, 102, 102, 0.3);

				.en-tete, .content ul, .content a{
					filter: grayscale(100%);
				    -webkit-filter: grayscale(100%);
				    -moz-filter: grayscale(100%);
				    -ms-filter: grayscale(100%);
				    -o-filter: grayscale(100%);

				    opacity: 0.3;
				}


				&:hover{


					&.niveau-1{
						border:solid 6px $bleu-cri;
					}
					&.niveau-2{
						border:solid 6px $vert-cri;
					}
					&.niveau-3{
						border:solid 6px $jaune-cri;
					}

					.en-tete, .content ul, .content a{	
					    opacity: 1;

					    filter:none ;
					    -webkit-filter: none;
					    -moz-filter: none;
					    -ms-filter: none;
					    -o-filter: none;
					}
				}
			
		}

		&.on{

			width: 247px;
		    position: relative;
		    left: -12px;

			&:before{
				@include svgicon('icon-angle-bottom', 15px, 15px, $bleu);					
				position:absolute;
				bottom:-2px;
				left:50%;
				margin: 0 0 0 -24px; 
				display: block; 
				z-index: 222;
				@include rotate(180);
			}

			&.niveau-2{				
				&:before{
					@include svgicon('icon-angle-bottom', 15px, 15px, $vert);
				}
			}

			&.niveau-3{				
				&:before{
					@include svgicon('icon-angle-bottom', 15px, 15px, $jaune);
				}
			}

			&.niveau-1{
				border:solid 6px $bleu-cri;
			}
			&.niveau-2{
				border:solid 6px $vert-cri;
			}
			&.niveau-3{
				border:solid 6px $jaune-cri;
			}

			.en-tete, .content ul, .content a{	
			    opacity: 1;

			    filter:none ;
			    -webkit-filter: none;
			    -moz-filter: none;
			    -ms-filter: none;
			    -o-filter: none;
			}
		}

		&.normal{

			&.niveau-1{
				border:solid 6px $bleu-cri;
			}
			&.niveau-2{
				border:solid 6px $vert-cri;
			}
			&.niveau-3{
				border:solid 6px $jaune-cri;
			}

			.en-tete, .content ul, .content a{	
			    opacity: 1;

			    filter:none ;
			    -webkit-filter: none;
			    -moz-filter: none;
			    -ms-filter: none;
			    -o-filter: none;
			}

		}

		
		
	}
}

div#cridonline{



	/* input[type="submit"]{
			width: 100%;
			height: 40px;
			font-size: 15px;
		} */

	


	.wrap-link{
		width: 170px;
		margin-left:20px;
		margin-bottom: 26px;
		a{
			@include lien-souligne($rouge);
			border-bottom:solid 1px $rouge;
			display: inline;

			&:after{
				left: 50%;
				margin-left: -10px;
			}

			&:hover{
				border-bottom: solid 1px #FFF;
			}
		}
	} 

	.message-offre{
		font-size: 14px;
		line-height: 18px;
		font-family: $garamond;
		color:$rouge;
		margin-bottom: 30px;
	}

	

	.bloc-souscription{
		//height: 200px;
		width: 220px;
		border:solid 6px $bg-top-footer;
		padding:15px;


		form{

			
			label{
				position: relative;
				display: block;
				//height: 45px;
				

				span{/*Message*/
					//display: inline-block;
					padding-left: 20px;
					font-size: 15px;
					@extend .do-re;
					color:$bleu;
					position: absolute;
				    display: block;
				    top: 0px;
				    right: 0px;
				    line-height: 16px;
				}

				input{ opacity: 0;}

				&:before{
					width: 10px;
					height: 10px;
					border:solid 1px $rouge;
					content:'';
					position: absolute;
					top: 4px;
					left: 0;
				}

				&.radio{

					&:before{
						width: 9px;
						height: 9px;
						@include border-radius(50%); 
					}
				}

				&.cguv{
					height: 45px;
				}

				&.marge{
					margin-bottom: 10px;
				}

				&.select{

					&:before{
						background-color: $rouge;
					}

				}

			}

			>a{
				@include lien-souligne($rouge);
				
				text-align: left;
				border-bottom:solid 1px $rouge;
				line-height: 24px;
				display: inline;

				&:after{
					right: -25px;
					bottom: 8px;
				}

				&:hover{
					border-bottom: solid 1px #FFF;
				}


			}

			input[type="submit"]{
				background-color: $rouge;
				margin-top: 20px;
				display: block;
			}
		}

		.message-erreur{
			padding-top: 0;
			padding-bottom: 0;
		}

		
	}
}