div#tableau-de-bord{

	.solde-pts{
		width: 100%;
		height: 300px;
		position: relative;

        &.inactive {
            svg {
                #stop-gradient1,
                #stop-gradient2 {
                    stop-opacity: 0.8;
                }
                #stop-gradient1 {
                    stop-color: #DDD;
                }
                #stop-gradient2 {
                    stop-color: #AAA;
                }
                #solde-circle-path {
                    stroke-dashoffset: 0 !important;
                }
            }

            .point{

            	.pts{
                	color:$rouge;
                }

            }

            
        }

		svg{
			overflow: visible;
			//width: 300px - 13px;
			width: 275px;
			height: 275px;
			position: relative;
			left: 13px;
			#solde-circle-path {
				@include scale(0.9);
				fill:transparent;
				stroke-width:26px;
				stroke-linecap:butt;
				stroke-linejoin:miter;
				stroke-opacity:1;
				stroke-dasharray: 1000;
				stroke-dashoffset: 1000;
				//stroke-dashoffset: 300;
				transition: stroke-dashoffset 0.5s ease-out 0.5s; 

			}
			#stop-gradient1 {
				stop-color: $vj_03;
				stop-opacity:1;
				transition: stop-color 0.5s ease ;
			}
			#stop-gradient2 {
				stop-color: $vj_01;
				stop-opacity:1;
				transition: stop-color 0.5s ease ;

			}
			&:hover #solde-circle-path {
				//stroke-dashoffset: 0 !important;
			}
		}

		.point{
			position: absolute;
			width: 100px;
			height: 120px;
			top: 50%;
			margin-top: -60px;
			left: 50%;
			margin-left: -50px;

			.pts{
				color:$vert;
				@extend .do-bo;
				font-size: 80px;
				line-height: 70px;
				position: absolute;

				> span{
					display: block;
					position: absolute;
					top: 0px;
					right: -30px;
					@extend .do-me;
					font-size: 20px;
					line-height: 20px;
					text-transform: uppercase;

				}
			}

			> span{
				position: absolute;
				left: 0;
				bottom: 0;
				@extend .do-sm;
				font-size: 18px;
				line-height: 16px;
				color:$bleu;
				text-transform: uppercase;
				display: block;
				width: 100%;
				text-align: center;
			}
		}
	}

	.consomation{
		margin:0;
		width: 100%;
		padding:10px 0 20px 70px;
		float: left;
		//border-bottom: solid 4px $bg-top-footer;

		.pts{

			> .pts{
				width: 50px;
				height: 50px;
				line-height: 50px;
				@include border-radius(50%);
				background: $vj_03;
				color:#FFF; 
				text-align: center;
				float: left;
				margin-right: 10px;
				@extend .do-sm;
				font-size: 30px;
			}

			>.texte{
				display: block;
				width: 100px;
				line-height: 20px;
				float: left;
				text-transform: uppercase;
				font-size: 18px;
				@extend .do-sm;
				color:$vj_03;
				height: 50px;
				padding-top: 5px;

			}

			>.date{
				margin-left: 60px;
				@extend .do-sm;
				color:$bleu;
				font-size: 18px;
				float: left;
				margin-top: -5px;
			}
		}

	}

	.appel-courrier{
		width: 100%;
		float: left;
		padding: 20px 0;
		border-top: solid 4px $bg-top-footer;
		border-bottom: solid 4px $bg-top-footer;
		margin-bottom: 20px;

		.appel, .courrier{
			width: 50%;
			float: left;
			position: relative;
			padding-left: 80px;

			@extend .do-sm;
			color:$bleu;
			font-size: 18px;
			line-height: 16px;

			&:before{
				
				position: absolute;
				top: 0;
				left: 20px;
				font-weight: normal;
			}

			span{
				display: block;
				font-size: 30px;
				line-height: 24px;
			}
		}

		.appel{

			&:before{
				@include svgicon('icon-tel', 39px, 39px, #324968);
			}
		}

		.courrier{
			&:before{
				@include svgicon('icon-mail', 34px, 34px, #324968);
				left: 10px;
			}
		}
	}

	.mes-questions{
		padding-left: 20px; 

		> ul{
			padding: 0;
			margin: 0;



			li{
				margin: 0;
				padding: 0;
				position: relative;

				&:before{display: none;}

				p{
					margin: 0;
					padding: 0;
					font-size: 14px;
					line-height: 18px;
					@extend .do-sm;
					color:$bleu;
					height: 36px;
					overflow: hidden;
				}

				span{
					font-size: 14px;
					line-height: 18px;
					@extend .do-sm;
					color:$bleu;
					display: block; 


				}

				.date{
					position: absolute;
					top: 0;
					left: 40px;
					font-family: $helvetica;
					font-weight: 100;
					color:$bleu;
					font-size: 14px;
					text-transform: uppercase;
					text-decoration: none;
				}

				.reponse{
					position: absolute;
					top: 20px;
					left: 40px;
					font-family: $helvetica;
					font-weight: 100;
					color:$bleu;
					font-size: 14px;
					text-transform: uppercase;

				}

				.matiere{
					@extend .do-sm;
					color: #FFF;
				    text-transform: uppercase;
				    font-size: 12px;
				    background: #009999;
				    display: inline-block;
				    padding: 0 2px;
				    margin-bottom: 5px;
				}

				

				.repondu{
					color:$vert;
					position: relative;
					padding-left: 20px;
					margin-bottom: 10px;

					&:before{
						@include svgicon('icon-status-repondu', 16px, 16px, $vert);
						font-weight: normal;
						position: absolute;
						left:0px;
						top: 50%;
						margin-top: -8px;
					}
				}

				.en-cours{								
					
					position: relative;
					padding-left: 23px;

					&:before{
						@include svgicon('icon-clock', 16px, 16px, $bleu);
						font-weight: normal;
						position: absolute;
						left:0px;
						top: 50%;
						margin-top: -8px;

					}

				}
			}

			> li{
				margin-bottom: 15px;
				cursor: pointer;

				border-bottom:solid 4px #e6e6e6;
				padding-bottom: 15px;

				> ul{
					margin: 0;
					padding: 0;

					> li{

					}

					> li:first-child{
					    width: 30px;
					    height: 30px;
					    float: left;
					    margin-right: 10px;
					}

					> li:nth-child(2){
						padding-top: 15px;

						//width: 258px;
						margin-left: 40px;
					}

					> li:nth-child(3){
						margin-left: 40px;
					}
				}
			}

			
		}

		> a{
			@include lien-souligne($rouge);
			border-bottom:solid 1px $rouge;
			font-size: 16px !important;

			&:after{
				right: -25px;
				top: -5px;
				font-size: 40px;
			}
		}
	}

}