div#tableau-de-bord {

    width: 100%;
    float: left;

    .mon-solde {

        width: 100%;
        float: left;

        .solde-pts {
            height: auto;

            svg {
                width: 315px;
                height: 315px;
                left: 60px;
            }

            .point {
                height: 130px;
                width: 130px;
                margin-top: -65px;
                margin-left: -65px;

                .pts {
                    font-size: 84px;
                    line-height: 90px;

                    > span {
                        font-size: 28px;
                        line-height: 28px;
                        right: -41px;
                    }
                }

                > span {
                    font-size: 17px;
                    line-height: 18px;
                }
            }
        }

        .consomation {
            padding-left: 110px;

            .pts {
                overflow: hidden;

                > .pts {
                    width: 48px;
                    height: 48px;
                    line-height: 48px;
                    font-size: 28px;
                }

                >.texte {
                    font-size: 17px;
                    width: auto;
                    float: none;
                    line-height: 20px;
                    padding-top: 20px;

                }

                >.date {
                    font-size: 17px;
                    float: none;
                    line-height: 20px;

                }
            }

        }

        .appel-courrier {

            width: 300px;
            margin: 0 auto;
            border-bottom: 0;
            float: none;
            overflow: hidden;
            padding-left: 10px;


            .appel,
            .courrier {
                font-size: 17px;
                line-height: 17px;
                padding-left: 60px;

                &::before {
                    left: 15px;
                }

                span {
                    font-size: 28px;
                    line-height: 24px;
                }
            }

            .appel {
                &::before {
                    @include svgicon('icon-tel', 37px, 37px, #324968);
                }
            }

            .courrier {
                &::before {
                    @include svgicon('icon-mail', 32px, 32px, #324968);
                    left: 5px;
                }
            }
        }

    }

    .mes-questions {
        width: 100%;
        float: left;
        padding-top: 50px;
        border-top: solid 4px $bg-top-footer;

        > ul {
            li {
                p {
                    font-size: 18px;
                    line-height: 20px;
                    max-height: 54px;
                }

                span {
                    font-size: 18px;
                    line-height: 20px;
                }

                .date {
                    font-size: 18px;
                }

                .matiere {
                    font-size: 15px;
                    line-height: 17px;
                }

                .repondu {
                    padding-left: 30px;

                    &::before {
                        @include svgicon('icon-status-repondu', 24px, 24px, $vert);
                        top: 50%;
                        margin-top: -12px;
                    }
                }

                .en-cours {

                    position: relative;
                    padding-left: 30px;

                    &::before {
                        @include svgicon('icon-clock', 24px, 24px, $bleu);
                        top: 50%;
                        margin-top: -12px;

                    }

                }


            }

            > li {
                margin-bottom: 25px;
                padding-bottom: 25px;

                > ul {
                    > li:nth-child(3) {
                        margin-top: 15px;
                    }
                }
            }
        }

        > a {
            font-size: 20px !important;
        }
    }
}
