div#mes-factures {
    .liste-factures {

        &::before {
            @include svgicon('ico-sep', 19px, 19px, #e6e6e6);
            position: absolute;
            top: -5px;
            background: #fff;
            left: 50%;
            margin-left: -30px;
        }


        > li {
            padding: 30px 0 18px;

            ul {
                li {
                    font-size: 18px;

                    &::before {
                        content: none;
                    }

                    a.pdf {
                        &::before {
                            @include svgicon('icon-pdf', 25px, 25px, $rouge);
                        }
                    }
                }
            }
        }
    }
}
