div#releves-conso {

    ul {
        margin: 0;
        padding: 0;

        li {
            margin: 0;
            padding: 0;
            height: 86px;
            line-height: 86px;
            border-bottom: solid 4px $bg-top-footer;

            a.mois {
                font-size: 18px;
            }

            a.pdf {
                display: inline-block;
                width: 20%;

                &::before {
                    @include svgicon('icon-pdf', 25px, 25px, $rouge);
                    position: absolute;
                    right: 0;
                    top: 50%;
                    margin-top: -10px;
                }
            }

        }
    }
}
