/******************************************************************
Site Name:
Author:

Stylesheet: Typography

Need to import a font or set of icons for your site? Drop them in
here or just use this to establish your typographical grid. Or not.
Do whatever you want to...GOSH!

Helpful Articles:
http://trentwalton.com/2012/06/19/fluid-type/
http://ia.net/blog/responsive-typography-the-basics/
http://alistapart.com/column/responsive-typography-is-a-physical-discipline

******************************************************************/


/*********************
FONT FACE (IN YOUR FACE)
*********************/

/*  To embed your own fonts, use this syntax
  and place your fonts inside the
  library/fonts folder. For more information
  on embedding fonts, go to:
  http://www.fontsquirrel.com/
  Be sure to remove the comment brackets.
*/

/*  @font-face {
      font-family: 'Font Name';
      src: url('library/fonts/font-name.eot');
      src: url('library/fonts/font-name.eot?#iefix') format('embedded-opentype'),
             url('library/fonts/font-name.woff') format('woff'),
             url('library/fonts/font-name.ttf') format('truetype'),
             url('library/fonts/font-name.svg#font-name') format('svg');
      font-weight: normal;
      font-style: normal;
  }
*/


/*
The following is based of Typebase:
https://github.com/devinhunt/typebase.css
I've edited it a bit, but it's a nice starting point.
*/



@font-face {
    font-family: 'dosisbold';
    src: url('../fonts/dosis-bold-webfont.eot');
    src: url('../fonts/dosis-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/dosis-bold-webfont.woff2') format('woff2'),
         url('../fonts/dosis-bold-webfont.woff') format('woff'),
         url('../fonts/dosis-bold-webfont.ttf') format('truetype'),
         url('../fonts/dosis-bold-webfont.svg#dosisbold') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'dosismedium';
    src: url('../fonts/dosis-medium-webfont.eot');
    src: url('../fonts/dosis-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/dosis-medium-webfont.woff2') format('woff2'),
         url('../fonts/dosis-medium-webfont.woff') format('woff'),
         url('../fonts/dosis-medium-webfont.ttf') format('truetype'),
         url('../fonts/dosis-medium-webfont.svg#dosismedium') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'dosisregular';
    src: url('../fonts/dosis-regular-webfont.eot');
    src: url('../fonts/dosis-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/dosis-regular-webfont.woff2') format('woff2'),
         url('../fonts/dosis-regular-webfont.woff') format('woff'),
         url('../fonts/dosis-regular-webfont.ttf') format('truetype'),
         url('../fonts/dosis-regular-webfont.svg#dosisregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'dosissemibold';
    src: url('../fonts/dosis-semibold-webfont.eot');
    src: url('../fonts/dosis-semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/dosis-semibold-webfont.woff2') format('woff2'),
         url('../fonts/dosis-semibold-webfont.woff') format('woff'),
         url('../fonts/dosis-semibold-webfont.ttf') format('truetype'),
         url('../fonts/dosis-semibold-webfont.svg#dosissemibold') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'helveticaregular';
    src: url('../font/skycw1-webfont.eot');
    src: url('../font/skycw1-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/kycw1-webfont.woff2') format('woff2'),
         url('../fonts/kycw1-webfont.woff') format('woff'),
         url('../fonts/kycw1-webfont.ttf') format('truetype'),
         url('../fonts/kycw1-webfont.svg#helveticaregular') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'helveticabold';
    src: url('../fonts/kycw1_1-webfont.eot');
    src: url('../fonts/kycw1_1-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/kycw1_1-webfont.woff2') format('woff2'),
         url('../fonts/kycw1_1-webfont.woff') format('woff'),
         url('../fonts/kycw1_1-webfont.ttf') format('truetype'),
         url('../fonts/kycw1_1-webfont.svg#helveticabold') format('svg');
    font-weight: normal;
    font-style: normal;

}





@font-face {
    font-family: 'dosisextralight';
    src: url('../fonts/dosis-extralight-webfont.eot');
    src: url('../fonts/dosis-extralight-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/dosis-extralight-webfont.woff2') format('woff2'),
         url('../fonts/dosis-extralight-webfont.woff') format('woff'),
         url('../fonts/dosis-extralight-webfont.ttf') format('truetype'),
         url('../fonts/dosis-extralight-webfont.svg#dosisextralight') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'dosisextrabold';
    src: url('../fonts/dosis-extrabold-webfont.eot');
    src: url('../fonts/dosis-extrabold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/dosis-extrabold-webfont.woff2') format('woff2'),
         url('../fonts/dosis-extrabold-webfont.woff') format('woff'),
         url('../fonts/dosis-extrabold-webfont.ttf') format('truetype'),
         url('../fonts/dosis-extrabold-webfont.svg#dosisextrabold') format('svg');
    font-weight: normal;
    font-style: normal;

}





// font stacks
$sans-serif:        Arial, "Helvetica Neue", Helvetica, sans-serif;
$serif:             "Georgia", Cambria, Times New Roman, Times, serif;

.do-re{
    font-family: 'Dosis';
    font-weight: 400;
}
.do-me{
    font-family: 'Dosis';
    font-weight: 500;
}
.do-bo{

    font-family: 'Dosis';
    font-weight: 700;
}
.do-sm{
    font-family: 'Dosis';
    font-weight: 600;
}
.do-el{
    font-family: 'Dosis';
    font-weight: 200;
}
.do-eb{
    font-family: 'Dosis';
    font-weight: 800;
}

$helvetica: helveticaregular;
$helvetica-bold:    helveticabold;

$garamond : 'EB Garamond';