/****

  _        _ __   _______ ____    ____   ___  ____  _____ _____  _   _ _   _ _____    ___  _   _ _____ ____ _____ ___ ___  _   _ 
 | |      / \\ \ / / ____|  _ \  |  _ \ / _ \/ ___|| ____|__  / | | | | \ | | ____|  / _ \| | | | ____/ ___|_   _|_ _/ _ \| \ | |
 | |     / _ \\ V /|  _| | |_) | | |_) | | | \___ \|  _|   / /  | | | |  \| |  _|   | | | | | | |  _| \___ \ | |  | | | | |  \| |
 | |___ / ___ \| | | |___|  _ <  |  __/| |_| |___) | |___ / /_  | |_| | |\  | |___  | |_| | |_| | |___ ___) || |  | | |_| | |\  |
 |_____/_/   \_\_| |_____|_| \_\ |_|    \___/|____/|_____/____|  \___/|_| \_|_____|  \__\_\\___/|_____|____/ |_| |___\___/|_| \_|
                                                                                                                                 

*/

#layer-posez-question{
	
	width: 660px;
	max-width: 660px;
	margin:0 auto;
	padding: 0;
	background: transparent;



	.block_top{
		padding: 10px 10px 0 10px;

		background: #FFF;

		> .titre{

			.close_layer{
				position: absolute;
				right: 10px;
				top: 50%;
				margin-top: -20px;
				display: block;
				width: 40px;
				height: 40px;
				
				&:before{
					@include svgicon('icon-close-layer-question', 20px, 20px, #FFF);
					@include rotate(-45);
					position: absolute;
					top: 11px;
					left: 11px;
				}

				

			}

			.texte{			

			//height: 18px;


				&:before{					
				}

			}
			
		}

		.onglets{

			
			width: 620px;
			margin-left:10px;


			.h2{
				width: 50%;				

				&:hover{
					
				}

			}

			.h2.open{				
				width: 50%;
			}
		}

		.details{
			
			width: 620px;
			margin:0 auto; 
			

			.consultation{
				

				#owl-support{
					

					.owl-item{
						

						.item{
							
							width: 200px;
							margin-right: 10px;

							&:before{								
								
							}

							&:last-child{
								margin-right: 0;
							}

						}

						.label{
							
							font-size: 20px;

							&:before{
								@include svgicon('icon-angle-bottom', 15px, 15px, $vj_03);
								position: absolute;
								left: 50%;
								margin-left: -24px;
								bottom:-14px;
							}

						}

						.description{							
							text-align: center;
						}

					}

				}				

			}

			.question{

				.block_gauche{
					
				}

				.block_droit{
					width: 100%;
					clear: both;
					border:solid 1px transparent;

					.form{
						width: 100%;
						padding-bottom: 20px;
						margin-top: 15px;

						input[type="text"], textarea{							
							margin-bottom: 15px;


						}

						select{							
							margin-bottom: 15px;
						}

						input[type="submit"]{
						}

						input[type="file"]{
							
						}

						.fileUpload {
						 

						}
						.fileUpload input.upload {						  
						}

						.sep{							

						}

						
					}
				}

			}

			
			

			
		}

		

	}

	.block_bottom{
		clear: both;
		float: none;
		height: 260px;
		background: transparent;
		width: 100%;


		.block_03{
			display: block;
			padding: 10px 0 40px 0;
			float: left;
			width: 640px;
			margin-top: 20px;

			margin-left: 10px;

			.block {
				
				margin-bottom: 10px;
				background-color: #FFF;
				position: relative;
				cursor: pointer;

				width: 206px;
				height: 210px;
				float: left;
				margin-right: 10px; 

				

				&:nth-child(3){ margin-right: 0;} 


				.content{
					height: 100px;
					//background-color: $vert;
					position: absolute;
					bottom: 0;
					left: 0;
					overflow: hidden;
					width: 100%;
					transition: height $duration ease;

					&:before, &:after{
						content: '';
						width: calc(100% / 2);
						position: absolute;
						top: 0;
						display: block;
						height: 146px;
						transition: height $duration ease, background $duration ease;
						border:none;
						box-sizing: border-box;

						background: $vert;
						@include gradient-opacity(transparentize($vert, 0.4),opacify($vert, 1));
						background-size: 100% 200%;

					}

					&:before{
						
						@include border-radius(0 20px 0 0);
						left: 0;
					}

					&:after{

						@include border-radius(20px 0 0 0);
						right: 0;


					}

										
					.h2{ 
						position: relative;
						z-index: 2000;
						font-family: $dosis;
    					font-weight: 600;
						color:#FFF;
						font-size: 30px;
						line-height: 30px;
						text-transform: uppercase;
						text-align: center;
						margin: 20px 0 0 0;
						padding: 0;
						font-weight: normal;

						span{
							display: block;
							font-size: 17px;
							line-height: 18px;
							font-family: 'EB Garamond';
							color:#FFF;
							text-transform: none;
							font-weight: normal;

						}

						&:before{
							/*font-weight:normal;*/
						}
					}

					> a{
						display: block; 
						color:#FFF;
						position: relative;
						z-index: 2000;
						text-decoration: none;
						text-align: center;
						@extend .do-el;
						font-size: 40px;
						line-height: 20px;
						padding: 0;
						margin: 0;
					}

					&:hover{

						> a{
							@extend .do-bo;
						}
					}
				}

				
			}

			.poser{
				background: url(../images/origin/bg-poser-une-question-tel.png);
				background-size: cover;
			}

			.demander{
				background: url(../images/origin/bg-consulter-mobile.png);
				background-size: cover;

			}

			.prendre{
				background: url(../images/origin/bg-prendre-rdv.png);
				background-size: cover;
			}
			
		}

		.block_3_mobile{
			display: none;			
		}

	}

	
}


#layer-cridonline,
#layer-add-collabs,
#layer-sup-collabs,
.popup{
 
	width: 660px;
	max-width: 660px;
	margin:0 auto;
	padding: 0;

	>.titre{
		

		height: 115px;

		&:before{
			
		}

		.close_layer{
			cursor: pointer;
			
			&:before{
			
			}

			

		}

		.texte{
			font-size: 35px;
			line-height: 40px;
			padding-left: 60px;
			margin-top: -40px;
			
			> span{
			}	

			&:before{

				font-weight: normal;
				top: 50%;
				margin-top: -20px;
				position: absolute;
				left: 0;
				display: block;

			}	

		}
	}

	.block{ 

		p{
			

			width: 420px;
			display: block;
			margin: 0 auto;
			line-height: 32px;
		}

		a, form{
			margin-top: 60px;
			position: relative;
			display: inline-block;
			padding: 0 3px;
			width: auto;
			margin-bottom: 50px;

			&:after{
				width: 600px;
				height: 5px;
				background: $bg-top-footer;
				position: absolute;
				bottom: -25px;
				left: 50%;
				margin-left: -300px;
				content:'';

			}
		}

		
	}

	>form{
		margin: 45px 35px 60px 35px;
		padding:0 0 25px 0;
		border-bottom:solid 4px $bg-top-footer;



	input[type="text"], select{
			max-width: 100%;
			margin-bottom: 14px;
		}

		div.submit{
			//text-align: center;
		}


		.droit-collaborateur{
			margin-bottom: 60px;

			

			label{
				
				

				span{
				}

				input{ opacity: 0;

					

				}

				&:before{
					
				}

				&.select{
					&:before{
						
					}

				}
			}
		}
	}
			
		

}